<a4j:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalCambiarFecha" autosized="true"
		showWhenRendered="#{gestionDomiciliariaBean.mostrarPopupCambiarFechaDireccionamientoDomi}"
		domElementAttachment="form" width="450">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Cambiar Programacion Esperada" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionDomiciliariaBean.cerrarPopupCambiarFechaDireccionamientoDomi}"
					reRender="modalCambiarFecha"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<rich:panel id="panelCambiarFecha" header="">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="Motivo*:" style="font-weight: bold;" /></td>
					<td><h:selectManyCheckbox layout="pageDirection"
							value="#{gestionDomiciliariaBean.cambioFecha.motivos}">
							<f:selectItems value="#{gestionDomiciliariaBean.lstMotivos}"
								var="obj" itemValue="#{obj.value}" itemLabel="#{obj.label}" />
						</h:selectManyCheckbox></td>
				</tr>
				<tr>
					<td><h:outputText value="Fecha Esperado*:"
							style="font-weight: bold;" /></td>
					<td><rich:calendar datePattern="yyyy/MM/dd"
							value="#{gestionDomiciliariaBean.cambioFecha.fechaEsperado}"
							boundaryDatesMode="scroll" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Justificacion*: "
							style="font-weight: bold;" /></td>
					<td rowspan="4" colspan="7"><h:inputTextarea
							value="#{gestionDomiciliariaBean.cambioFecha.justificacion}"
							cols="50" /></td>
				</tr>

			</table>
			<center>
				<a4j:commandButton value="Cancelar"
					style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					action="#{gestionDomiciliariaBean.cerrarPopupCambiarFechaDireccionamientoDomi}"
					reRender="modalCambiarFecha" />
				<a4j:commandButton value="Cambiar" 
					reRender="modalCambiarFecha,datosDireccionamientoCUMSPanel, modalPnlPop"
					action="#{gestionDomiciliariaBean.cambiarFechaDireccionamiento}"
					style="font-size: 92%; font-family: Arial, Helvetica, sans-serif;">
				</a4j:commandButton>
			</center>
		</rich:panel>
	</rich:modalPanel>
</a4j:form>
