<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosSolicitudDomiciliaria"
		header="Datos Solicitud">

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Fecha Creación: "
						style="font-weight: bold;" /></td>
				<td width="10px"><h:inputText readonly="true"
						style="width:200px;"
						value="#{gestionDomiciliariaBean.solicitudVO.fechaCreacion}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:inputText></td>
				<td width="10"><h:outputText value="Fecha Solicitud Médica: "
						style="font-weight: bold;" /></td>
				<td><h:inputText readonly="true" style="width:200px;"
						value="#{gestionDomiciliariaBean.solicitudVO.fechaSolicitud}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:inputText></td>
				<td><h:outputText value="No Solicitud:"
						style="font-weight: bold;" /></td>
				<td><h:inputText readonly="true" style="width:100px;"
						value="#{gestionDomiciliariaBean.solicitudVO.numeroSolicitudProovedor}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Prioridad:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.prioridad}" /></td>
				<td><h:outputText value="Plan:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionDomiciliariaBean.datosBasicosAfiliado.plan.descripcionPlan}" /></td>
				<td><h:outputText value="Origen Solicitud:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.origenSolicita}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Origen Atención:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.origenAtencion}" /></td>

				<td><h:outputText value="Clase Atención:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.claseAtencion}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Recobro:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.recobro}" /></td>

				<td><h:outputText value="Supera Tope SOAT?:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.superaTopeSoat}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Justificación Clinica: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
						readonly="true"
						value="#{gestionDomiciliariaBean.solicitudVO.justificacionClinica}" />
				</td>
				<td>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
						<tr>
							<td><a4j:commandButton value="Hospitalización"
									styleClass="btnAccion"
									disabled="#{!gestionDomiciliariaBean.mostrarBotonHospitalizacionDomi}"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionDomiciliariaBean.verHospitalizacionDomi}"
									reRender="modalHospitalizacion" /></td>
						</tr>
						<tr>
							<td><a4j:commandButton value="Ver Solicitud"
									styleClass="btnAccion"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionDomiciliariaBean.verSolicitudDetalladaDomi}"
									reRender="modalVerSolicitud" /></td>
						</tr>
						<tr>
							<td><a4j:commandButton value="Ver Soporte"
									styleClass="btnAccion"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionDomiciliariaBean.verPopupSoportesAuditoriaDomi}"
									reRender="modalDocumentosSoportes" /></td>
						</tr>
					</table>

				</td>
			</tr>
			<tr>
				<td><h:outputText value="Diagnósticos:"
						style="font-weight: bold;" /></td>
				<td colspan="6"><a4j:region>
						<rich:dataTable id="tableDiagnosticos"
							value="#{gestionDomiciliariaBean.listaDiagnosticosSeleccionados}"
							var="diagnostico" rows="15" width="100%">
							<rich:column>
								<f:facet name="header">
									<h:outputLabel value="" />
								</f:facet>
								<a4j:commandLink
									onclick="Richfaces.showModalPanel('confirmationPopupEliminar');">
									<h:outputText value="Eliminar" />
									<f:setPropertyActionListener value="#{diagnostico}"
										target="#{gestionDomiciliariaBean.diagnosticoDTOSeleccionado}" />
								</a4j:commandLink>
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Principal?" />
								</f:facet>
								<h:outputText value="#{diagnostico.principal}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Código" />
								</f:facet>
								<h:outputText value="#{diagnostico.codigo}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Descripción" />
								</f:facet>
								<h:outputText value="#{diagnostico.descripcion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Asignado SOS?" />
								</f:facet>
								<h:outputText value="#{diagnostico.asignadoSOS}" />
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller for="tableDiagnosticos" maxPages="20" />
							</f:facet>
						</rich:dataTable>
					</a4j:region></td>
			</tr>
			<tr>
				<td><h:outputText value="Nuevo Diagnóstico:"
						style="font-weight: bold;" /></td>
				<td><h:inputText id="txtCodDiagnostico" style="width:200px;"
						value="#{gestionDomiciliariaBean.txtCodigoDiagnostico}" /></td>
				<td colspan="2"><h:inputText id="txtDescripDiagnostico"
						value="#{gestionDomiciliariaBean.txtDescripcionDiagnostico}"
						style="width:330px;">
					</h:inputText> <a4j:commandButton value="Q"
						onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
						oncomplete="#{rich:component('waitPanel')}.hide()"
						action="#{gestionDomiciliariaBean.buscarDiagnostico}"
						image="${request.contextPath}/css/images/ico/icon-search.png"
						reRender="modalDiagnostico, txtDescripDiagnostico, txtCodigoDiagnostico, modalPnlPop"
						styleClass="sosbotonsearch2" /></td>
				<td><h:outputText value="Principal? "
						style="font-weight: bold;" />
				<h:selectOneMenu
						value="#{gestionDomiciliariaBean.checkDiagnosticoPpalDomi}"
						style="width:50px;">
						<f:selectItem itemValue="true" itemLabel="Si" />
						<f:selectItem itemValue="false" itemLabel="No" />
					</h:selectOneMenu></td>
				<td><h:outputText value="SOS " style="font-weight: bold;" /> <h:selectBooleanCheckbox
						value="#{gestionDomiciliariaBean.checkDiagnosticoSOSDomi}" /></td>
				<td><a4j:commandButton value="+ Adicionar Diagnóstico"
						onclick="Richfaces.showModalPanel('confirmationPopupAdicionar');"
						reRender="panelDatosSolicitudDomiciliaria, modalPnlPop"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
					</a4j:commandButton></td>
			</tr>
			<tr>
				<td><h:outputText value="Observaciones: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
						value="#{gestionDomiciliariaBean.solicitudVO.obsSolicitud}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Observaciones Sobre Gestión Requerida: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
					readonly="true"
					value="#{gestionDomiciliariaBean.solicitudVO.observacionesGestionAuditor}" /></td>
			</tr>
		</table>

	</rich:panel>

	<rich:modalPanel id="confirmationPopupEliminar" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupEliminar');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
				<td style="text-align:center" colspan="2"><h:outputText
						value="¿Esta seguro que desea eliminar el diagnostico seleccionado?"
						style="font-weight: bold;" /></td>
			</tr>
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Si"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{gestionDomiciliariaBean.elimiarDiagnosticoSeleccionado}"
						oncomplete="Richfaces.hideModalPanel('confirmationPopupEliminar');"
						reRender="modalPnlPop, tableDiagnosticos" /></td>
				<td style="text-align:center"><a4j:commandButton value="No"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('confirmationPopupEliminar');" /></td>
				
			</tr>
		</table>
	</rich:modalPanel>
	
	<rich:modalPanel id="confirmationPopupAdicionar" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupAdicionar');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
				<td style="text-align:center" colspan="2"><h:outputText
						value="¿Esta seguro que desea agregar el diagnostico seleccionado?"
						style="font-weight: bold;" /></td>
			</tr>
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Si"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{gestionDomiciliariaBean.adicionarDiagnostico}"
						oncomplete="Richfaces.hideModalPanel('confirmationPopupAdicionar');"
						reRender="modalPnlPop, tableDiagnosticos, panelDatosSolicitudDomiciliaria" /></td>
				<td style="text-align:center"><a4j:commandButton value="No"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('confirmationPopupAdicionar');" /></td>
				
			</tr>
		</table>
	</rich:modalPanel>

</ui:composition>