<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:panel id="panelPrestacionesDomiciliarias"
		header="Prestaciones Solicitadas">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:90%;">
			<a4j:region>
			<tr>
				<td><rich:dataTable id="tablePrestacionesAprobadas"
						value="#{gestionDomiciliariaBean.lstPrestacionesSolicitadas}"
						var="obj" rows="15" width="90%">

						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Seleccionar" />
							</f:facet>
							<a4j:commandLink rendered="#{!obj.verDetalle}"
								action="#{gestionDomiciliariaBean.cargarPrestacion}"
								reRender="panelTab, modalPnlPop">
								<h:outputText value="Seleccionar" />
								<f:setPropertyActionListener value="#{obj}"
									target="#{gestionDomiciliariaBean.prestacionesAprobadasDTOTemp}" />
							</a4j:commandLink>
						</rich:column>

						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo" />
							</f:facet>
							<h:outputText value="#{obj.tipoPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código" />
							</f:facet>
							<h:outputText value="#{obj.codigoPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Descripción" />
							</f:facet>
							<h:outputText value="#{obj.descripcion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Estado" />
							</f:facet>
							<h:outputText value="#{obj.estadoPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Req. Auditoria" />
							</f:facet>
							<h:outputText value="#{obj.requiereAuditoria}" />
						</rich:column>
						<rich:column visible="false">
							<f:facet name="header">
								<h:outputText value="Req. Auditoria" />
							</f:facet>
							<h:outputText value="#{obj.conscodigoPrestacionGSA}" />
						</rich:column>

						<f:facet name="footer">
							<rich:datascroller for="tablePrestacionesAprobadas" maxPages="20" />
						</f:facet>
					</rich:dataTable></td>
			</tr>
			</a4j:region>
			<td style="text-align:left"><a4j:commandButton
					action="#{gestionDomiciliariaBean.abrirPopupAdicionarPrestaciones}"
					reRender="modalAdicionarPrestacion"
					value="+ Adicionar Prestación" styleClass="btnAccion"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:120px;"
					onclick="Richfaces.showModalPanel('modalAdicionarPrestacion');" /></td>
		</table>

	</rich:panel>
</ui:composition>