<h:form id="formPopupDiagnostico" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDiagnostico" autosized="true" width="500"
		showWhenRendered="#{gestionDomiciliariaBean.mostrarPopupDiagnosticos}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Diagnóstico" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionDomiciliariaBean.cerrarPopupDiagnostico}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalDiagnostico');">
				</a4j:commandButton>
			</h:panelGroup>
		</f:facet>

		<rich:dataTable id="dataTableDiagnosticos" width="98%"
			value="#{gestionDomiciliariaBean.listaDiagnosticosEncontrados}"
			var="diagnostico" rows="15">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink
					action="#{gestionDomiciliariaBean.seleccionarDiagnostico}"
					reRender="panelDatosSolicitudDomiciliaria"
					oncomplete="Richfaces.hideModalPanel('modalDiagnostico');">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener
						target="#{gestionDomiciliariaBean.diagnosticoVoSeleccionadoDomi}"
						value="#{diagnostico}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código" />
				</f:facet>
				<h:outputText value="#{diagnostico.codigoDiagnostico}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Descripción" />
				</f:facet>
				<h:outputText value="#{diagnostico.descripcionDiagnostico}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableDiagnosticos"/>
			</f:facet>
		</rich:dataTable>

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{gestionDomiciliariaBean.cerrarPopupDiagnostico}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalDiagnostico');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>