<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/inicioBpm.xhtml">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formGestionDomiciliaria">

			<rich:panel header="Gestión Domiciliaria">

				<rich:simpleTogglePanel switchType="client" label="AFILIADO - #{gestionDomiciliariaBean.afiliadoVO.nombreCompleto} / #{gestionDomiciliariaBean.afiliadoVO.tipoIdentificacionAfiliado.descripcionTipoIdentificacion} #{gestionDomiciliariaBean.afiliadoVO.numeroIdentificacion} / #{gestionDomiciliariaBean.afiliadoVO.descripcionEstadoAfiliado} - #{gestionDomiciliariaBean.afiliadoVO.plan.descripcionPlan} / #{gestionDomiciliariaBean.altoRiesgo}">
					<ui:include src="datosAfiliadoDomiciliariaPanel.xhtml" />
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel switchType="client" label="SOLICITUD - Fecha Solicitud: #{gestionDomiciliariaBean.fechaSolicitud} - Nro Solicitud: #{gestionDomiciliariaBean.solicitudVO.numeroSolicitudProovedor} - Prioridad: #{gestionDomiciliariaBean.solicitudVO.prioridad}">
					<ui:include src="datosSolicitudDomiciliariaPanel.xhtml" />
				</rich:simpleTogglePanel>

				<ui:include src="datosPrestacionesDomiciliariaPanel.xhtml" />

				<h:panelGroup id="panelTab">
					<rich:tabPanel id="tabsDomiciliaria" switchType="ajax"
						rendered="#{gestionDomiciliariaBean.verPestañaCums}">
						<rich:tab name="CUMS" label="CUMS">
							<ui:include src="datosCUMSDomiciliariaPrestacionPanel.xhtml" />
							<ui:include
								src="datosCUMSDomiciliariaDireccionamientoPanel.xhtml" />
							<ui:include src="datosCUMSGestionAuditorPanel.xhtml" />
							<ui:include src="datosNegacionPanel.xhtml" />
						</rich:tab>
					</rich:tabPanel>
				</h:panelGroup>
				<div align="center">
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td align="center"><h:outputText
									value="Requiere otra Gestión: " style="font-weight: bold;" />
								<h:selectOneMenu
									value="#{gestionDomiciliariaBean.descGrupoAuditor}"
									style="width:300px;">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{gestionDomiciliariaBean.lstGruposAuditores}" />
								</h:selectOneMenu></td>
							<td><a4j:commandButton value="Reasignar"
									onclick="Richfaces.showModalPanel('confirmationPopupReasignar');"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
									styleClass="btnAccion" /></td>
						</tr>
					</table>
					<a4j:commandButton value="Historico Prestaciones"
						styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:120px;"
						action="#{gestionDomiciliariaBean.verHistoricoPrestacionesDomi}"
						reRender="modalHistoricos"/>
					<a4j:commandButton value="Guardar"
						reRender="modalFacesError,confirmationPopupGuardar"
						action="#{gestionDomiciliariaBean.verConfirmacionGuardarDomi}"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
					<a4j:commandButton value="Enviar"
						onclick="Richfaces.showModalPanel('confirmationPopupTerminar');"
						reRender="modalFacesError"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
					<a4j:commandButton value="Liberar"
						onclick="Richfaces.showModalPanel('confirmationPopLiberar');"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
				</div>
			</rich:panel>

			<rich:modalPanel id="confirmationPopEliminar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopEliminar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea eliminar el diagnóstico seleccionado?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionDomiciliariaBean.elimiarDiagnosticoSeleccionado}"
								reRender="tableDiagnosticos"
								oncomplete="Richfaces.hideModalPanel('confirmationPopEliminar');" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopEliminar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopLiberar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopLiberar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea liberar la tarea?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionDomiciliariaBean.liberarTarea}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopLiberar');"
								reRender="modalPnlPop" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopLiberar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupTerminar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea enviar la tarea?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionDomiciliariaBean.terminarTarea}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupTerminar');"
								reRender="modalPnlPop" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupGuardar" autosized="true"
				showWhenRendered="#{gestionDomiciliariaBean.mostrarConfirmacionGuardarDomi}"  width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupGuardar');"
							reRender="confirmationPopupGuardar"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" >
							<f:setPropertyActionListener
						       target="#{gestionDomiciliariaBean.mostrarConfirmacionGuardarDomi}"
						       value="#{false}" />
						 </a4j:commandButton>
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea guardar los cambios?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionDomiciliariaBean.guardar}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupGuardar');"
								reRender="formGestionDomiciliaria:panelTab, formGestionDomiciliaria:tablePrestacionesAprobadas, modalPnlPop" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								onclick="Richfaces.hideModalPanel('confirmationPopupGuardar');"
								reRender="confirmationPopupGuardar"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;" >
								<f:setPropertyActionListener
							       target="#{gestionDomiciliariaBean.mostrarConfirmacionGuardarDomi}"
							       value="#{false}" />
							 </a4j:commandButton></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupReasignar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea reasignar la tarea?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionDomiciliariaBean.abrirPopupReasignarSolicitudDomi}"
								onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
								reRender="modalPnlPop, modalReasignarPrestacion" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>
		</h:form>
		<ui:include src="historicosPrestacionPopup.xhtml" />
		<ui:include src="gestionesPrestacionPopup.xhtml" />
		<ui:include src="antecedentesPrestacionPopup.xhtml" />

		<ui:include src="datosAdicionarPrestacionPopup.xhtml" />

		<ui:include src="cambiarFechaEsperadosPopup.xhtml" />
		<ui:include src="cambiarDireccionamientoPopup.xhtml" />

		<ui:include src="detalleAfiliadoPopup.xhtml" />
		<ui:include src="hospitalizacionPopup.xhtml" />
		<ui:include src="detalleSolicitudPopup.xhtml" />
		<ui:include src="diagnosticoPopup.xhtml" />
		<ui:include src="prestacionMedicamentosPopup.xhtml" />
		<ui:include src="documentosSoportePopup.xhtml" />
		<ui:include src="detConveniosCapacitPopup.xhtml" />
		<ui:include src="reasignarPrestacionPopup.xhtml" />
		<ui:include src="ciudadesPopup.xhtml" />
	</ui:define>
</ui:composition>
</html>