<h:form id="formHospitalizacion"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalHospitalizacion" autosized="true" 
	showWhenRendered="#{gestionDomiciliariaBean.mostrarPopupHospitalizacionDomi}" width="600">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Datos Hospitalización" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionDomiciliariaBean.cerrarHospitalizacionDomi}"
					reRender="modalHospitalizacion"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<rich:panel header="Datos Hospitalización">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>

					<td><h:outputText value="Fecha Ingreso: " /></td>
					<td><h:inputText style="width:180px;" readonly="true"
							value="#{gestionDomiciliariaBean.hospitalizacion.fechaIngreso}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:inputText></td>
				</tr>
				<tr>

					<td><h:outputText value="Fecha Egreso: " /></td>
					<td><h:inputText style="width:180px;" readonly="true"
							value="#{gestionDomiciliariaBean.hospitalizacion.fechaEgreso}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:inputText></td>
				</tr>
				<tr>

					<td><h:outputText value="Corte Cuenta: " /></td>
					<td><h:inputText style="width:180px;" readonly="true"
							value="#{gestionDomiciliariaBean.hospitalizacion.corteCuenta}">
							<f:convertNumber pattern="#000.000" />
						</h:inputText></td>
				</tr>
			</table>
		</rich:panel>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Cerrar"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{gestionDomiciliariaBean.cerrarHospitalizacionDomi}"
						reRender="modalHospitalizacion" /></td>
			</tr>
		</table>

	</rich:modalPanel>
</h:form>