<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">
	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />
	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />
	<ui:param name="lblTooltipDevuelta" value="#{label.lblTooltipDevuelta}" />
	<ui:param name="lblTooltipAuditoria"
		value="#{label.lblTooltipAuditoria}" />
	<ui:param name="valorDevuelta" value="#{label.valorDevuelta}" />
	<ui:param name="valorAuditoria" value="#{label.valorAuditoria}" />
	<ui:param name="valorAprobada" value="#{label.valorAprobada}" />
	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>
	<!-- definicion de archivos javascript adicionales. -->
	<ui:define name="js">
		<script type="text/javascript"
			src="${request.contextPath}/resources/js/jquery-3.1.1.min.js"></script>
		<script>
			$.noConflict();
		</script>
	</ui:define>
	<ui:define name="content">
		<h:form id="formFechaEntrega">
			<rich:panel id="panelSolicitudFechaEntrega"
				header="Solicitud N. Radicado: #{consultarSolicitudBean.solicitudSeleccionada.numeroRadicado}">
				<rich:panel header="Información Afiliado">
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="Identificación: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.numeroIdentificacion}"
									disabled="true" /></td>
							<td><h:outputText value="Nombre: "
									style="font-weight: bold; text-align:left;" /></td>
							<td colspan="6"><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.nombreCompleto}"
									disabled="true" style="width:425px;" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Plan: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.descripcionPlan}"
									disabled="true" /></td>

							<td><h:outputText value="Edad: "
									style="font-weight: bold; text-align:left;" /></td>
							<td>
								<table
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
									<tr>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadAnos}"
												disabled="true" /></td>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadMeses}"
												disabled="true" /></td>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadDias}"
												disabled="true" /></td>
									</tr>
									<tr>
										<td>Años</td>
										<td>Meses</td>
										<td>Días</td>
									</tr>
								</table>
							</td>
							<td><h:outputText value="Email: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.email}"
									disabled="true" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Presolicitud: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.consecutivoPresolicitud}"
									disabled="true" /></td>
						</tr>
					</table>
				</rich:panel>
				<rich:panel header="Prestaciones">
					<rich:dataTable id="tablePrestaciones" rows="15"
						style="margin:auto;"
						value="#{consultarSolicitudBean.listaPrestacionDTO}"
						var="prestacion">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo" />
							</f:facet>
							<h:outputText
								value="#{prestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código" />
							</f:facet>
							<h:outputText value="#{prestacion.codigoCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Descripción" />
							</f:facet>
							<h:outputText
								value="#{prestacion.descripcionCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Cant." />
							</f:facet>
							<h:outputText value="#{prestacion.cantidad}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Pos" />
							</f:facet>
							<h:outputText value="#{prestacion.indicadorNoPOS}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Lateralidad" />
							</f:facet>
							<h:outputText
								value="#{prestacion.lateralidadesVO.descripcionLateralidad}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Vía Acceso" />
							</f:facet>
							<h:outputText
								value="#{prestacion.viaAccesoVO.descripcionViaAcceso}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Posología" />
							</f:facet>
							<h:outputText value="#{prestacion.dosisVO.descripcionDosis}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Concentración" />
							</f:facet>
							<h:outputText
								value="#{prestacion.concentracionVO.descripcionConcentracion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Presentación" />
							</f:facet>
							<h:outputText
								value="#{prestacion.presentacionVO.descripcionPresentacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="F. Entrega" />
							</f:facet>
							<h:outputText value="#{prestacion.fechaEstimadaEntrega}">
								<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Recobro" />
							</f:facet>
							<h:outputText value="#{prestacion.descripcionRecobro}">
								<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
							</h:outputText>
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="tablePrestaciones" />
						</f:facet>
					</rich:dataTable>
				</rich:panel>

				<rich:panel header="Información Adicional Prestaciones">
					<rich:dataTable id="tableDatosAdicionalesPrestaciones" rows="15"
						style="margin:auto;"
						value="#{consultarSolicitudBean.listaInformacionAdicionalPrestacionDTO}"
						var="adicionalPrestacion">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.codigoCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Descripción" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.descripcionCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Estado Servicio" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.descripcionEstadoPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Radicador" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.nombreUsuarioAutoriza}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Auditor" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.nombreUsuarioAudita}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Bandeja" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.requiereOtraGestionAuditor}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código Interno" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.codigoInternoDireccionamiento}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Nombre Prestador" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.prestadorDireccionamiento}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Nivel Atención" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.nivelAtencion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Justificación Auditor" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.justificacionAuditor}" />
						</rich:column>
					</rich:dataTable>
				</rich:panel>
			</rich:panel>
			<br/>
			<br/>
			<center>
				<a4j:commandButton value="Modificar Fecha Entrega"
					id="btnFechaEntrega"
					action="#{consultarSolicitudBean.abrirPopupModificarFechaEntrega}"
					reRender="formFechaEntrega, panelModificarFechaEntrega, modalPnlPop, modalFacesError"
					rendered="#{!consultarSolicitudBean.mostrarPopupModFechaEntrega}"
					disabled="#{consultarSolicitudBean.mostrarBtnModificarFechaEntrega}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				</a4j:commandButton>
			</center>
			<rich:panel id="panelModificarFechaEntrega"
				header="Modificar Fecha de Entrega"
				rendered="#{consultarSolicitudBean.mostrarPopupModFechaEntrega}">
				<a4j:region>
					<rich:panel id="panelFechaEntrega" styleClass="sosPanel">
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="N. Radicado Solicitud:"
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:160px;" disabled="true"
										value="#{consultarSolicitudBean.solicitudSeleccionada.numeroRadicado}">
									</h:inputText></td>
							</tr>
						</table>
						<rich:spacer width="1" height="10" />
						<rich:dataTable id="tPrestaciones" rows="8" style="margin:auto;"
							value="#{consultarSolicitudBean.listaPrestacionFechaEntrega}"
							var="prestacion">
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Tipo" />
								</f:facet>
								<h:outputText
									value="#{prestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Código" />
								</f:facet>
								<h:outputText value="#{prestacion.codigoCodificacionPrestacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Descripción" />
								</f:facet>
								<h:outputText
									value="#{prestacion.descripcionCodificacionPrestacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="F. Entrega" />
								</f:facet>
								<h:outputText value="#{prestacion.fechaEstimadaEntrega}">
									<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Nueva F. de Entrega" />
								</f:facet>
								<rich:calendar datePattern="yyyy/MM/dd"
									value="#{prestacion.fechaEntregaModificada}"
									inputStyle="width:150px" boundaryDatesMode="scroll" />
							</rich:column>

							<f:facet name="footer">
								<rich:datascroller for="tPrestaciones" />
							</f:facet>
						</rich:dataTable>
						<rich:spacer width="1" height="10" />
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Causal:" styleClass="sosCampo" /></td>
								<td><h:selectOneMenu style="width:510px;"
										value="#{consultarSolicitudBean.causalModFechaEntrega}">
										<f:selectItem itemValue="" itemLabel="Seleccione" />
										<f:selectItems
											value="#{consultarSolicitudBean.lstMotivosCausasModFechaEntrega}" />
									</h:selectOneMenu></td>
							</tr>
							<rich:spacer width="1" height="10" />
							<tr>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Observaciones: " styleClass="sosCampo" /></td>
								<td rowspan="4" colspan="7"><h:inputTextarea
										value="#{consultarSolicitudBean.obsModificarFechaEntrega}"
										cols="70" /></td>
							</tr>

						</table>

					</rich:panel>
					<center>
						<a4j:commandButton value="Guardar"
							onclick="Richfaces.showModalPanel('confirmationPopupModFecha');"
							styleClass="sosbotonguardar" />
						<span />
						<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
							action="#{consultarSolicitudBean.cerrarPopupModificarFechaEntrega}"
							reRender="formFechaEntrega, panelModificarFechaEntrega, modalPnlPop" />
					</center>
				</a4j:region>
			</rich:panel>
			<rich:modalPanel id="confirmationPopupModFecha" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupModFecha');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width: 100%;">
					<tr>
						<td style="text-align: center" colspan="2"><h:outputText
								value="¿Está seguro que desea cambiar las fechas de entrega?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align: center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{consultarSolicitudBean.guardarFechaEntregaModificada}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupModFecha');"
								reRender="formFechaEntrega, tablePrestaciones, panelModificarFechaEntrega, confirmationPopupModFecha, modalPnlPop" /></td>
						<td style="text-align: center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupModFecha');" /></td>
					</tr>
				</table>
			</rich:modalPanel>
			<rich:modalPanel id="modalConfirmarModFechaParam" autosized="true"
				showWhenRendered="#{consultarSolicitudBean.mostrarConfirmarModFecha}"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('modalConfirmarModFechaParam');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width: 100%;">
					<tr>
						<td style="text-align: center" colspan="2"><h:outputText
								value="La fecha de entrega calculada excede la fecha máxima sugerida por el Sistema. ¿Está seguro que desea cambiar las fechas de entrega? "
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align: center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{consultarSolicitudBean.modificarFecha}"
								oncomplete="Richfaces.hideModalPanel('modalConfirmarModFechaParam');"
								reRender="formFechaEntrega, tablePrestaciones, panelModificarFechaEntrega, confirmationPopupModFecha, modalConfirmarModFechaParam, modalPnlPop" /></td>
						<td style="text-align: center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarModFechaParam');" /></td>
					</tr>
				</table>
			</rich:modalPanel>
		</h:form>
	</ui:define>
</ui:composition>
