<h:form id="formPopupConfirmarAutor"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalConfirmarAutorizacion" autosized="true" width="380">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmar" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X" onclick="Richfaces.hideModalPanel('modalConfirmarAutorizacion');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<center>
			<h:outputText value="Todas las prestaciones han sido autorizadas para el dia de hoy " style="font-weight: bold;" />
			
			<p/>
			
			<a4j:commandButton value="Generar OPS sin observaciones"
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
			<p/>
			<a4j:commandButton value="Generar OPS con observaciones"
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>