<h:form id="formPopupDetConveniosCapacit"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDetConveniosCapacit" autosized="true"
		width="800">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Ítems de Capacitación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalDetConveniosCapacit');" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableConvenios"
			value="#{consultaAfiliadoBean.convenioCapacitacionSeleccionado.lServiciosCapitados}"
			var="servicio" rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código Ítem" />
				</f:facet>
				<h:outputText value="#{servicio.codigoItemCapitacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Descripción Ítem" />
				</f:facet>
				<h:outputText value="#{servicio.descripcionItemCapitacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Estado" />
				</f:facet>
				<h:outputText value="#{servicio.accionItemCapitacion}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableConvenios" />
			</f:facet>
		</rich:dataTable>

		<center>
			<a4j:commandButton value="Aceptar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalDetConveniosCapacit');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>