<h:form id="formPopupDevolucion" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDevolucion" autosized="true" width="500"
		showWhenRendered="#{ingresoSolicitudBean.mostrarPopupSolicitudDevuelta}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Devolución" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('modalDevolucion');"
					reRender="modalDevolucion"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
					<f:setPropertyActionListener
								target="#{ingresoSolicitudBean.mostrarPopupSolicitudDevuelta}"
								value="#{false}" />
					</a4j:commandButton>
			</h:panelGroup>
		</f:facet>

		<center>
			<h:outputText
				value="La solicitud ha sido devuelta por las siguientes causales: "
				style="font-weight: bold;" />

			<p />

			<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
				<rich:dataTable id="tableDevueltas"
					value="#{ingresoSolicitudBean.listaInconsistenciasDevueltasMallaService}"
					var="inconsistencia" rows="15" width="100%">
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Código" />
						</f:facet>
						<h:outputText value="#{inconsistencia.codigoPrestacion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Prestación" />
						</f:facet>
						<h:outputText value="#{inconsistencia.descripcionPrestacion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Causal Devolución" />
						</f:facet>
						<h:outputText value="#{inconsistencia.mensaje}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Acción" />
						</f:facet>
						<h:outputText value="#{inconsistencia.informacionAdicional}" />
					</rich:column>
					<f:facet name="footer">
						<rich:datascroller for="tableDevueltas" />
					</f:facet>
				</rich:dataTable>
			</h:panelGroup>

			<p />

			<h:commandLink value="Aceptar"
				action="#{ingresoSolicitudBean.ocultarPopupDevuelta}"
				onclick="Richfaces.hideModalPanel('modalDevolucion');"
				reRender="modalDevolucion"
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</h:commandLink>
		</center>

	</rich:modalPanel>
</h:form>