<a4j:form id="formPopupHospitalizacion"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalHospitalizacion" autosized="true" width="400"
		domElementAttachment="form"
		showWhenRendered="#{ingresoSolicitudBean.mostrarPopupHospitalizacion}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Datos Hospitalización" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:region>
					<a4j:commandButton value="X"
						action="#{ingresoSolicitudBean.cancelarHospitalizacion}"
						onclick="Richfaces.hideModalPanel('modalHospitalizacion');"
						reRender="modalHospitalizacion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
				</a4j:region>
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="*Servicio Hospitalización: "
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu
							value="#{ingresoSolicitudBean.hospitalizacionVO.servicioHospitalizacionVO.consecutivoSevicioHospitalizacion}"
							required="true"
							requiredMessage="Debe ingresar los datos obligatorios: Servicio de hospitalización">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{ingresoSolicitudBean.listaServiciosHospitalizacion}" />
						</h:selectOneMenu></td>
				</tr>
				<tr>
					<td><h:outputText value="*Fecha Ingreso: "
							style="font-weight: bold;" /></td>
					<td><rich:calendar required="true" datePattern="yyyy/MM/dd"
							value="#{ingresoSolicitudBean.hospitalizacionVO.fechaIngreso}"
							requiredMessage="Debe ingresar los datos obligatorios: Fecha Ingreso"							
							boundaryDatesMode="scroll" /></td>
				</tr>
				<tr>
					<td><h:outputText value="*Fecha Egreso: "
							style="font-weight: bold;" /></td>
					<td><rich:calendar required="true" datePattern="yyyy/MM/dd"
							value="#{ingresoSolicitudBean.hospitalizacionVO.fechaEgreso}"
							requiredMessage="Debe ingresar los datos obligatorios: Fecha Egreso"
							boundaryDatesMode="scroll" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Cama: " style="font-weight: bold;" /></td>
					<td><h:inputText id="cama"
							validatorMessage="Por favor ingrese un dato alfanumérico para cama, que contenga entre 1 y 10 caracteres"
							onkeypress="validateAlphaNumeric(event)"
							value="#{ingresoSolicitudBean.hospitalizacionVO.cama}">
							<f:validateLength maximum="10" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="*Tipo Habitación: "
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu
							value="#{ingresoSolicitudBean.hospitalizacionVO.tipoHabitacionVO.consecutivoClaseHabitacion}"
							required="true"
							requiredMessage="Debe ingresar los datos obligatorios: Tipo Habitación">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{ingresoSolicitudBean.listaClasesHabitacion}" />
						</h:selectOneMenu></td>
				</tr>
				<tr>
					<td><h:outputText value=" Corte Cuenta: "
							style="font-weight: bold;" /></td>
					<td><h:inputText id="corteCuenta" onchange="formatoMiles(this)"
							onkeypress="validateNumeric(event)" maxlength="10" 
							value="#{ingresoSolicitudBean.hospitalizacionVO.corteCuenta}">
						</h:inputText></td>
				</tr>
			</table>

			<br />

			<center>
				<a4j:commandButton value="Aceptar" process="modalHospitalizacion"
					action="#{ingresoSolicitudBean.aceptarHospitalizacion}"
					style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					reRender="modalHospitalizacion, modalConfirmarCorteCuenta, modalFacesError, modalPnlPop">
				</a4j:commandButton>

				<span />

				<a4j:region>
					<a4j:commandButton value="Cancelar" process="@this"
						action="#{ingresoSolicitudBean.cancelarHospitalizacion}"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('modalHospitalizacion');"
						reRender="modalHospitalizacion">
					</a4j:commandButton>
				</a4j:region>

				<br />

			</center>
		</a4j:region>
	</rich:modalPanel>
</a4j:form>