<h:form id="formPopupPrestador" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalPrestador" autosized="true" width="1000"
		showWhenRendered="#{ingresoSolicitudBean.mostrarPopupPrestadores}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Prestador" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{ingresoSolicitudBean.cerrarPopupIPS}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" 
					onclick="Richfaces.hideModalPanel('modalPrestador');"/>
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableIPS"
			value="#{ingresoSolicitudBean.listaIPSVO}" var="ips" rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink action="#{ingresoSolicitudBean.seleccionarIPS}"
					reRender=":formSolicitud:panelPrestador, modalPrestador"
					oncomplete="Richfaces.hideModalPanel('modalPrestador');">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener target="#{ingresoSolicitudBean.ipsVO}"
						value="#{ips}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código Interno" />
				</f:facet>
				<h:outputText value="#{ips.codigoInterno}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Tipo Id." />
				</f:facet>
				<h:outputText value="#{ips.codigoTipoId}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="N. Identificación" />
				</f:facet>
				<h:outputText value="#{ips.numeroIdentificacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Razón Social" />
				</f:facet>
				<h:outputText value="#{ips.razonSocial}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Sucursal" />
				</f:facet>
				<h:outputText value="#{ips.sucursal}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Ciudad" />
				</f:facet>
				<h:outputText value="#{ips.descripcionCiudad}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableIPS" />
			</f:facet>
		</rich:dataTable>

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{ingresoSolicitudBean.cerrarPopupIPS}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalPrestador');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>