<a4j:form id="formPopupRegistMedicoNoAds"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalRegistrarMedicoNoAds" autosized="true"
		width="700" domElementAttachment="form"
		showWhenRendered="#{ingresoSolicitudBean.mostrarPopupRegistrarMedicoNoAds}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Registrar Médico No Adscrito" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:region>
					<a4j:commandButton value="X"
						onclick="Richfaces.hideModalPanel('modalRegistrarMedicoNoAds');"
						action="#{ingresoSolicitudBean.cerrarPopupRegistrarMedico}"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
				</a4j:region>
			</h:panelGroup>
		</f:facet>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="*Identificación: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:selectOneMenu required="true"
						requiredMessage="El tipo de identificación es obligatorio"
						value="#{ingresoSolicitudBean.medicoVO.consecCodTipoId}">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItems
							value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />
					</h:selectOneMenu> <span style="width: 5px;" /> <h:inputText style="width:100px;"
						value="#{ingresoSolicitudBean.medicoVO.numeroIdentificacion}"
						required="true" onkeypress="validateNumeric(event)"
						validatorMessage="El número de identificación ingresado no es un dato numérico"
						requiredMessage="La identificación es obligatoria">
						<f:validateLongRange minimum="1" />
					</h:inputText></td>
			</tr>
			<tr>
				<td><h:outputText value="*Registro: "
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" required="true"
						requiredMessage="El registro es obligatorio"
						value="#{ingresoSolicitudBean.medicoVO.registroMedico}" /></td>
				<td />
				<td />
				<td><h:outputText value="*Confirmar Registro: "
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" required="true"
						requiredMessage="El confirmar registro es obligatorio"
						value="#{ingresoSolicitudBean.txtConfirmarRegistroMedico}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="*Primer Nombre: "
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:inputText style="width:200px;"
						required="true" requiredMessage="El primer nombre es obligatorio"
						value="#{ingresoSolicitudBean.medicoVO.primerNombre}" /></td>
				<td><h:outputText value="Segundo Nombre: "
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;"
						value="#{ingresoSolicitudBean.medicoVO.segundoNombre}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="*Primer Apellido: "
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:inputText style="width:200px;"
						required="true"
						requiredMessage="El primer apellido es obligatorio"
						value="#{ingresoSolicitudBean.medicoVO.primerApellido}" /></td>
				<td><h:outputText value="Segundo Apellido: "
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;"
						value="#{ingresoSolicitudBean.medicoVO.segundoApellido}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="*Especialidad: "
						style="font-weight: bold;" /></td>
				<td colspan="6"><h:selectOneMenu required="true"
						requiredMessage="La especialidad es obligatoria"
						value="#{ingresoSolicitudBean.medicoVO.consecCodTipoEspe}">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItems
							value="#{ingresoSolicitudBean.listaEspecialidadesMedico}" />
					</h:selectOneMenu></td>
			</tr>
		</table>

		<br />

		<center>
			<a4j:commandButton value="Registrar"
				action="#{ingresoSolicitudBean.registrarMedicoNoAdscrito}"
				reRender=":formSolicitud:panelMedico, modalRegistrarMedicoNoAds, :formPopupMessages, modalFacesError"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalRegistrarMedicoNoAds');">
			</a4j:commandButton>

			<span />

			<a4j:region>
				<a4j:commandButton value="Cancelar" process="@this"
					action="#{ingresoSolicitudBean.cerrarPopupRegistrarMedico}"
					style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalRegistrarMedicoNoAds');">
				</a4j:commandButton>
			</a4j:region>

			<br />

		</center>

	</rich:modalPanel>
</a4j:form>