<h:form id="formPopupRegistCUP" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalRegistrarCUP" autosized="true" width="400"
		showWhenRendered="#{ingresoSolicitudBean.mostrarPopupRegistrarCUP}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Registrar Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:region>
					<a4j:commandButton value="X"
						action="#{ingresoSolicitudBean.cerrarRegistrarCUPS}"
						onclick="Richfaces.hideModalPanel('modalRegistrarCUP');"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
				</a4j:region>
			</h:panelGroup>
		</f:facet>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Tipo*: " style="font-weight: bold;" /></td>
				<td colspan="2"><h:selectOneMenu disabled="true"
						required="true"
						requiredMessage="Debe ingresar los datos obligatorios para registrar la prestación"
						value="#{ingresoSolicitudBean.tipoPrestacionSeleccionado}">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItems
							value="#{ingresoSolicitudBean.listaTiposPrestaciones}" />
					</h:selectOneMenu></td>
			</tr>
			<tr>
				<td><h:outputText value="Descripción*: "
						style="font-weight: bold;" /></td>
				<td colspan="6"><h:inputText style="width:460px;"
						value="#{ingresoSolicitudBean.procedimientosVO.descripcionCodificacionProcedimiento}"
						required="true"
						requiredMessage="Debe ingresar los datos obligatorios para registrar la prestación: Descripción" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Lateralidad: "
						style="font-weight: bold;" /></td>
				<td colspan="2"><h:selectOneMenu required="true"
						requiredMessage="Debe ingresar los datos obligatorios para registrar la prestación: Lateralidad"
						value="#{ingresoSolicitudBean.procedimientosVO.consecutivoLaterialidad}">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItems value="#{ingresoSolicitudBean.listaLateralidades}" />
					</h:selectOneMenu></td>
			</tr>
		</table>

		<br />

		<center>
			<a4j:commandButton value="Registrar"
				action="#{ingresoSolicitudBean.registrarCUPS}"
				reRender="panelPrestaciones, modalRegistrarCUP, messagesRegistrarCUP, modalFacesError"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalRegistrarCUP');" />
			<span />
			<a4j:region>
				<a4j:commandButton value="Cancelar" process="@this"
					action="#{ingresoSolicitudBean.cerrarRegistrarCUPS}"
					oncomplete="Richfaces.hideModalPanel('modalRegistrarCUP');"
					style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</a4j:region>

			<br />
			
		</center>

	</rich:modalPanel>
</h:form>