<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosSolicitudDomiciliaria"
		header="Datos Solicitud">

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Fecha Creación: "
						style="font-weight: bold;" /></td>
				<td><h:inputText readonly="true"
						style="width:200px;"
						value="#{gestionContratacionBean.solicitudVO.fechaCreacion}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:inputText></td>
				<td><h:outputText value="Fecha Solicitud Médica: "
						style="font-weight: bold;" /></td>
				<td><h:inputText readonly="true" style="width:200px;"
						value="#{gestionContratacionBean.solicitudVO.fechaSolicitud}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:inputText></td>
				<td><h:outputText value="No Solicitud:"
						style="font-weight: bold;" /></td>
				<td><h:inputText readonly="true" style="width:100px;"
						value="#{gestionContratacionBean.solicitudVO.numeroSolicitudProovedor}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Prioridad:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.prioridad}" /></td>
				<td><h:outputText value="Plan:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionContratacionBean.afiliadoVO.plan.descripcionPlan}" /></td>
				<td><h:outputText value="Origen Solicitud:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.origenSolicita}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Origen Atención:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.origenAtencion}" /></td>

				<td><h:outputText value="Clase Atención:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.claseAtencion}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Recobro:" style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.recobro}" /></td>

				<td><h:outputText value="Supera Tope SOAT?:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:100px;" readonly="true"
						value="#{gestionContratacionBean.solicitudVO.superaTopeSoat}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Justificación Clinica: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
						readonly="true"
						value="#{gestionContratacionBean.solicitudVO.justificacionClinica}" />
				</td>
				<td>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
						<tr>
							<td><a4j:commandButton value="Hospitalización"
									styleClass="btnAccion"
									disabled="#{!gestionContratacionBean.mostrarHospitalizacion}"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionContratacionBean.verHospitalizacionContratacion}"
									reRender="modalHospitalizacionContratacion" /></td>
						</tr>
						<a4j:region>
						<tr>
							<td><a4j:commandButton value="Ver Solicitud"
									styleClass="btnAccion"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionContratacionBean.verSolicitudContratacion}"
									reRender="modalVerSolicitud" /></td>
						</tr>
						<tr>
							<td><a4j:commandButton value="Ver Soporte"
									styleClass="btnAccion"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
									action="#{gestionContratacionBean.verPopupSoportesContratacion}"
									onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
									oncomplete="#{rich:component('waitPanel')}.hide()"
									reRender="modalDocumentosSoportes" /></td>
						</tr>
						</a4j:region>
					</table>

				</td>
			</tr>
			<tr>
				<td><h:outputText value="Diagnósticos:"
						style="font-weight: bold;" /></td>
				<td colspan="6"><a4j:region>
						<rich:dataTable id="tableDiagnosticos"
							value="#{gestionContratacionBean.listaDiagnosticosSeleccionados}"
							var="diagnostico" rows="15" width="100%">
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Principal?" />
								</f:facet>
								<h:outputText value="#{diagnostico.principal}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Código" />
								</f:facet>
								<h:outputText value="#{diagnostico.codigo}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Descripción" />
								</f:facet>
								<h:outputText value="#{diagnostico.descripcion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Asignado SOS?" />
								</f:facet>
								<h:outputText value="#{diagnostico.asignadoSOS}" />
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller for="tableDiagnosticos" maxPages="20" />
							</f:facet>
						</rich:dataTable>
					</a4j:region></td>
			</tr>
			<tr>
				<td><h:outputText value="Observaciones: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
						value="#{gestionContratacionBean.solicitudVO.obsSolicitud}" /></td>
			</tr>
			
			<tr>
				<td><h:outputText value="Observaciones Sobre Gestión Requerida: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:inputTextarea cols="110" rows="4"
					readonly="true"
					value="#{gestionContratacionBean.solicitudVO.observacionesGestionAuditor}" /></td>
			</tr>			
		</table>

	</rich:panel>

	<rich:modalPanel id="confirmationPopupEliminar" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupEliminar');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
	</rich:modalPanel>
	
	<rich:modalPanel id="confirmationPopupAdicionar" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupAdicionar');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

	</rich:modalPanel>

</ui:composition>