<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosPrestacionesAprobadas" header="Prestaciones Aprobadas">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
			<td colspan="6"><rich:dataTable id="tablePrestacionesAprobadas"
					value="#{gestionContratacionBean.listaPrestacionesAprobadas}"
					var="prestacionesAprobadas" rows="15" width="100%">

					<rich:column>
						<f:facet name="header">
							<h:outputLabel value="" />
						</f:facet>
						<a4j:commandLink
							action="#{gestionContratacionBean.mostrarGestion}"
							reRender="tablePrestacionesAprobadas, modalDatosGestion">
							<h:outputText value="Gestión" />
							<f:setPropertyActionListener value="#{prestacionesAprobadas}"
								target="#{gestionContratacionBean.prestacionesAprobadasDTO}" />
						</a4j:commandLink>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Tipo" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.tipoPrestacion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Código" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.codigoPrestacion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Descripcion" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.descripcion}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Plan" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.descPlanAfiliado}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Observación" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.observaciones}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Lateralidad" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.descLateralidad}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Vía Acceso" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.descViaAcceso}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Direccionado a" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.descDireccionamiento}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Gestionado por" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.usuarioGestiona}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Fecha Gestión" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.fechaGestion}" >
							<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
						</h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Remitido a Auditor" />
						</f:facet>
						<h:outputText
							value="#{prestacionesAprobadas.requiereOtraGestionAuditoria}" />
					</rich:column>
					<f:facet name="footer">
						<rich:datascroller for="tablePrestacionesAprobadas" maxPages="20" />
					</f:facet>
				</rich:dataTable></td>
		</tr>
		</table>

	</rich:panel>

</ui:composition>