<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosAfiliado" header="Datos Afiliado">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
			<td>
					<h:outputText value="Identificación:" style="font-weight: bold;" />
				</td>
				<td><h:inputText style="width:50px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.tipoIdentificacionAfiliado.descripcionTipoIdentificacion}" />
					 <h:outputText value=" " />
					 <h:inputText style="width:100px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.numeroIdentificacion}" />
				</td>
				<td><h:outputText value="Nombre:"
							style="font-weight: bold;" /></td>
				<td><h:inputText style="width:350px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.nombreCompleto}" /></td>
				<td>
					<h:outputText value="Género:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.genero.descripcionGenero}"/>
				</td>
				<td>
					<h:outputText value="Edad Años:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.edadAnos}" />
				</td>
				
			</tr>
			<tr>
				<td><h:outputText value="Tipo Afiliado:"
						style="font-weight: bold;" /></td>
				<td colspan="2">		
						<h:inputText style="width:250px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.descripcionTipoAfiliado}" />
				</td>
				<td>
					<h:outputText value="Estado:" style="font-weight: bold;" />
					<h:outputText value=" " style="font-weight: bold;" />
					<h:inputText style="width:309px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.descripcionEstadoAfiliado}" />
				</td>
				<td>
					<h:outputText value="Semanas Cotización SGSS:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.semanasCotizadas}" />
				</td>
				<td>
					<h:outputText value="Semana SOS:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.semanasAfiliacionPOSSOS}" />
				</td>
			</tr>
			<tr>
			<td>
				<h:outputText value="Plan:" style="font-weight: bold;" />
			</td>
			<td colspan="4">
				<h:inputText style="width:603px;" readonly="true" value="#{gestionContratacionBean.afiliadoVO.plan.descripcionPlan}"/>
			</td>
			
			</tr>


			<tr>
				<td><h:outputText value="Empleadores:"
						style="font-weight: bold;" /></td>
				<td colspan="6"><rich:dataTable id="tableEmpleadores"
						value="#{gestionContratacionBean.listaEmpleadores}"
						var="empleadores" rows="15" width="98%">

						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo Id." />
							</f:facet>
							<h:outputText
								value="#{empleadores.tiposIdentificacionVO.codigoTipoIdentificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Nro Id." />
							</f:facet>
							<h:outputText
								value="#{empleadores.numeroIdentificacionEmpleador}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Razón Social" />
							</f:facet>
							<h:outputText value="#{empleadores.razonSocialEmpleador}" />
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="tableEmpleadores" maxPages="20" />
						</f:facet>
					</rich:dataTable></td>
			</tr>
		</table>

	</rich:panel>

</ui:composition>