<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGrid style="width:100%;">
		<rich:panel id="panelDatosAfiliadoContrataciones"
			header="Datos Afiliado">
			<table 
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="Nombre:" style="font-weight: bold;" /></td>
					<td colspan="3"><h:inputText style="width:405px;"
							readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.nombreCompleto}" /></td>
					<td><h:outputText value="Identificación:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:40px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.tipoIdentificacionAfiliado.descripcionTipoIdentificacion}" />
						<h:outputText value=" " /> <h:inputText style="width:255px;"
							readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.numeroIdentificacion}" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Edad:" style="font-weight: bold;" />
					</td>
					<td><h:inputText style="width:20px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.edadAnos}" />
							<h:outputText
							value="&#160;&#160;&#160;&#160;" />
							<h:inputText style="width:40px;" readonly="true" value="años" />
					<h:outputText value=" " style="font-weight: bold;" /> <h:outputText
							value="&#160;&#160;&#160;&#160;" /> <h:outputText
							value="Género:" style="font-weight: bold;" /> <h:outputText
							value="&#160;&#160;&#160;&#160;" /> <h:inputText
							style="width:30px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.genero.descripcionGenero}" />
					</td>
					<td><h:outputText value="Ciudad:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:200px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.ciudadResidencia.descripcionCiudad}" />
					</td>
					<td><h:outputText value="Derecho:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.descripcionEstadoDerecho}" /></td>
				</tr>

				<tr>
					<td><h:outputText value="Plan Complementario:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:100px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.planComplementario.descripcionPlan}" /></td>

					<td><h:outputText value="Val. Especial:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:200px;" value="#{gestionContratacionBean.afiliadoVO.valEspecial}" readonly="true" /></td>

					<td><h:outputText value="Estado:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.descripcionEstadoAfiliado}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Alto Riesgo?:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneRadio
							value="#{gestionContratacionBean.afiliadoVO.altoRiesgo}"
							disabled="true"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<f:selectItem itemValue="true" itemLabel="Si" />
							<f:selectItem itemValue="false" itemLabel="No" />
							<a4j:support reRender="panelDatosAfiliadoDomiciliario"
								action="#{gestionContratacionBean.limpiarRiesgo}"
								event="onclick" />
						</h:selectOneRadio></td>

					<td><h:outputText
							rendered="#{!gestionContratacionBean.afiliadoVO.altoRiesgo}"
							value="Riesgo:" style="font-weight: bold;" /> <h:outputText
							rendered="#{gestionContratacionBean.afiliadoVO.altoRiesgo}"
							value="Riesgo*:" style="font-weight: bold;" /></td>
					<td><h:selectOneMenu id="comboRiesgo"
							disabled="true"
							value="#{gestionContratacionBean.afiliadoVO.consecutivoCodRiesgo}"
							required="true" 
							requiredMessage="Los Riesgos deben ser diligenciadas" 
							style="width:200px;">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems value="#{gestionContratacionBean.lstRiesgos}" />
						</h:selectOneMenu></td>

					<a4j:region>
					<td style="text-align:right"><a4j:commandButton
							value="Ver Detalle" styleClass="btnAccion"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
							action="#{gestionContratacionBean.cargarDetalleAfiliadoContratacion}" 
							reRender="modalDetalleAfiliadoContratacion" /></td>
					</a4j:region>
				</tr>

				<tr>
					<td><h:outputText value="Recién Nacido?:"
							style="font-weight: bold;" /></td>
					<td colspan="5"><rich:separator height="2" lineType="solid" />
					</td>
				</tr>
				<tr>
					<td><h:inputText style="width:70px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.recienNacido}" /></td>

					<td><h:outputText value="Nro:" /> <h:inputText
							style="width:70px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.nro}" /></td>
					<td><h:outputText value="Género:" /></td>
					<td><h:inputText style="width:70px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.generoRecNac}" />
					</td>
					<td><h:outputText value="Fecha Nacimiento:" /></td>
					<td><h:inputText style="width:120px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.fechaRecienNacido}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="Fecha Consulta:" /></td>
					<td><h:inputText style="width:120px;" readonly="true"
							value="#{gestionContratacionBean.fechaConsulta}">
							<f:convertDateTime pattern="yyyy/MM/dd" />
						</h:inputText></td>
						
					<td colspan="3"><h:outputText value="Sede Afiliado:" />
						<h:inputText style="width:30px;" readonly="true"
							value="#{gestionContratacionBean.afiliadoVO.consecutivoCodigoSede}" />
							<h:outputText
							value="&#160;&#160;&#160;&#160;" />
							<h:inputText style="width:120px;" readonly="true" 
							value="#{gestionContratacionBean.afiliadoVO.descripcionSede}" />
					
					</td>
				</tr>
				
			</table>

		</rich:panel>

	</h:panelGrid>
</ui:composition>