<h:form id="formVerSolicitudDetallePopud"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalVerSolicitud" autosized="true" 
	showWhenRendered="#{gestionContratacionBean.mostrarPopupVerDetalleSolicitudContratacion}" width="600">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Detalle Solicitud" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionContratacionBean.cerrarPopupVerSolicitudContratacion}" 
						reRender="modalVerSolicitud"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<rich:panel id="panelMedicoSolicitante" header="Médico Solicitante">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>

					<td><h:outputText value="Identificación: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.tiposIdentificacionMedicoVO.codigoTipoIdentificacion} #{gestionContratacionBean.solicitudVO.medicoSolicitante.tiposIdentificacionMedicoVO.descripcionTipoIdentificacion}" /></td>

					<td><h:outputText value="Registro: " /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.registroMedico}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Primer Nombre: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.primerNombreMedico}" /></td>

					<td><h:outputText value="Segundo Nombre: " /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.segundoNombreMedico}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Primer Apellido: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.primerApellidoMedico}" /></td>

					<td><h:outputText value="Segundo Apellido: " /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.segundoApellidoMedico}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Especialidad: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.medicoSolicitante.especialidadMedicoVO.descripcionEspecialidad}" /></td>
				</tr>
			</table>
		</rich:panel>
		<rich:panel id="panelPrestadorSolicitante"
			header="Prestador Solicitante">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>

					<td><h:outputText value="Identificación: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.prestadorSolicitante.tiposIdentificacionPrestadorVO.codigoTipoIdentificacion} #{gestionContratacionBean.solicitudVO.prestadorSolicitante.tiposIdentificacionPrestadorVO.descripcionTipoIdentificacion}" /></td>

					<td><h:outputText value="Código Interno: " /></td>
					<td><h:inputText style="width:300px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.prestadorSolicitante.codigoInterno}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Sucursal: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.prestadorSolicitante.nombreSucursal}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Razón Social: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.prestadorSolicitante.razonSocial}" /></td>
				</tr>
				<tr>

					<td><h:outputText value="Ciudad: " /></td>
					<td><h:inputText style="width:400px;" readonly="true"
							value="#{gestionContratacionBean.solicitudVO.prestadorSolicitante.ciudadVO.descripcionCiudad}" /></td>
				</tr>
			</table>
		</rich:panel>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Cerrar"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{gestionContratacionBean.cerrarPopupVerSolicitudContratacion}" 
						reRender="modalVerSolicitud" /></td>
			</tr>
		</table>

	</rich:modalPanel>
</h:form>