<h:form id="formPopupPrestacionMedicamentos"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalPrestacionMedicamentos" autosized="true" width="550"
		showWhenRendered="#{gestionContratacionBean.mostrarPopupMedicamentos}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionContratacionBean.cerrarPopupMedicamentos}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalPrestacionMedicamentos');" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableMedicamentos"
			value="#{gestionContratacionBean.listaMedicamentosEncontrados}"
			var="medicamento" rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink
					action="#{gestionContratacionBean.seleccionPopupMedicamentos}"
					reRender=":formDatosGestion:modalDatosGestion, modalPrestacionMedicamentos"
					oncomplete="Richfaces.hideModalPanel('modalPrestacionMedicamentos');">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener
						target="#{gestionContratacionBean.medicamentoVOSeleccionado}"
						value="#{medicamento}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código" />
				</f:facet>
				<h:outputText value="#{medicamento.codigoCodificacionMedicamento}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Descripción" />
				</f:facet>
				<h:outputText value="#{medicamento.descripcionCodificacionMedicamento}" />
			</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataTableMedicamentos" />
				</f:facet>
		</rich:dataTable>

		<br/>

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{gestionContratacionBean.cerrarPopupMedicamentos}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalPrestacionMedicamentos');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>