<h:form id="formDetallesAfiliadoPopup" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDetallesAfiliadoMedicina" autosized="true" showWhenRendered="#{gestionMedicinaTrabajoBean.mostrarPopupVerAfiliadoDetalle}"
		width="900">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Detalles Datos del Afliado" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionMedicinaTrabajoBean.cerrarDetalleAfiliado}" 
					reRender="modalDetallesAfiliadoMedicina"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Dirección Residencia: "
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.direccionResidencia}" /></td>
				<td><h:outputText value="Teléfono: " style="font-weight: bold;" /></td>
				<td colspan="5"><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.telefono}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Fecha Nacimiento: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.fechaNacimiento}">
						<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
					</h:outputText></td>
				<td />
				<td />
				<td><h:outputText value="Edad Años: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.edadAnos}" /></td>
				<td><h:outputText value="Meses: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.edadMeses}" /></td>
				<td><h:outputText value="Días: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.edadDias}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Inicio Vigencia: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.fechaInicioVigencia}">
						<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
					</h:outputText></td>
				<td><h:outputText value="Fin Vigencia: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.fechaFinVigencia}">
						<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
					</h:outputText></td>
				<td><h:outputText value="Tipo Afiliado: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.descripcionTipoAfiliado}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Semana POS SOS: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.semanasAfiliacionPOSSOS}" /></td>
				<td><h:outputText value="Semana POS Ant:"
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.semanasAfiliacionPOSAnt}" /></td>
				<td><h:outputText value="IPS Primaria: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.desIPSPrimaria}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Semana PAC SOS: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.semanasAfiliacionPACSOS}" /></td>
				<td><h:outputText value="Semana PAC Ant:"
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.semanasAfiliacionPACAnt}" /></td>
				<td><h:outputText value="Rango Salarial: "
						style="font-weight: bold;" /></td>
				<td colspan="5"><h:outputText
						value="#{gestionMedicinaTrabajoBean.afiliadoVO.descripcionRangoSalarial}" /></td>
			</tr>
		</table>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Empleadores: "
						style="font-weight: bold;" /></td>
				<td><rich:dataTable id="dataTableEmpleadores" width="100%"
						rows="10" value="#{gestionMedicinaTrabajoBean.listaEmpleadores}"
						var="empleador">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="T. Identificación" />
							</f:facet>
							<h:outputText
								value="#{empleador.tiposIdentificacionVO.codigoTipoIdentificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="N. Identificación" />
							</f:facet>
							<h:outputText value="#{empleador.numeroIdentificacionEmpleador}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Razón Social" />
							</f:facet>
							<h:outputText value="#{empleador.razonSocialEmpleador}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="ARP" />
							</f:facet>
							<h:outputText value="#{empleador.entidadVO.descripcionEntidad}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Cuota Mod y Copago" />
							</f:facet>
							<h:outputText
								value="#{empleador.textoCopagoTextoCuotaModeradora}" />
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="dataTableEmpleadores" />
						</f:facet>
					</rich:dataTable></td>
			</tr>
			<tr/>
			<tr>
				<td><h:outputText value="Convenios Capitación: "
						style="font-weight: bold;" /></td>
				<td><rich:dataTable width="100%" id="dataTableConvenios"
						value="#{gestionMedicinaTrabajoBean.listaConveniosCapacitacion}"
						var="convenio" rows="10">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Convenio" />
							</f:facet>
							<a4j:commandLink reRender="modalDetConveniosCapacit"
								oncomplete="Richfaces.showModalPanel('modalDetConveniosCapacit');">
								<h:outputText value="#{convenio.descripcionConvenio}" />
								<f:setPropertyActionListener
									target="#{gestionMedicinaTrabajoBean.convenioCapacitacionSeleccionado}"
									value="#{convenio}" />
							</a4j:commandLink>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Estado" />
							</f:facet>
							<h:outputText
								value="#{convenio.capita eq 'S' ? 'CAPITA' : 'NO CAPITA'}" />
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="dataTableConvenios" />
						</f:facet>
					</rich:dataTable></td>
			</tr>
		</table>

		<br />


		<center>
			<a4j:commandButton value="Cerrar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				action="#{gestionMedicinaTrabajoBean.cerrarDetalleAfiliado}" 
				reRender="modalDetallesAfiliadoMedicina" />
		</center>

	</rich:modalPanel>
</h:form>