<ui:composition template="/templates/inicioBpm.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
	<h:form id="formGestionMedicinaTrabajo">
		<rich:panel 
			header="Gestión Medicina del Trabajo">
				
	 		<rich:simpleTogglePanel switchType="client" label="AFILIADO - #{gestionMedicinaTrabajoBean.afiliadoVO.nombreCompleto} / #{gestionMedicinaTrabajoBean.afiliadoVO.tipoIdentificacionAfiliado.descripcionTipoIdentificacion} #{gestionMedicinaTrabajoBean.afiliadoVO.numeroIdentificacion} / #{gestionMedicinaTrabajoBean.afiliadoVO.descripcionEstadoAfiliado} - #{gestionMedicinaTrabajoBean.afiliadoVO.plan.descripcionPlan} / #{gestionMedicinaTrabajoBean.altoRiesgo}">
				<!-- Panel de Datos Afiliado -->
				<ui:include src="datosAfiliadoMedicinaPanel.xhtml" />
			</rich:simpleTogglePanel> 
	 		<rich:simpleTogglePanel switchType="client" label="SOLICITUD - Fecha Solicitud: #{gestionMedicinaTrabajoBean.fechaSolicitud} - Nro Solicitud: #{gestionMedicinaTrabajoBean.solicitudVO.numeroSolicitudProovedor} - Prioridad: #{gestionMedicinaTrabajoBean.solicitudVO.prioridad}">
				<!-- Panel de Datos Solicitud -->
				<ui:include src="datosSolicitudMedicinaPanel.xhtml" />
				
				
			</rich:simpleTogglePanel> 
		<!-- Panel de Datos Prestaciones Aprobadas -->
				<ui:include src="datosPrestacionesMedicinaPanel.xhtml" />
				
			<div align="center">
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
					<tr>
						<td align="center"><h:outputText
								value="Requiere otra Gestión: " style="font-weight: bold;" />
							<h:selectOneMenu
								value="#{gestionMedicinaTrabajoBean.grupoAuditor}"
								style="width:300px;">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems
								value="#{gestionMedicinaTrabajoBean.listaGruposAuditores}" />
							</h:selectOneMenu>
						</td>
						<td>
							<a4j:commandButton value="Reasignar"
							onclick="Richfaces.showModalPanel('confirmationPopupReasignar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
							styleClass="btnAccion" />
						</td>
					</tr>
				</table>
			</div>
					
			<table style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
					<td style="text-align:center">
					<a4j:commandButton value="Ver Solicitud" styleClass="btnAccion"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
							action="#{gestionMedicinaTrabajoBean.verPopupVerSolicitudDetalle}" 
							reRender="formGestionMedicinaTrabajo,modalVerSolicitudDetalle" />
							<h:outputText value=" " style="font-weight: bold;" />
		 			<a4j:commandButton value="Ver Soportes" styleClass="btnAccion"
		 					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;width: 100px; "
							action="#{gestionMedicinaTrabajoBean.verPopupSoportesMedicina}" 
							reRender="formGestionMedicinaTrabajo,modalVerSoportesMedicina"/>
							<h:outputText value=" " style="font-weight: bold;" />
		 			<a4j:commandButton value="Enviar" styleClass="btnAccion"
		 					onclick="Richfaces.showModalPanel('confirmationPopupEnviar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"/>
							<h:outputText value=" " style="font-weight: bold;" />
					<a4j:commandButton value="Liberar"
						action="#{gestionMedicinaTrabajoBean.mostrarConfirmacionLiberarMedicina}"
						 reRender="confirmationPopLiberarmedicina"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
					</td> 
			</tr>
			</table>
		
		</rich:panel>
		
		<rich:modalPanel id="confirmationPopLiberarmedicina" autosized="true"
				showWhenRendered="#{gestionMedicinaTrabajoBean.mostrarPopupCofirmacionLiberarMedicina}" width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							action="#{gestionMedicinaTrabajoBean.cerrarConfirmacionLiberarMedicina}" 
							reRender="formGestionMedicinaTrabajo"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea liberar la tarea?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionMedicinaTrabajoBean.liberarTareaMedicina}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopLiberarmedicina');"
								reRender="modalPnlPop" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionMedicinaTrabajoBean.cerrarConfirmacionLiberarMedicina}" 
								reRender="formGestionMedicinaTrabajo" /></td>
					</tr>
				</table>
			</rich:modalPanel>
		
		<rich:modalPanel id="validacionPopupReasignarMedicina" autosized="true" 
		showWhenRendered="#{gestionMedicinaTrabajoBean.mostrarPopupInformacionMedicina}"
			width="250">
			<f:facet name="header">
				<h:panelGroup>
					<h:outputText value="Información" />
				</h:panelGroup>
			</f:facet>
			<f:facet name="controls">
				<h:panelGroup>
					<a4j:commandButton value="X"
						action="#{gestionMedicinaTrabajoBean.cerrarInformacionMedicina}" 
						reRender="formGestionMedicinaTrabajo"
						style="font-size: 100%; font-family: Arial, Helvetica, sans-serif;" />
				</h:panelGroup>
			</f:facet>
			<table
				style="font-size: 100%; font-family: Arial, Helvetica, sans-serif; width:100%;">
				<tr>
					<td style="text-align:center"  colspan="2"><h:outputText
							value="Debe seleccionar un grupo de auditores"
							style="font-size: 100%;" /></td>
				</tr>
				<tr>
					<td style="text-align:center"><a4j:commandButton value="Cerrar"
							style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
							action="#{gestionMedicinaTrabajoBean.cerrarInformacionMedicina}" 
							reRender="formGestionMedicinaTrabajo" /></td>
				</tr>
			</table>
		</rich:modalPanel>
		
		
		
		<rich:modalPanel id="confirmationPopupReasignar" autosized="true"
			width="250">
			<f:facet name="header">
				<h:panelGroup>
					<h:outputText value="Confirmación" />
				</h:panelGroup>
			</f:facet>
			<f:facet name="controls">
				<h:panelGroup>
					<a4j:commandButton value="X"
						onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
						style="font-size: 100%; font-family: Arial, Helvetica, sans-serif;" />
				</h:panelGroup>
			</f:facet>
			<table
				style="font-size: 100%; font-family: Arial, Helvetica, sans-serif; width:100%;">
				
				<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea reasignar la tarea?"
								style="font-size: 100%;" /></td>
					</tr>
				<tr>
					<td style="text-align:center"><a4j:commandButton value="Si"
							style="width: 100px; font-size: 100%; font-family: Arial, Helvetica, sans-serif;"
							action="#{gestionMedicinaTrabajoBean.abrirPopupReasignarSolicitudMTrabajo}"
							onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
							reRender="modalPnlPop, modalReasignarPrestacion"
							/>
					</td>
					<td style="text-align:center"><a4j:commandButton value="No"
							style="width: 100px; font-size: 100%; font-family: Arial, Helvetica, sans-serif;"
							onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');" /></td>
					
				</tr>
			</table>
		</rich:modalPanel>
		
		<rich:modalPanel id="confirmationPopupEnviar" autosized="true"
			width="250">
			<f:facet name="header">
				<h:panelGroup>
					<h:outputText value="Confirmación" />
				</h:panelGroup>
			</f:facet>
			<f:facet name="controls">
				<h:panelGroup>
					<a4j:commandButton value="X"
						reRender="formGestionMedicinaTrabajo"
						action="#{gestionMedicinaTrabajoBean.cerrarConfirmacionMedicina}"
						style="font-size: 100%; font-family: Arial, Helvetica, sans-serif;" />
				</h:panelGroup>
			</f:facet>
			<table
				style="font-size: 100%; font-family: Arial, Helvetica, sans-serif; width:100%;">
				<tr>
					<td style="text-align:center"  colspan="2"><h:outputText
							value=" ¿Está seguro que desea terminar la gestión sobre la solicitud?"
							style="font-size: 100%;" /></td>
				</tr>
				<tr>
					<td style="text-align:center"><a4j:commandButton value="Si"
							style="width: 100px; font-size: 100%; font-family: Arial, Helvetica, sans-serif;"
							action="#{gestionMedicinaTrabajoBean.terminarMedicinatrabajo}" 
							reRender="formGestionMedicinaTrabajo,modalVerSoportesMedicina"
							oncomplete="Richfaces.hideModalPanel('confirmationPopupEnviar');"/>
					</td>
					<td style="text-align:center"><a4j:commandButton value="No"
							style="width: 100px; font-size: 100%; font-family: Arial, Helvetica, sans-serif;"
							reRender="formGestionMedicinaTrabajo"
							action="#{gestionMedicinaTrabajoBean.cerrarConfirmacionMedicina}" /></td>
					
				</tr>
			</table>
		</rich:modalPanel>
			
	</h:form>
	<ui:include src="detalleSolicitudMedicinaPopup.xhtml" />
	<ui:include src="detallesAfiliadoMedicinaPopup.xhtml" />
	<ui:include src="verSoportesMedicinaPopup.xhtml" />
	<ui:include src="detConveniosCapacitPopup.xhtml" />
	<ui:include src="reasignarPrestacionPopup.xhtml" />
	</ui:define>
</ui:composition>
