<h:form id="formDatosVerSoportesMedicina"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalVerSoportesMedicina" autosized="true"
		showWhenRendered="#{gestionMedicinaTrabajoBean.mostrarPopupDocumentosSoporteMedicina}"
		width="700">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Ver Documentos Soporte" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton id="hideButton" value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" 
					action="#{gestionMedicinaTrabajoBean.cerrarPoppupMedicina}" 
					reRender="modalVerSoportesMedicina"/>
				<rich:componentControl for="modalVerSoportesMedicina"
					attachTo="hideButton" operation="hide" event="onclick" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable id="dataArchivosMedicina"
			value="#{gestionMedicinaTrabajoBean.listaDocumentos}" var="soporte"
			width="98%">
			<rich:column style="vertical-align: middle;">
				<f:facet name="header">
					<h:outputText value="Tipo" />
				</f:facet>
				<h:outputText value="#{soporte.descripcionTipoDocumentoSoporte}" />
			</rich:column>

			<rich:column style="vertical-align: middle;">
				<f:facet name="header">
					<h:outputText value="Archivo" />
				</f:facet>
				<h:outputText id="nombreSoporte" value="#{soporte.nombreDocumento}" />
			</rich:column>
			<rich:column>
				<h:commandLink value="Descargar"
					action="#{gestionMedicinaTrabajoBean.descargarSoporte}">
					<f:setPropertyActionListener
				      target="#{gestionMedicinaTrabajoBean.documentoSoporteVOSeleccionado}"
				      value="#{soporte}" />
				</h:commandLink>
			</rich:column>
		</rich:dataTable>


	</rich:modalPanel>
</h:form>