<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosAfiliadoInconsistencias" header="Datos Afiliado">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
			
				<td><h:outputText value="Identificación:"
							style="font-weight: bold;" /></td>
				<td><h:inputText style="width:30px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.tipoIdentificacionAfiliado.descripcionTipoIdentificacion}"/>
				<h:outputText value=" " /><h:inputText style="width:165px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.numeroIdentificacion}"/></td>
				
				<td><h:outputText value="Nombre:"
							style="font-weight: bold;" /></td>
				<td><h:inputText style="width:280px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.nombreCompleto}"/></td>
				
			</tr>
			<tr>
				<td>
					<h:outputText value="Género:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.genero.descripcionGenero}"/>
				</td>
				<td>
					<h:outputText value="Edad Años:" style="font-weight: bold;" />
				</td>
				<td>
					<h:inputText style="width:30px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.edadAnos}"/>
				</td>
				
				
			</tr>
			<tr>
				<td><h:outputText value="Plan:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:200px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.plan.descripcionPlan}"/></td>
						
				<td><h:outputText value="Estado:"
						style="font-weight: bold;" /></td>
				<td><h:inputText style="width:280px;" readonly="true" value="#{gestionInconsistenciasBean.datosBasicosAfiliado.descripcionEstadoAfiliado}"/></td>
			</tr>
			
		</table>

	</rich:panel>

</ui:composition>