<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="inconsistenciasPanel" header="Inconsistencias">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
			<tr>
							
							<td colspan="6">
							<rich:dataTable id="tablePrestacionesAprobadas"
									value="#{gestionInconsistenciasBean.listaInconsistencias}"
									var="inconsistencias" rows="15" width="100%">

									<rich:column>
										<f:facet name="header">
											<h:outputText value="Nro" />
										</f:facet>
										<h:outputText value="#{inconsistencias.value}"/>
									</rich:column>
									<rich:column>
										<f:facet name="header">
											<h:outputText value="Descripción" />
										</f:facet>
										<h:outputText
											value="#{inconsistencias.description}" />
									</rich:column>
																	
									<f:facet name="footer">
										<rich:datascroller for="tablePrestacionesAprobadas" maxPages="20" />
									</f:facet>
								</rich:dataTable></td>
						</tr>
		</table>

	</rich:panel>

</ui:composition>