<h:form id="formPopupCausalesDescuadre"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:modalPanel id="modalCausalesDescuadre" autosized="true"
		width="400"
		showWhenRendered="#{cierreCajaBean.mostrarCausalesDescuadre}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Causales de descuadre" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalCausalesDescuadre');">
					<f:setPropertyActionListener
						target="#{cierreCajaBean.mostrarCausalesDescuadre}"
						value="#{false}" />
				</a4j:commandButton>
			</h:panelGroup>
		</f:facet>

		<h:panelGrid columns="2" id="panelGridTotales"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif;">

			<h:outputText id="labelTotalCajaPopup" value="Total en caja:"
				style="font-weight: bold; text-align:left; font-size: 12px;" />
			<h:outputText id="labelTotalCajaTextPopup"
				value="#{cierreCajaBean.totalCaja}"
				style="font-weight: bold; float:left; font-size: 12px;">
				<f:convertNumber pattern="$#,##0" />
			</h:outputText>

			<h:outputText id="labelFaltantePopup" value="Faltante:"
				style="font-weight: bold; text-align:left; font-size: 12px;" />
			<h:outputText id="labelFaltanteTextPopup"
				value="#{cierreCajaBean.totalFaltante}"
				style="font-weight: bold; float:left; font-size: 12px;">
				<f:convertNumber pattern="$#,##0" />
			</h:outputText>

			<h:outputText id="labelSobrantePopup" value="Sobrante:"
				style="font-weight: bold; text-align:left; font-size: 12px;" />
			<h:outputText id="labelSobranteTextPopup"
				value="#{cierreCajaBean.totalSobrante}"
				style="font-weight: bold; float:left; font-size: 12px;">
				<f:convertNumber pattern="$#,##0" />
			</h:outputText>

		</h:panelGrid>

		<h:messages id="mensajesError" style="color:red;" />

		<h:panelGrid columns="5" id="panleGridInformacionCausalesPopup"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif;">

			<h:outputText id="labelCausalDescuadrePopup"
				value="Causal descuadre:"
				style="font-weight: bold; text-align:left; font-size: 12px;" />

			<h:selectOneMenu id="selectCausales" styleClass="sosSelect"
				value="#{cierreCajaBean.consecutivoCausalDescuadreSeleccionada}">
				<f:selectItem itemValue="" itemLabel="Seleccione" />
				<f:selectItems
					value="#{cierreCajaBean.listSelectItemCausalesDescuadre}" />
			</h:selectOneMenu>
			<h:outputText id="labelValorDescuadrePopup" value="Valor:"
				style="font-weight: bold; text-align:left; font-size: 12px;" />

			<h:inputText id="labelValorDescuadreTextPopup"
				value="#{cierreCajaBean.valorDescuadrePopup}" style="width: 250px"
				onkeypress="validateNumeric(event)" label="Valor" />

			<a4j:commandButton id="buttonAgregar" value="Agregar"
				reRender="modalCausalesDescuadre, mensajesError, tableCausalesAñadir, ds1"
				onclick="Richfaces.hideModalPanel('modalCausalesDescuadre');"
				oncomplete="Richfaces.showModalPanel('modalCausalesDescuadre');"
				styleClass="aceptar"
				action="#{cierreCajaBean.agregarCausalDescuadre}">

			</a4j:commandButton>
		</h:panelGrid>

		<br />

		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel"
			id="panelGroup">
			<rich:dataTable id="tableCausalesAñadir" width="98%"
				value="#{cierreCajaBean.listCausalesDescuadreConValor}" var="causal"
				rows="15">
				<rich:column>
					<f:facet name="header">
						<h:outputLabel value="" />
					</f:facet>
					<a4j:commandLink action="#{cierreCajaBean.eliminaCausalDescuadre}"
						reRender="modalCausalesDescuadre, tableCausalesAñadir">
						<h:graphicImage
							value="${request.contextPath}/css/images/ico/icon-trash.png"
							alt="Eliminar" title="Eliminar" />
						<f:setPropertyActionListener value="#{causal}"
							target="#{cierreCajaBean.causalDescuadreConValorEliminar}" />
					</a4j:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Causal descuadre" style="font-size: 12px;" />
					</f:facet>
					<h:outputText value="#{causal.dscrpcnCslDscdre}"
						style="font-size: 12px;" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Valor" style="font-size: 12px;" />
					</f:facet>
					<h:outputText value="#{causal.valorPopup}" style="font-size: 12px;">
						<f:convertNumber pattern="$#,##0" />
					</h:outputText>
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller id="ds1" for="tableCausalesAñadir" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<br />

		<h:panelGrid columns="1"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
			<a4j:commandButton value="Guardar" id="btnGuardaCausales"
				reRender="modalCausalesDescuadre, mensajesError, tableCausalesAñadir, ds1, tableCausales, tableFooter, formCierreCaja"
				onclick="Richfaces.hideModalPanel('modalCausalesDescuadre');"
				oncomplete="Richfaces.showModalPanel('modalCausalesDescuadre');"
				styleClass="aceptar" action="#{cierreCajaBean.guardarCierre}" />
		</h:panelGrid>


	</rich:modalPanel>
</h:form>