<h:form id="formPopupConfirmacionDos"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalConfirmacionDos" autosized="true" width="400">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="MENSAJE DE CONFIRMACIÓN" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalConfirmacionDos');" />
			</h:panelGroup>
		</f:facet>

		<h:outputText value="¿Esta seguro de no realizar la apertura de caja?">
		</h:outputText>

		<br />
		<br />
		<br />

		<h:panelGrid columns="2" id="panelGridBtnConfi"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
			<a4j:commandButton value="Aceptar" id="btnConfirAceptar"
				onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
				oncomplete="#{rich:component('waitPanel')}.hide();Richfaces.hideModalPanel('modalConfirmacionDos');"
				styleClass="aceptar" />
			<a4j:commandButton value="Cancelar" styleClass="aceptar"
				id="btnConfiCancelar"
				onclick="Richfaces.hideModalPanel('modalConfirmacionDos');Richfaces.showModalPanel('modalConfirmacionUno');" />
		</h:panelGrid>

	</rich:modalPanel>
</h:form>