<h:form id="formPopupConfirmacionUno"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalConfirmacionUno" autosized="true" width="400"
		showWhenRendered="#{aperturaCajaBean.mostrarConfirmacionUno}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="MENSAJE DE CONFIRMACIÓN" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalConfirmacionUno');" />
			</h:panelGroup>
		</f:facet>

		<h:outputText
			value="Se realizar&#225; la apertura de la caja para la fecha ">
		</h:outputText>
		<h:outputText value="#{aperturaCajaBean.fechaActual}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:outputText>
		<h:outputText
			value=", usuario #{aperturaCajaBean.userLogin} en la oficina #{aperturaCajaBean.descripcionOficina} con una base #{aperturaCajaBean.valorConfirmacionCadena}">
		</h:outputText>

		<br />
		<br />
		<br />

		<h:panelGrid columns="2"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">

			<a4j:commandButton value="Aceptar" styleClass="aceptar"
				id="btnConfiUnoAceptar" reRender="modalError, formAperturaCaja"
				onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
				oncomplete="Richfaces.hideModalPanel('modalConfirmacionUno');"
				action="#{aperturaCajaBean.abrirCaja}" />

			<a4j:commandButton value="Cancelar" reRender="modalConfirmacionDos"
				id="btnConfiUnoCancelar"
				onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
				oncomplete="Richfaces.hideModalPanel('modalConfirmacionUno');Richfaces.showModalPanel('modalConfirmacionDos');"
				styleClass="aceptar" />

		</h:panelGrid>
	</rich:modalPanel>
</h:form>