<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:modalPanel id="modalError" autosized="true" width="400"
		showWhenRendered="#{aperturaCajaBean.mostrarModalError}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Mensaje" />
			</h:panelGroup>
		</f:facet>

		<a4j:repeat var="errortemp" value="#{aperturaCajaBean.listErrores}">
			<h:graphicImage
				value="${request.contextPath}/css/images/ico/anular.gif" />
			<h:outputText value=" #{errortemp}"
				styleClass="rich-messages-label mensajeAdvertencia"
				style="font-size:15px" />
			<br />
		</a4j:repeat>
		<br />
		<br />
		<h:panelGrid columns="1"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
			<a4j:commandButton id="btnErrorpopup" value="Aceptar"
				styleClass="aceptar"
				onclick="Richfaces.hideModalPanel('modalError');">
				<f:setPropertyActionListener
					target="#{aperturaCajaBean.mostrarModalError}" value="#{false}" />
				<f:setPropertyActionListener
					target="#{aperturaCajaBean.listErrores}" value="#{null}" />
			</a4j:commandButton>
		</h:panelGrid>
	</rich:modalPanel>
</ui:composition>
