<h:form id="formPopupOficinas" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalOficinas" autosized="true" width="400"
		showWhenRendered="#{aperturaCajaBean.mostrarModalOficinas}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Oficinas" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup id="panelGroupX">
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalOficinas');">
					<f:setPropertyActionListener
						target="#{aperturaCajaBean.mostrarModalOficinas}" value="#{false}" />
					<f:setPropertyActionListener
						target="#{aperturaCajaBean.listOficinas}" value="#{null}" />
				</a4j:commandButton>
			</h:panelGroup>
		</f:facet>

		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel"
			id="panelGroupTabla">
			<rich:dataTable id="dataTableOficinas" width="98%"
				value="#{aperturaCajaBean.listOficinas}" var="oficina" rows="15">
				<rich:column>
					<f:facet name="header">
						<h:outputLabel value="" />
					</f:facet>
					<a4j:commandLink id="btnLupaOficina"
						action="#{aperturaCajaBean.seleccionarOficina}"
						reRender=":formAperturaCaja:textCodigoOficina, :formAperturaCaja:textDescOficina, panelFiltosInformeCaja"
						oncomplete="Richfaces.hideModalPanel('modalOficinas');">
						<h:outputText value="Seleccionar" />
						<f:setPropertyActionListener
							target="#{aperturaCajaBean.oficinaVOseleccionada}"
							value="#{oficina}" />
					</a4j:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Código" />
					</f:facet>
					<h:outputText value="#{oficina.codigoOficina}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Descripción" />
					</f:facet>
					<h:outputText value="#{oficina.descripcionOficina}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataTableOficinas" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<h:panelGrid columns="1" id="panelGridOficinasPopupBtn"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
			<a4j:commandButton value="Cancelar" id="btnCancelarOficinas"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalOficinas');">
				<f:setPropertyActionListener
					target="#{aperturaCajaBean.mostrarModalOficinas}" value="#{false}" />
				<f:setPropertyActionListener
					target="#{aperturaCajaBean.listOficinas}" value="#{null}" />
			</a4j:commandButton>
		</h:panelGrid>
	</rich:modalPanel>
</h:form>