<a4j:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDevolucionPreSolicitud" autosized="true" 
		showWhenRendered="#{transcribirSolicitudBean.mostrarPopupDevolucion}"
		domElementAttachment="form" width="450">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Devolución" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:region>
				<a4j:commandButton value="X"
					action="#{transcribirSolicitudBean.cerrarPopupDevolucion}"
					reRender="modalDevolucionPreSolicitud"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
				</a4j:region>
			</h:panelGroup>
		</f:facet>
		<rich:panel id="panelCambiarDireccionamiento" header="">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				
				<tr>
				
					<td><h:outputText value="*" />
						<h:outputText value="Motivo:" style="font-weight: bold;" /></td>
					<td><h:selectOneMenu id="selectMotivosdevolucion" required="true"
									styleClass="sosSelect"
									style="width: 100% !important"
									requiredMessage="El Motivo es obligatorio"
									value="#{transcribirSolicitudBean.devolucion.consMotivo}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{transcribirSolicitudBean.listaMotivos}" />
								</h:selectOneMenu>
					
					</td>
				</tr>
				<tr>
				
					<td><h:outputText value="*" />
						<h:outputText value="Justificación: "
							style="font-weight: bold;" /></td>
					<td rowspan="4" colspan="9"><h:inputTextarea
							required="true"
							requiredMessage="La justificación es obligatoria"
							validatorMessage="La justificación debe contener mínimo 10 y máximo 150 caracteres."
							value="#{transcribirSolicitudBean.devolucion.observacion}"
							cols="50" >
							<f:validateLength minimum="10" maximum="150" />
							</h:inputTextarea>
							</td>
				</tr>

			</table>
			<center>
				<a4j:commandButton value="Guardar"
					action="#{transcribirSolicitudBean.devolverPreSolicitud}"
					reRender="modalFacesError, modalPnlPop"
					style="width: 60px; font-size: 92%; font-family: Arial, Helvetica, sans-serif;">
				</a4j:commandButton>
				<a4j:region>
				<h:outputText value=" " />
				<a4j:commandButton value="Cancelar" process="@this"
					style="width: 60px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					action="#{transcribirSolicitudBean.cerrarPopupDevolucion}"
					reRender="modalDevolucionPreSolicitud"/>
				</a4j:region>
				
			
			</center>
		</rich:panel>
	</rich:modalPanel>
</a4j:form>
