<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/templates/menuTranscribir.xhtml">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formSolicitud">

			<rich:panel
				header="Ingresar Solicitud de Autorización de Servicios de Salud">

				<!-- Panel de recien nacido -->
				<ui:include src="recienNacidoPanel.xhtml" />


				<rich:panel styleClass="sosPanel">
					<table width="100%" border="0" align="left" cellpadding="0"
						cellspacing="1">
						<tbody>
							<tr>
								<td bgcolor="#FFFFFF" class="sosTituloSeccion">Información
									Atención</td>
								<td width="80%"><hr /></td>
							</tr>
						</tbody>
					</table>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="Número Solicitud:"
									style="font-weight: bold;" /></td>
							<td><h:inputText
									validatorMessage="El valor del número de solicitud debe ser de valor numerico y mayor a 0"
									value="#{ingresoSolicitudBean.atencionVO.numeroSolicitud}" maxlength="10" 
									style="width:100px;" onkeypress="validateNumeric(event)">
									<f:validateLongRange minimum="1" />
								</h:inputText></td>
						</tr>
						<tr>
							<td rowspan="2"><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Fecha Solicitud" styleClass="sosCampo" /><br /> <h:outputText
									value="Profesional: " styleClass="sosCampo" /></td>
							<td rowspan="2"><rich:calendar
									value="#{ingresoSolicitudBean.atencionVO.fechaSolicitudProfesional}"
									required="true" datePattern="yyyy/MM/dd"
									requiredMessage="La fecha de solicitud profesional es obligatoria"
									isDayEnabled="disablementFunctionFechaSolicitud"
									boundaryDatesMode="scroll" /></td>

							<td rowspan="2"><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Clase Atención: " styleClass="sosCampo" /></td>
							<td rowspan="2"><a4j:region>
									<h:selectOneMenu required="true" styleClass="sosSelect"
										value="#{ingresoSolicitudBean.atencionVO.claseAtencionVO.consecutivoClaseAtencion}"
										requiredMessage="La clase de atención es obligatoria">
										<f:selectItem itemValue="" itemLabel="Seleccione" />
										<f:selectItems
											value="#{ingresoSolicitudBean.listaClasesAtencion}" />
										<a4j:support event="onchange"
											reRender="btnHospitalizacion, modalPnlPop, panelPrestaciones, modalHospitalizacion"
											action="#{ingresoSolicitudBean.seleccionClaseAtencion}" />
									</h:selectOneMenu>
								</a4j:region></td>

							<td rowspan="2"><a4j:region>
									<a4j:commandButton id="btnHospitalizacion"
										value="Hospitalización" process="@this"
										action="#{ingresoSolicitudBean.mostrarPopupHospitalizacion}"
										styleClass="sosboton"
										reRender="modalHospitalizacion, modalPnlPop"
										disabled="#{ingresoSolicitudBean.deshabilitarBtnHospitalizacion}">
									</a4j:commandButton>
								</a4j:region></td>
						</tr>
						<tr />
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Tipo Servicio:" styleClass="sosCampo" /></td>
							<td><h:selectOneMenu required="true"
									styleClass="sosSelectLargo"
									value="#{ingresoSolicitudBean.atencionVO.tipoServicioVO.consecutivoTipoServicio}"
									requiredMessage="El tipo de servicio es obligatorio">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaTiposServicio}" />
								</h:selectOneMenu></td>

							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									 value="Prioridad: " styleClass="sosCampo" /></td>
							<td><h:selectOneMenu required="true" styleClass="sosSelect"
									value="#{ingresoSolicitudBean.atencionVO.prioridadAtencionVO.consecutivoPrioridadAtencion}"
									requiredMessage="La prioridad es obligatoria">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaPrioridadesAtencion}" />
								</h:selectOneMenu></td>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Origen Atención:" styleClass="sosCampo" /></td>
							<td><h:selectOneMenu required="true"
									styleClass="sosSelectLargo"
									value="#{ingresoSolicitudBean.atencionVO.origenAtencionVO.consecutivoOrigenAtencion}"
									requiredMessage="El origen de atención es obligatorio">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaOrigenesAtencion}" />
								</h:selectOneMenu></td>

							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Domi: " styleClass="sosCampo" /></td>
							<td><h:selectOneMenu required="true" styleClass="sosSelect"
									value="#{ingresoSolicitudBean.domi}"
									requiredMessage="El domi es obligatorio">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems value="#{ingresoSolicitudBean.listaOpciones}" />
								</h:selectOneMenu></td>

							<td><h:outputText value="Supera tope SOAT?: "
									style="font-weight: bold;" /></td>
							<td><h:selectBooleanCheckbox
									value="#{ingresoSolicitudBean.superaTopeSoat}" /></td>
						</tr>
						<tr>
							<td rowspan="2"><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Justificación" styleClass="sosCampo" /><br /> <h:outputText
									value="Clínica:" styleClass="sosCampo" /></td>
							<td rowspan="2" colspan="6"><h:inputTextarea cols="72"
									required="true"
									requiredMessage="La Justificación Clínica debe estar diligenciado"
									value="#{ingresoSolicitudBean.atencionVO.justificacionClinica}"
									validatorMessage="La justificación clínica debe contener mínimo 10 y máximo 3000 caracteres">
									<f:validateLength minimum="10" maximum="3000" />
								</h:inputTextarea></td>
						</tr>
						<tr />
						<tr>
							<a4j:region>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Diagnóstico:" styleClass="sosCampo" /></td>
								<td><h:inputText id="txtCodDiagnostico" style="width:80px;"
										value="#{ingresoSolicitudBean.txtCodigoDiagnostico}" /> <span />
									<h:inputText id="txtDescripDiagnostico"
										value="#{ingresoSolicitudBean.txtDescripcionDiagnostico}"
										style="width:250px;"
										validatorMessage="Por favor diligencie la cantidad mínima de caracteres: Descripción diagnóstico mínimo 5 caracteres">
										<f:validateLength minimum="5" />
									</h:inputText> <span /> <a4j:commandButton
										onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
										oncomplete="#{rich:component('waitPanel')}.hide()"
										action="#{ingresoSolicitudBean.buscarDiagnostico}"
										reRender="modalDiagnostico, txtCodDiagnostico, txtDescripDiagnostico, selectTipoDiagnostico, modalPnlPop, modalFacesError"
										type="image" title="Buscar Diagnostico"
										image="${request.contextPath}/css/images/ico/icon-search.png"
										styleClass="sosbotonsearch2" /></td>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Tipo de Diagnóstico: " styleClass="sosCampo" /></td>
								<td><h:selectOneMenu id="selectTipoDiagnostico"
										styleClass="sosSelect"
										value="#{ingresoSolicitudBean.consecutivoTipoDiagnostico}">
										<f:selectItem itemValue="" itemLabel="Seleccione" />
										<f:selectItems
											value="#{ingresoSolicitudBean.listaTiposDiagnostico}" />
									</h:selectOneMenu></td>
								<td><a4j:commandButton value="+ Diagnóstico"
										action="#{ingresoSolicitudBean.adicionarDiagnostico}"
										onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
										oncomplete="#{rich:component('waitPanel')}.hide()"
										reRender="txtCodDiagnostico, txtDescripDiagnostico, tableDiagnosticosSelec, modalPnlPop, selectTipoDiagnostico, 
										txtContingencia, selectRecobro"
										styleClass="sosboton">
									</a4j:commandButton></td>
							</a4j:region>
						</tr>
					</table>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Diagnósticos:" styleClass="sosCampo" /></td>
							<td colspan="6"><a4j:region>
									<rich:dataTable id="tableDiagnosticosSelec"
										value="#{ingresoSolicitudBean.listaDiagnosticosSeleccionados}"
										var="diagnostico" rows="15"
										style="width:100%; min-width:610px;">
										<rich:column style="text-align: center">
											<f:facet name="header">
												<h:outputLabel value="" />
											</f:facet>
											<a4j:commandLink
												action="#{ingresoSolicitudBean.elimiarDiagnosticoSeleccionado}"
												reRender="tableDiagnosticosSelec, txtContingencia, selectRecobro, modalPnlPop">
												<h:graphicImage
													value="${request.contextPath}/css/images/ico/icon-trash.png"
													alt="Eliminar" title="Eliminar" />
												<f:setPropertyActionListener value="#{diagnostico}"
													target="#{ingresoSolicitudBean.diagnosticoDTOSeleccionado}" />
											</a4j:commandLink>
										</rich:column>
										<rich:column
											sortBy="#{diagnostico.tiposDiagnosticosVO.consecutivoTipoDiagnostico}">
											<f:facet name="header">
												<h:outputText value="Tipo" />
											</f:facet>
											<h:outputText
												value="#{diagnostico.tiposDiagnosticosVO.descripcionTipoDiagnostico}" />
										</rich:column>
										<rich:column>
											<f:facet name="header">
												<h:outputText value="Código" />
											</f:facet>
											<h:outputText
												value="#{diagnostico.diagnosticosVO.codigoDiagnostico}" />
										</rich:column>
										<rich:column>
											<f:facet name="header">
												<h:outputText value="Descripción" />
											</f:facet>
											<h:outputText
												value="#{diagnostico.diagnosticosVO.descripcionDiagnostico}" />
										</rich:column>
										<f:facet name="footer">
											<rich:datascroller for="tableDiagnosticosSelec" maxPages="20" />
										</f:facet>
									</rich:dataTable>
								</a4j:region></td>
						</tr>
						<tr>
							<td><h:outputText value="Contingencia:"
									style="font-weight: bold;" /></td>
							<td><h:outputText id="txtContingencia"
									value="#{ingresoSolicitudBean.txtContingencia}" /></td>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Recobro: " styleClass="sosCampo" /></td>
							<td><h:selectOneMenu id="selectRecobro" required="true"
									styleClass="sosSelect"
									requiredMessage="El recobro es obligatorio"
									disabled="#{ingresoSolicitudBean.deshabilitarRecobro}"
									value="#{ingresoSolicitudBean.consecutivoContingenciaRecobro}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaContingenciaRecobros}" />
								</h:selectOneMenu></td>
						</tr>

					</table>
				</rich:panel>

				<!-- Panel de medico -->
				<ui:include src="medicoPanel.xhtml" />

				<!-- Panel de prestador -->
				<ui:include src="prestadorSolicitantePanel.xhtml" />

				<!-- Panel de prestaciones -->
				<ui:include src="prestacionesPanel.xhtml" />

				<br />

				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; padding-left:40px;">
					<tr>
						<td><h:outputText value="Observaciones:"
								style="font-weight: bold;" /></td>
						<td><h:inputTextarea cols="120"
								value="#{ingresoSolicitudBean.txtObservaciones}" /></td>
					</tr>
					<tr>
						<td><h:outputText value="Tutela: " style="font-weight: bold;" /></td>
						<td><h:selectOneMenu value="#{ingresoSolicitudBean.tutela}"
								styleClass="sosSelect" disabled="true" required="true"
								requiredMessage="Tutela es obligatoria">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems value="#{ingresoSolicitudBean.listaOpciones}" />
							</h:selectOneMenu></td>
					</tr>
					<tr>
						<td><h:outputText value="N. Radicado: "
								style="font-weight: bold;" /></td>
						<td><h:inputText id="numeroRadicado"
								value="#{ingresoSolicitudBean.numeroSolicitudSOS}"
								disabled="true" /></td>
					</tr>
				</table>

				<br />

				<!-- Panel de inconsistencias administrativas -->
				<ui:include src="inconsistenciasAdmPanel.xhtml" />

				<br />

				<a4j:commandButton id="btnGuardarSol" value="Guardar"
					reRender="modalPnlPop, btnDevolverSol, btnLiberarSol, btnTerminarSol, btnGuardarSol, panelInconsistencias, modalDevolucion, modalFacesError, 
					modalConfirmarEjecuccionBPM, panelPrestaciones, numeroRadicado, modalGenerarOPSObservaciones, modalDevolucionOPS"
					action="#{ingresoSolicitudBean.grabarSolicitud}"
					disabled="#{ingresoSolicitudBean.deshabilitarBtnGuardar}"
					styleClass="sosboton">
				</a4j:commandButton>
				<h:outputText value=" " />
				<a4j:region>
				<a4j:commandButton id="btnDevolverSol" value="Devolver"
					reRender="modalDevolucionPreSolicitud"
					disabled="#{ingresoSolicitudBean.deshabilitarBtnDevolver}"
					action="#{transcribirSolicitudBean.abrirPopupDevolucion}"
					styleClass="sosboton">
				</a4j:commandButton>
				<h:outputText value=" " />
				<a4j:commandButton id="btnLiberarSol" value="Liberar"
					onclick="Richfaces.showModalPanel('confirmationPopLiberar');"
					disabled="#{ingresoSolicitudBean.deshabilitarBtnLeberar}"
					styleClass="sosboton" />
				<h:outputText value=" " />
				<a4j:commandButton id="btnTerminarSol" value="Terminar"
					onclick="Richfaces.showModalPanel('confirmationPopupTerminar');"
					disabled="#{ingresoSolicitudBean.deshabilitarBtnTerminar}"
					styleClass="sosboton" />
				</a4j:region>
			</rich:panel>

			<br />

			<a4j:region>
				<rich:modalPanel id="modalDeletePanel" autosized="true" width="350"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmacionBorrarArchivo}">
					<div class="box-cont-ppal-home" align="center">
						<f:facet name="header">
							<h2 class="titAlert">Borrar Archivo</h2>
						</f:facet>
						<h:panelGrid columns="0" width="100%" style="align: center;"
							styleClass="box-mrgBottom" border="0">
							<h:panelGroup>
								<div align="center">
									<h:outputText value="Está seguro de borrar el archivo?"
										styleClass="txt-alerta" />
								</div>
								<br />
							</h:panelGroup>
						</h:panelGrid>
						<div align="center">
							<a4j:commandButton value="Aceptar" styleClass="btnAccion"
								action="#{ingresoSolicitudBean.borrarArchivoCargado}"
								reRender="dataArchivos, upload, nombreSoporte, modalPnlPop, modalFacesError"
								oncomplete="Richfaces.hideModalPanel('modalDeletePanel');" />
							<a4j:commandButton value="Cancelar" styleClass="btnAccion"
								action="#{ingresoSolicitudBean.cancelarBorrarArchivoCargado}"
								reRender="modalDeletePanel"
								onclick="Richfaces.hideModalPanel('modalDeletePanel');" />
						</div>
					</div>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalAdvertenciaDocumentos" autosized="true"
					width="350"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmacionDocumentos}">
					<div class="box-cont-ppal-home" align="center">
						<f:facet name="header">
							<h2 class="titAlert">Mensaje</h2>
						</f:facet>
						<h:panelGrid columns="0" width="100%" style="align: center;"
							styleClass="box-mrgBottom" border="0">
							<h:panelGroup>
								<div align="center">
									<h:outputText
										value="Aún no se han cargado todos los documentos soporte. ¿Está seguro de no querer continuar con la carga de documentos?."
										styleClass="txt-alerta" />
								</div>
								<br />
							</h:panelGroup>
						</h:panelGrid>
						<div align="center">
							<a4j:commandButton value="Aceptar" styleClass="btnAccion"
								action="#{ingresoSolicitudBean.aceptarDocumentosFaltantes}"
								reRender="modalDocumentoSop, modalPnlPop, modalFacesError"
								oncomplete="Richfaces.hideModalPanel('modalAdvertenciaDocumentos');" />
							<a4j:commandButton value="Cancelar" styleClass="btnAccion"
								action="#{ingresoSolicitudBean.cancelarDocumentosFaltantes}"
								onclick="Richfaces.hideModalPanel('modalAdvertenciaDocumentos');" />
						</div>
					</div>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalConfirmarRegistroMedico" autosized="true"
					width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmarRegistrarMedico}">

					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								action="#{ingresoSolicitudBean.cerrarConfirmacionRegistrarMedicoNoAds}"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarRegistroMedico');" />
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText value="Desea registrar un médico no adscrito? "
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.aceptarConfirmacionRegistarMedicoNoAds}"
							reRender="modalRegistrarMedicoNoAds, modalPnlPop, modalFacesError"
							process="@this"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarRegistroMedico');"
							styleClass="sosboton" />
						<span />
						<a4j:commandButton value="Cancelar" process="@this"
							action="#{ingresoSolicitudBean.cerrarConfirmacionRegistrarMedicoNoAds}"
							styleClass="sosboton"
							onclick="Richfaces.hideModalPanel('modalConfirmarRegistroMedico');" />
					</center>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalConfirmarRegistroPrestador"
					autosized="true" width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmarRegistrarPrestador}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								action="#{ingresoSolicitudBean.cerrarConfirmacionRegistrarPrestador}"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarRegistroPrestador');" />
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText value="Desea registrar un prestador no adscrito?  "
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.aceptarConfirmacionRegistarPrestador}"
							reRender="modalRegistrarPrestador, modalPnlPop, modalFacesError"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarRegistroPrestador');"
							styleClass="sosboton" />
						<span />
						<a4j:commandButton value="Cancelar"
							action="#{ingresoSolicitudBean.cerrarConfirmacionRegistrarPrestador}"
							styleClass="sosboton"
							onclick="Richfaces.hideModalPanel('modalConfirmarRegistroPrestador');" />
					</center>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalConfirmarRegistroMedicamento"
					autosized="true" width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmarRegistrarMedicamento}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								action="#{ingresoSolicitudBean.cerrarPopupConfirmarRegistroMedicamento}"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarRegistroMedicamento');" />
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText
							value="No se encontró la prestación, ¿desea registrarla?"
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.confirmarRegistroMedicamento}"
							reRender="modalRegistrarMedicamento, modalPnlPop, modalFacesError"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarRegistroMedicamento');"
							styleClass="sosboton" />
						<span />
						<a4j:commandButton value="Cancelar"
							action="#{ingresoSolicitudBean.cerrarPopupConfirmarRegistroMedicamento}"
							styleClass="sosboton"
							onclick="Richfaces.hideModalPanel('modalConfirmarRegistroMedicamento');" />
					</center>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalConfirmarRegistroCUP" autosized="true"
					width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupConfirmarRegistrarCUP}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								action="#{ingresoSolicitudBean.cerrarPopupConfirmarRegistroCUP}"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarRegistroCUP');" />
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText
							value="No se encontró la prestación, ¿desea registrarla?"
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.confirmarRegistroCUP}"
							reRender="modalRegistrarCUP, modalPnlPop, modalFacesError"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarRegistroCUP');"
							styleClass="sosboton" />
						<span />
						<a4j:commandButton value="Cancelar"
							action="#{ingresoSolicitudBean.cerrarPopupConfirmarRegistroCUP}"
							styleClass="sosboton"
							onclick="Richfaces.hideModalPanel('modalConfirmarRegistroCUP');" />
					</center>
				</rich:modalPanel>
			</a4j:region>
			<a4j:region>
				<rich:modalPanel id="modalConfirmarCorteCuenta" autosized="true"
					width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupCorteCuenta}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								action="#{ingresoSolicitudBean.ocultarPopupCorteCuenta}"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarCorteCuenta');" />
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText
							value="Está seguro de que el valor de corte cuenta corresponde a #{ingresoSolicitudBean.hospitalizacionVO.corteCuenta}"
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.ocultarPopupHospitalizacion}"
							reRender="modalConfirmarCorteCuenta, modalHospitalizacion, modalPnlPop, modalFacesError"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarCorteCuenta');"
							styleClass="sosboton" />
						<span />
						<a4j:commandButton value="Cancelar"
							action="#{ingresoSolicitudBean.ocultarPopupCorteCuenta}"
							styleClass="sosboton"
							onclick="Richfaces.hideModalPanel('modalConfirmarCorteCuenta');" />
					</center>
				</rich:modalPanel>
			</a4j:region>
			<a4j:region>
				<rich:modalPanel id="modalConfirmarEjecuccionBPM" autosized="true"
					width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupEjecutarBPM}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalConfirmarEjecuccionBPM');">
								<f:setPropertyActionListener
									target="#{ingresoSolicitudBean.mostrarPopupEjecutarBPM}"
									value="#{false}" />
							</a4j:commandButton>
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText
							value="Desea intentar ejecutar la instancia de BPM nuevamente?"
							style="font-weight: bold;" />

						<p />

						<a4j:commandButton value="Aceptar"
							action="#{ingresoSolicitudBean.ejecutarBPMSegundaVez}"
							reRender="modalConfirmarEjecuccionBPM, modalPnlPop, modalFacesError"
							oncomplete="Richfaces.hideModalPanel('modalConfirmarEjecuccionBPM');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
						<span />
						<a4j:commandButton value="Cancelar"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
							onclick="Richfaces.hideModalPanel('modalConfirmarEjecuccionBPM');">
							<f:setPropertyActionListener
								target="#{ingresoSolicitudBean.mostrarPopupEjecutarBPM}"
								value="#{false}" />
						</a4j:commandButton>
					</center>
				</rich:modalPanel>
			</a4j:region>

			<a4j:region>
				<rich:modalPanel id="modalGenerarOPSObservaciones" autosized="true"
					width="380"
					showWhenRendered="#{ingresoSolicitudBean.mostrarPopupGenerarOPS}">
					<f:facet name="header">
						<h:panelGroup>
							<h:outputText value="Confirmar" />
						</h:panelGroup>
					</f:facet>
					<f:facet name="controls">
						<h:panelGroup>
							<a4j:commandButton value="X"
								style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('modalGenerarOPSObservaciones');">
								<f:setPropertyActionListener
									target="#{ingresoSolicitudBean.mostrarPopupGenerarOPS}"
									value="#{false}" />
							</a4j:commandButton>
						</h:panelGroup>
					</f:facet>

					<center>
						<h:outputText
							value="¿Desea descargar la(s) autorizaciones con observaciones?"
							style="font-weight: bold;" />

						<p />

						<h:commandLink value="Si"
							action="#{ingresoSolicitudBean.generarOPS}"
							onclick="Richfaces.hideModalPanel('modalGenerarOPSObservaciones');"
							reRender="modalGenerarOPSObservaciones, modalPnlPop, modalFacesError"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<f:setPropertyActionListener
								target="#{ingresoSolicitudBean.generarConObservaciones}"
								value="#{true}" />
						</h:commandLink>
						<span />
						<h:commandLink value="No"
							action="#{ingresoSolicitudBean.generarOPS}"
							onclick="Richfaces.hideModalPanel('modalGenerarOPSObservaciones');"
							reRender="modalGenerarOPSObservaciones, modalPnlPop, modalFacesError"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<f:setPropertyActionListener
								target="#{ingresoSolicitudBean.generarConObservaciones}"
								value="#{false}" />
						</h:commandLink>
					</center>
				</rich:modalPanel>
			</a4j:region>
			<a4j:region>
			<rich:modalPanel id="confirmationPopLiberar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopLiberar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea liberar la tarea?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{transcribirSolicitudBean.liberarTranscripcion}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopLiberar');"
								 /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopLiberar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>
			</a4j:region>
			<a4j:region>
			<rich:modalPanel id="confirmationPopupTerminar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea enviar la tarea?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{transcribirSolicitudBean.terminarTranscripcion}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupTerminar');"
								 /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>
			</a4j:region>
			
		</h:form>

		<ui:include src="documentosSoportePopup.xhtml" />
	    <ui:include src="devolucionPreSolicitudPopup.xhtml" /> 
 		<ui:include src="../../../view/ingresarSolicitud/popup/hospitalizacionPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/diagnosticoPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/prestadorPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/ciudadPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/prestacionCUPSPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/prestacionMedicamentosPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/medicoPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/confirmarAutorizacionPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/devolucionPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/inconsistenciasAdminPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/registrarMedicoNoAds.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/registrarPrestadorPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/registrarCUPPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/registrarMedicamentoPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/detConveniosCapacitPopup.xhtml" />
		<ui:include src="../../../view/ingresarSolicitud/popup/devolucionOPSPopup.xhtml" /> 

	</ui:define>
</ui:composition>
</html>