<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<a4j:region>
		<rich:panel id="panelMedico" styleClass="sosPanel">
			<table width="100%" border="0" align="left" cellpadding="0" cellspacing="1">
				<tbody>
					<tr>
						<td bgcolor="#FFFFFF" class="sosTituloSeccion">*Médico Solicitante</td>
						<td width="80%"><hr /></td>
					</tr>
				</tbody>
			</table>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td />
					<td><h:selectOneRadio disabled="true"
							value="#{ingresoSolicitudBean.medicoAdscrito}"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<f:selectItem itemValue="true" itemLabel="Adscrito" />
							<f:selectItem itemValue="false" itemLabel="No Adscrito" />
						</h:selectOneRadio></td>
				</tr>
				<tr>
					<td><h:outputText value="Identificación:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu styleClass="sosSelectCorto"
							disabled="#{ingresoSolicitudBean.deshabilitarCamposMedico}"
							value="#{ingresoSolicitudBean.medicoVO.consecCodTipoId}">
							<f:selectItem itemValue="-1" itemLabel="Seleccione" />
							<f:selectItems
								value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />
						</h:selectOneMenu> <span /> <h:inputText style="width:150px;"
							disabled="#{ingresoSolicitudBean.deshabilitarCamposMedico}"
							validatorMessage="El número de identificación ingresado no es un dato numérico"
							value="#{ingresoSolicitudBean.medicoVO.numeroIdentificacion}"
							onkeypress="validateNumeric(event)">
							<f:validateLongRange minimum="1" />
						</h:inputText></td>
					<td><h:outputText value="Registro:" style="font-weight: bold;" /></td>
					<td colspan="2"><h:inputText style="width:245px;"
							disabled="#{ingresoSolicitudBean.deshabilitarCamposMedico}"
							value="#{ingresoSolicitudBean.medicoVO.registroMedico}" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Primer Nombre:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;"
							validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Primer nombre mínimo 2 caracteres"
							value="#{ingresoSolicitudBean.medicoVO.primerNombre}">
							<f:validateLength minimum="2" />
						</h:inputText></td>
					<td><h:outputText value="Segundo Nombre:"
							style="font-weight: bold;" /></td>
					<td colspan="2"><h:inputText style="width:245px;"
							validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Segundo nombre mínimo 2 caracteres"
							value="#{ingresoSolicitudBean.medicoVO.segundoNombre}">
							<f:validateLength minimum="2" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="Primer Apellido:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;"
							validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Primer apellido mínimo 2 caracteres"
							value="#{ingresoSolicitudBean.medicoVO.primerApellido}">
							<f:validateLength minimum="2" />
						</h:inputText></td>
					<td><h:outputText value="Segundo Apellido:"
							style="font-weight: bold;" /></td>
					<td colspan="2"><h:inputText style="width:245px;"
							validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Segundo apellido mínimo 2 caracteres"
							value="#{ingresoSolicitudBean.medicoVO.segundoApellido}">
							<f:validateLength minimum="2" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="Especialidad:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;" disabled="true"
							value="#{ingresoSolicitudBean.medicoVO.descripcionEspe}" /></td>
					<td />
					<td><a4j:commandButton process="@this, panelMedico"
							action="#{ingresoSolicitudBean.buscarMedico}"
							onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
							oncomplete="#{rich:component('waitPanel')}.hide()"
							reRender="modalMedico, panelMedico, modalPrestador, modalConfirmarRegistroMedico, modalPnlPop, modalFacesError"
							type="image" title="Buscar Médico"
							image="${request.contextPath}/css/images/ico/icon-search.png"
							styleClass="sosbotonsearch2">
						</a4j:commandButton> <span /> <h:outputText value="Buscar Médico"
							style="font-weight: bold;" /></td>
				</tr>
				<tr>
					<td colspan="4" />
					<td><a4j:region>
							<a4j:commandButton value="Nueva Consulta"
								action="#{ingresoSolicitudBean.nuevaBusquedaMedico}"
								reRender="panelMedico, modalFacesError"
								styleClass="sosboton">
							</a4j:commandButton>
						</a4j:region></td>
				</tr>
			</table>
		</rich:panel>
	</a4j:region>
</ui:composition>