<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelRecienNacido" styleClass="sosPanel">
		<table width="100%" border="0" align="left" cellpadding="0"
			cellspacing="1">
			<tbody>
				<tr>
					<td bgcolor="#FFFFFF" class="sosTituloSeccion">Información
						Recién Nacido</td>
					<td width="80%"><hr /></td>
				</tr>
			</tbody>
		</table>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
					<h:outputText value="Recien Nacido: " styleClass="sosCampo" /></td>
				<td><a4j:region>
						<h:selectOneMenu value="#{ingresoSolicitudBean.recienNacido}"
							styleClass="sosSelectCorto" required="true"
							requiredMessage="Recién nacido es obligatorio">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems value="#{ingresoSolicitudBean.listaOpciones}" />
							<a4j:support event="onchange"
								reRender="panelRecienNacido, modalFacesError"
								action="#{ingresoSolicitudBean.cambiarOpcionRecienNacido}" />
						</h:selectOneMenu>
					</a4j:region></td>
				<a4j:region>
					<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Fecha Nacimiento: " styleClass="sosCampo" /></td>
					<td><rich:calendar
							value="#{ingresoSolicitudBean.recienNacidoVO.fechaNacimientoRecienNacido}"
							datePattern="yyyy/MM/dd"
							disabled="#{!ingresoSolicitudBean.esRecienNacido}"
							required="#{ingresoSolicitudBean.esRecienNacido}"
							requiredMessage="La fecha de nacimiento es obligatoria" /></td>
					<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Género: " styleClass="sosCampo" /></td>
					<td colspan="2"><h:selectOneMenu styleClass="sosSelectCorto"
							value="#{ingresoSolicitudBean.recienNacidoVO.generoVO.consecutivoGenero}"
							disabled="#{!ingresoSolicitudBean.esRecienNacido}"
							required="#{ingresoSolicitudBean.esRecienNacido}"
							requiredMessage="El género es obligatorio">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems value="#{ingresoSolicitudBean.listaGeneros}" />
						</h:selectOneMenu></td>

					<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Parto Múltiple: " styleClass="sosCampo" /></td>
					<td colspan="2"><a4j:region>
							<h:selectOneMenu styleClass="sosSelectCorto"
								value="#{ingresoSolicitudBean.partoMultiple}"
								disabled="#{!ingresoSolicitudBean.esRecienNacido}"
								required="#{ingresoSolicitudBean.esRecienNacido}"
								requiredMessage="Parto múltiple es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems value="#{ingresoSolicitudBean.listaOpciones}" />
								<a4j:support event="onchange"
									reRender="selectPartoMultiple, modalFacesError"
									action="#{ingresoSolicitudBean.cambiarOpcionPartoMultiple}" />
							</h:selectOneMenu>
						</a4j:region></td>
				</a4j:region>
				<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
					<h:outputText value="Nro. Hijo: " styleClass="sosCampo" /></td>
				<td colspan="2"><h:selectOneMenu id="selectPartoMultiple"
						styleClass="sosSelectCorto"
						value="#{ingresoSolicitudBean.recienNacidoVO.numeroHijos}"
						disabled="#{!ingresoSolicitudBean.esPartoMultiple}"
						required="#{ingresoSolicitudBean.esRecienNacido}"
						requiredMessage="El número de hijos es obligatorio">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItem itemValue="1" itemLabel="1" />
						<f:selectItem itemValue="2" itemLabel="2" />
						<f:selectItem itemValue="3" itemLabel="3" />
						<f:selectItem itemValue="4" itemLabel="4" />
						<f:selectItem itemValue="5" itemLabel="5" />
						<f:selectItem itemValue="6" itemLabel="6" />
						<f:selectItem itemValue="7" itemLabel="7" />
						<f:selectItem itemValue="8" itemLabel="8" />
					</h:selectOneMenu></td>
			</tr>
		</table>
	</rich:panel>
</ui:composition>