<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelPrestaciones" styleClass="sosPanel">
		<table width="100%" border="0" align="left" cellpadding="0"
			cellspacing="1">
			<tbody>
				<tr>
					<td bgcolor="#FFFFFF" class="sosTituloSeccion">Prestaciones</td>
					<td width="80%"><hr /></td>
				</tr>
			</tbody>
		</table>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
					<h:outputText value="Tipo:" styleClass="sosCampo" /></td>
				<td><a4j:region>
						<h:selectOneMenu styleClass="sosSelect"
							disabled="#{ingresoSolicitudBean.deshabilitarSelectTipoPrestacion or ingresoSolicitudBean.esModificacionPrestacion}"
							value="#{ingresoSolicitudBean.tipoPrestacionSeleccionado}">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{ingresoSolicitudBean.listaTiposPrestaciones}" />
							<a4j:support event="onchange" reRender="panelPrestaciones"
								action="#{ingresoSolicitudBean.seleccionTipoPrestacion}" />
						</h:selectOneMenu>
					</a4j:region></td>
			</tr>
		</table>

		<a4j:region>
			<h:panelGrid id="panelMedicamentos"
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;"
				rendered="#{ingresoSolicitudBean.mostrarPanelMedicamentos}">
				<h:column>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<a4j:region>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Prestación:" styleClass="sosCampo" /></td>
								<td><h:inputText style="width:160px;"
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										value="#{ingresoSolicitudBean.medicamentoVO.codigoCodificacionMedicamento}" /></td>
								<td colspan="6"><h:inputText style="width:400px;"
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										validatorMessage="Por favor ingrese mínimo 2 caracteres en la Descripción de la prestación"
										value="#{ingresoSolicitudBean.medicamentoVO.descripcionCodificacionMedicamento}">
										<f:validateLength minimum="2" />
									</h:inputText> <span /> <a4j:commandButton
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										reRender="modalPrestacionMedicamentos, modalConfirmarRegistroMedicamento, modalPnlPop, panelMedicamentos, modalFacesError"
										action="#{ingresoSolicitudBean.buscarPrestacionMedicamentos}"
										type="image" title="Buscar Medicamentos"
										image="${request.contextPath}/css/images/ico/icon-search.png"
										styleClass="sosbotonsearch2"
										onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
										oncomplete="#{rich:component('waitPanel')}.hide()">
									</a4j:commandButton></td>
							</a4j:region>
						</tr>
						<tr>
							<td><h:outputText value="Concentración:"
									style="font-weight: bold;" /></td>
							<td><h:inputText style="width:50px;" disabled="true"
									value="#{ingresoSolicitudBean.medicamentoVO.concentracionVO.cantidadConcentracion}" />
								<span /> <h:inputText style="width:105px;" disabled="true"
									value="#{ingresoSolicitudBean.medicamentoVO.concentracionVO.descripcionConcentracion}" /></td>
							<td><h:outputText value="Presentación:"
									style="font-weight: bold;" /></td>
							<td colspan="4"><h:inputText style="width:150px;"
									disabled="true"
									value="#{ingresoSolicitudBean.medicamentoVO.presentacionVO.descripcionPresentacion}" />
								<span /> x <span /> <h:inputText style="width:150px;"
									disabled="true"
									value="#{ingresoSolicitudBean.medicamentoVO.presentacionVO.cantidadPresentacion}" /></td>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Cantidad:" styleClass="sosCampo" /></td>
							<td><h:inputText style="width:160px;"
									id="cantidadMedicamento" onkeypress="validateNumeric(event)"
									validatorMessage="El campo cantidad debe ser numérico mayor a 0."
									value="#{ingresoSolicitudBean.medicamentoVO.cantidadMedicamento}">
									<f:validateLongRange minimum="1" />
								</h:inputText></td>
							<td><h:outputText value="Lateralidad:" rendered="false"
									style="font-weight: bold;" /></td>
							<td><h:selectOneMenu disabled="true" rendered="false"
									styleClass="sosSelect"
									value="#{ingresoSolicitudBean.medicamentoVO.consecutivoLaterialidad}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaLateralidades}" />
								</h:selectOneMenu></td>
						</tr>
						<tr>
							<td rowspan="2"><h:outputText value="Posología:"
									style="font-weight: bold;" /><br /> <h:outputText
									value="Dosis:" style="font-weight: bold;" /></td>
							<td rowspan="2"><h:inputText style="width:30px;"
									onkeypress="validateDecimalNumeric(event)"
									validatorMessage="El campo posología debe ser decimal positivo"
									value="#{ingresoSolicitudBean.medicamentoVO.cantidadDosis}">
									<f:validateDoubleRange minimum="1.00" />
								</h:inputText> <span /> <h:selectOneMenu styleClass="sosSelect"
									value="#{ingresoSolicitudBean.medicamentoVO.dosisVO.consecutivoCodigoDosis}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaDosisMedicamentos}" />
								</h:selectOneMenu></td>
							<td rowspan="2"><h:outputText value="Cada"
									style="font-weight: bold;" /></td>
							<td rowspan="2"><h:inputText style="width:30px;"
									onkeypress="validateDecimalNumeric(event)"
									validatorMessage="El campo cada debe ser decimal positivo"
									value="#{ingresoSolicitudBean.medicamentoVO.horaFrecuencia}">
									<f:validateDoubleRange minimum="1.00" />
								</h:inputText> <span /> <h:selectOneMenu styleClass="sosSelect"
									value="#{ingresoSolicitudBean.medicamentoVO.frecuenciaVO.consecutivoFrecuencia}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaFrecuenciaMedicamentos}" />
								</h:selectOneMenu></td>
							<td><a4j:commandButton value="+ Prestación"
									action="#{ingresoSolicitudBean.adicionarMedicamentos}"
									onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
									oncomplete="#{rich:component('waitPanel')}.hide()"
									styleClass="sosboton"
									reRender="panelPrestaciones, modalDocumentoSop, btnAdjuntarSoportes, modalFacesError" /></td>
						</tr>
						<tr />
					</table>
				</h:column>
			</h:panelGrid>
		</a4j:region>

		<h:panelGrid id="panelCups"
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;"
			rendered="#{ingresoSolicitudBean.mostrarPanelCUPS}">
			<a4j:region>
				<h:column>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<a4j:region>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Prestación:" styleClass="sosCampo" /></td>
								<td><h:inputText style="width:160px;"
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										value="#{ingresoSolicitudBean.procedimientosVO.codigoCodificacionProcedimiento}" /></td>
								<td colspan="6"><h:inputText style="width:400px;"
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										validatorMessage="Por favor ingrese mínimo 2 caracteres en la Descripción de la prestación"
										value="#{ingresoSolicitudBean.procedimientosVO.descripcionCodificacionProcedimiento}">
										<f:validateLength minimum="2" />
									</h:inputText> <span /> <a4j:commandButton
										disabled="#{ingresoSolicitudBean.esModificacionPrestacion}"
										action="#{ingresoSolicitudBean.buscarPrestacionCUPS}"
										type="image" title="Buscar CUPS"
										image="${request.contextPath}/css/images/ico/icon-search.png"
										styleClass="sosbotonsearch2"
										reRender="modalPrestacionCUPS, modalConfirmarRegistroCUP, modalPnlPop, panelCups, modalFacesError"
										onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
										oncomplete="#{rich:component('waitPanel')}.hide()">
									</a4j:commandButton></td>
							</a4j:region>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Cantidad:" styleClass="sosCampo" /></td>
							<td><h:inputText style="width:160px;" id="cantidadCup"
									onkeypress="validateNumeric(event)"
									validatorMessage="El campo cantidad debe ser numérico mayor a 0."
									value="#{ingresoSolicitudBean.procedimientosVO.cantidadProcedimiento}">
									<f:validateLongRange minimum="1" />
								</h:inputText></td>
							<td><h:outputText value="Lateralidad:"
									style="font-weight: bold;" /></td>
							<td><h:selectOneMenu styleClass="sosSelect"
									disabled="#{ingresoSolicitudBean.deshabilitarSelectLateralidadCUP}"
									value="#{ingresoSolicitudBean.procedimientosVO.consecutivoLaterialidad}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaLateralidades}" />
								</h:selectOneMenu></td>
							<td><h:outputText value="Vía Acceso:"
									style="font-weight: bold;" /></td>
							<td><h:selectOneMenu styleClass="sosSelect"
									value="#{ingresoSolicitudBean.procedimientosVO.consecutivoViaAcceso}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{ingresoSolicitudBean.listaViasAccesoMedicamento}" />
								</h:selectOneMenu></td>
							<td><a4j:commandButton value="+ Prestación"
									action="#{ingresoSolicitudBean.adicionarCUP}"
									reRender="panelPrestaciones, modalPnlPop, modalDocumentoSop, btnAdjuntarSoportes, modalFacesError"
									onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
									oncomplete="#{rich:component('waitPanel')}.hide()"
									styleClass="sosboton">
								</a4j:commandButton></td>
						</tr>
						<tr />
					</table>
				</h:column>
			</a4j:region>
		</h:panelGrid>

		<br />

		<a4j:region>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="Prestaciones Solicitadas:"
							style="font-weight: bold;" /></td>
				</tr>
				<tr>
					<td><rich:dataTable width="100%" id="dataTablePrestaciones"
							value="#{ingresoSolicitudBean.listaPrestacionesSolicitadas}"
							var="prestacion" rows="10">
							<rich:column>
								<f:facet name="header">
									<h:outputLabel value="" />
								</f:facet>
								<a4j:commandLink
									action="#{ingresoSolicitudBean.eliminarPrestacion}"
									reRender="dataTablePrestaciones, modalDocumentoSop, btnAdjuntarSoportes">
									<h:graphicImage
										value="${request.contextPath}/css/images/ico/icon-trash.png"
										alt="Eliminar" title="Eliminar" />
									<f:setPropertyActionListener
										target="#{ingresoSolicitudBean.prestacionSeleccionada}"
										value="#{prestacion}" />
								</a4j:commandLink>
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputLabel value="" />
								</f:facet>
								<a4j:commandLink
									action="#{ingresoSolicitudBean.modificarPrestacion}"
									reRender="panelPrestaciones, modalDocumentoSop, btnAdjuntarSoportes">
									<h:graphicImage
										value="${request.contextPath}/css/images/ico/icon-edit.png"
										alt="Modificar" title="Modificar" />
									<f:setPropertyActionListener
										target="#{ingresoSolicitudBean.prestacionSeleccionada}"
										value="#{prestacion}" />
								</a4j:commandLink>
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Tipo" />
								</f:facet>
								<h:outputText
									value="#{prestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Código" />
								</f:facet>
								<h:outputText value="#{prestacion.codigoCodificacionPrestacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Descripción" />
								</f:facet>
								<h:outputText
									value="#{prestacion.descripcionCodificacionPrestacion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Cant." />
								</f:facet>
								<h:outputText value="#{prestacion.cantidad}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="POS" />
								</f:facet>
								<h:outputText value="#{prestacion.indicadorNoPOS}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Lateralidad" />
								</f:facet>
								<h:outputText
									value="#{prestacion.lateralidadesVO.descripcionLateralidad}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Vía Acceso" />
								</f:facet>
								<h:outputText
									value="#{prestacion.viaAccesoVO.descripcionViaAcceso}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Posología" />
								</f:facet>
								<h:outputText
									value="#{prestacion.medicamentosVO.cantidadDosis} #{prestacion.dosisVO.descripcionDosis}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Concentración" />
								</f:facet>
								<h:outputText
									value="#{prestacion.concentracionVO.cantidadConcentracion} #{prestacion.concentracionVO.descripcionConcentracion}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Presentación" />
								</f:facet>
								<h:outputText
									value="#{prestacion.presentacionVO.descripcionXCantidad}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="F. Entrega" />
								</f:facet>
								<h:outputText value="#{prestacion.fechaEstimadaEntrega}">
									<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
								</h:outputText>
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller for="dataTablePrestaciones" />
							</f:facet>
						</rich:dataTable></td>
				</tr>
			</table>
		</a4j:region>

		<br />

		<center>
			<a4j:region>
				<a4j:commandButton id="btnAdjuntarSoportes"
					value="+ Documentos Soporte"
					disabled="#{ingresoSolicitudBean.deshabilitarBtnDocumentos}"
					action="#{ingresoSolicitudBean.mostrarPopupDocumentosSoporte}"
					reRender="modalDocumentoSop, modalPnlPop, modalFacesError"
					styleClass="sosboton"
					oncomplete="Richfaces.showModalPanel('modalDocumentoSop');" />
			</a4j:region>
		</center>

	</rich:panel>

</ui:composition>