<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<a4j:region>
		<rich:panel id="panelPrestador" styleClass="sosPanel" >
			<table width="100%" border="0" align="left" cellpadding="0"
				cellspacing="1">
				<tbody>
					<tr>
						<td bgcolor="#FFFFFF" class="sosTituloSeccion">*Prestador
							Solicitante</td>
						<td width="80%"><hr /></td>
					</tr>
				</tbody>
			</table>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td />
					<td><h:selectOneRadio disabled="true"
							value="#{ingresoSolicitudBean.prestadorAdscrito}"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<f:selectItem itemValue="true" itemLabel="Adscrito" />
							<f:selectItem itemValue="false" itemLabel="No Adscrito" />
						</h:selectOneRadio></td>
				</tr>
				<tr>
					<td><h:outputText value="Identificación:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu styleClass="sosSelectCorto" disabled="#{!ingresoSolicitudBean.verIps}"
							value="#{ingresoSolicitudBean.ipsVO.consecCodigoTipoId}">
							<f:selectItem itemValue="-1" itemLabel="Seleccione" />
							<f:selectItems
								value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />
						</h:selectOneMenu> <span /> <h:inputText style="width:150px;"
							onkeypress="validateNumeric(event)"
							value="#{ingresoSolicitudBean.ipsVO.numeroIdentificacion}"
							validatorMessage="El número de identificación ingresado no es un dato numérico" readonly="#{!ingresoSolicitudBean.verIps}">
							<f:validateLongRange minimum="1" />
						</h:inputText></td>
					<td><h:outputText value="Código Interno:"
							style="font-weight: bold;" /></td>
					<td colspan="2"><h:inputText style="width:245px;"
							value="#{ingresoSolicitudBean.ipsVO.codigoInterno}" readonly="#{!ingresoSolicitudBean.verIps}"/></td>
				</tr>
				<tr>
					<td><h:outputText value="Sucursal:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;"
							value="#{ingresoSolicitudBean.ipsVO.sucursal}" readonly="#{!ingresoSolicitudBean.verIps}"/></td>
					<td />
					<td><a4j:commandButton disabled="#{!ingresoSolicitudBean.verIps}"
							action="#{ingresoSolicitudBean.buscarIPS}"
							onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
							oncomplete="#{rich:component('waitPanel')}.hide()"
							reRender="modalConfirmarRegistroPrestador, modalPrestador, panelPrestador, modalPnlPop, modalFacesError"
							type="image" title="Buscar Prestador"
							image="${request.contextPath}/css/images/ico/icon-search.png"
							styleClass="sosbotonsearch2">
						</a4j:commandButton> <span /> <h:outputText value="Buscar Prestador"
							style="font-weight: bold;" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Razón Social:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;" disabled="true"
							value="#{ingresoSolicitudBean.ipsVO.razonSocial}" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Ciudad:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;" disabled="true"
							value="#{ingresoSolicitudBean.ipsVO.descripcionCiudad}" /></td>
					<td />
					<td><a4j:region>
							<a4j:commandButton value="Nueva Consulta" disabled="#{!ingresoSolicitudBean.verIps}"
								action="#{ingresoSolicitudBean.nuevaBusquedaIPS}"
								reRender="panelPrestador, modalRegistrarPrestador, modalFacesError"
								styleClass="sosboton">
							</a4j:commandButton>
						</a4j:region></td>
				</tr>
			</table>
		</rich:panel>
	</a4j:region>
</ui:composition>