<h:form id="formPopupPrestacionCUPS"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalPrestacionCUPS" autosized="true" width="550"
		showWhenRendered="#{consultarProgramacionEntregaBean.mostrarPopupCUPS}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarProgramacionEntregaBean.cerrarPopupCUPS}"
					onclick="Richfaces.hideModalPanel('modalPrestacionCUPS');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
			<rich:dataTable width="100%" id="dataTableCUPS"
				value="#{consultarProgramacionEntregaBean.listaCUPSEncontrados}"
				var="procedimiento" rows="10">
				<rich:column>
					<f:facet name="header">
						<h:outputLabel value="" />
					</f:facet>
					<a4j:commandLink
						action="#{consultarProgramacionEntregaBean.seleccionPopupCUPS}"
						reRender=":form:panelPrestacion, modalPrestacionCUPS"
						oncomplete="Richfaces.hideModalPanel('modalPrestacionCUPS');">
						<h:outputText value="Seleccionar" />
						<f:setPropertyActionListener
							target="#{consultarProgramacionEntregaBean.procedimientoVOSeleccionado}"
							value="#{procedimiento}" />
					</a4j:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Código" />
					</f:facet>
					<h:outputText
						value="#{procedimiento.codigoCodificacionProcedimiento}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Descripción" />
					</f:facet>
					<h:outputText
						value="#{procedimiento.descripcionCodificacionProcedimiento}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataTableCUPS" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{consultarProgramacionEntregaBean.cerrarPopupCUPS}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalPrestacionCUPS');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>