<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<rich:panel id="datosGestionAuditorCUOS3Panel" header="">

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:83%;">

			<tr>
				<td><h:outputText value="Fundamento Legal:"
						style="font-weight: bold;" /></td>
				<td colspan="4"><rich:dataTable id="tableFundamentoDomiciliariaCUOS"
					value="#{gestionAuditoriaIntegralBean.listaFundamentosCUOS}"
					var="fundamentos" rows="15" width="100%" >
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Sel." />
						</f:facet>
						<h:selectBooleanCheckbox
							value="#{fundamentos.estadoFudamento}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Fundamento" />
						</f:facet>
						<h:outputText
							value="#{fundamentos.fundamentoLegal}" />
					</rich:column>
					<f:facet name="footer">
						<rich:datascroller for="tableFundamentoDomiciliariaCUOS" maxPages="20" />
					</f:facet>
				</rich:dataTable></td>
			</tr>
			<tr> 
				<td><h:outputText value="Auditor Médico:"
						style="font-weight: bold;" /></td>
				<td><h:selectOneMenu disabled="true" value="#{medico.consecCodTipoId}"
					readonly="true" style="width:200px;">
				<!-- <f:selectItems
						value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />-->
				</h:selectOneMenu>
				</td>
			</tr>
			<tr>
		    	<td><h:outputText value="Alternativa: " style="font-weight: bold;" /></td>
		    	<td><h:inputText style="width:200px;" readonly="true"/> 
		    		<h:outputText value=" " style="font-weight: bold;" />
					<a4j:commandButton value="+ Alternativa" styleClass="btnAccion"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
					onclick="Richfaces.hideModalPanel('modalDeletePanel');" />
				</td>
		  	</tr>
		  	<tr>
		  		<td colspan="4"><rich:dataTable id="tableAlternativaDomiciliariaCUOS"
					value="#{gestionAuditoriaIntegralBean.listaAlternativasCUOS}"
					var="alternativa" rows="15" width="50%" >
					<rich:column>
					<f:facet name="header">
						<h:outputLabel value="Seleccionar" />
					</f:facet>
					<a4j:commandLink
						action="#{ingresoSolicitudBean.elimiarDiagnosticoSeleccionado}"
						reRender="tablePrestacionesAprobadas, txtContingencia, selectRecobro">
						<h:outputText value="Eliminar" />
						<f:setPropertyActionListener value="#{prestacionesDomiciliaria}"
								target="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp}" />
					</a4j:commandLink>
					</rich:column>
					<rich:column style="width:90%;">
						<f:facet name="header">
							<h:outputText value="Alternativa" />
						</f:facet>
						<h:outputText
							value="#{alternativa.alternativa}" />
					</rich:column>
					<f:facet name="footer">
						<rich:datascroller for="tableAlternativaDomiciliariaCUOS" maxPages="20" />
					</f:facet>
				</rich:dataTable></td>
		  	</tr>
		</table>
		</rich:panel>
		
		
</ui:composition>
