<a4j:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalAnularPrestacion" autosized="true"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupAnularPrestacion}"
		domElementAttachment="form" width="450">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Anulación de Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarSolicitudBean.cerrarPopupAnularPrestacion}"
					onclick="Richfaces.hideModalPanel('modalAnularPrestacion');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<rich:panel id="panelAnularOPS" styleClass="sosPanel">
				<fieldset>
					<legend>Anulación de Prestación</legend>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="Tipo:"
								styleClass="sosCampo" /></td>
							<td><h:inputText disabled="true"
									value="#{consultarSolicitudBean.prestacionSeleccionada.tipoCodificacionVO.descripcionTipoCodificacion}">
								</h:inputText></td>
							<td><h:outputText value="Código:"
								styleClass="sosCampo" /></td>
							<td><h:inputText disabled="true"
									value="#{consultarSolicitudBean.prestacionSeleccionada.codigoCodificacionPrestacion}">
								</h:inputText></td>
						</tr>
						<tr>
							<td><h:outputText value="Descripción:"
								styleClass="sosCampo" /></td>
							<td colspan="3"><h:inputText style="width:510px;" disabled="true"
									value="#{consultarSolicitudBean.prestacionSeleccionada.descripcionCodificacionPrestacion}">
							</h:inputText></td>
						</tr>

						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Causal:" styleClass="sosCampo" /></td>
							<td colspan="7"><h:selectOneMenu style="width:510px;"
									value="#{consultarSolicitudBean.causalAnulacionPrestacion}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{consultarSolicitudBean.lstMotivosCausasPrestacion}" />
								</h:selectOneMenu></td>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Observaciones: " styleClass="sosCampo" /></td>
							<td colspan="7"><h:inputTextarea
									value="#{consultarSolicitudBean.observacionAnulacionPrestacion}" cols="70" /></td>
						</tr>

					</table>
					<center>
						<a4j:commandButton value="Guardar"
							onclick="Richfaces.showModalPanel('modalConfirmarAnularPrestacion');"
							reRender="modalAnularPrestacion, modalPnlPop, panelSolicitud"
							styleClass="sosbotonguardar" />
						<span />

						<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
							action="#{consultarSolicitudBean.cerrarPopupAnularPrestacion}"
							onclick="Richfaces.hideModalPanel('modalAnularPrestacion');" />
					</center>
				</fieldset>
			</rich:panel>
		</a4j:region>
	</rich:modalPanel>
</a4j:form>
