<a4j:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalAnularSolicitud" autosized="true"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupAnularSolicitud}"
		domElementAttachment="form" width="450">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Anulación Solicitud" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarSolicitudBean.cerrarPopupAnularSolicitud}"
					onclick="Richfaces.hideModalPanel('modalAnularSolicitud');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<rich:panel id="panelAnular" styleClass="sosPanel">
				<fieldset>
					<legend>Anulación Solicitud</legend>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="N. Radicado Solicitud:"
									styleClass="sosCampo" /></td>
							<td><h:inputText style="width:160px;" disabled="true"
									value="#{consultarSolicitudBean.solicitudSeleccionada.numeroRadicado}">
								</h:inputText></td>
						</tr>

						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Causal:" styleClass="sosCampo" /></td>
							<td><h:selectOneMenu style="width:510px;"
									value="#{consultarSolicitudBean.causalAnulacionSolicitud}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{consultarSolicitudBean.lstMotivosCausas}" />
								</h:selectOneMenu></td>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Observaciones: " styleClass="sosCampo" /></td>
							<td rowspan="4" colspan="7"><h:inputTextarea
									value="#{consultarSolicitudBean.obsAnulacionSolicitud}"
									cols="70" /></td>
						</tr>

					</table>
					<center>
						<a4j:commandButton value="Guardar"
							onclick="Richfaces.showModalPanel('modalConfirmarAnularSolicitud');"
							reRender="modalAnularSolicitud, modalPnlPop, panelSolicitud"
							styleClass="sosbotonguardar" />

						<span />
						<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
							action="#{consultarSolicitudBean.cerrarPopupAnularSolicitud}"
							onclick="Richfaces.hideModalPanel('modalAnularSolicitud');" />

					</center>
				</fieldset>
			</rich:panel>
		</a4j:region>
	</rich:modalPanel>
</a4j:form>
