<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalAutorizarPrestacionNegada" style="overflow: scroll"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupAutorizarNegacion}"
		domElementAttachment="form" height="600" width="800">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText
					value="Datos Autorización Para la Prestación Devuelta" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarSolicitudBean.cerrarPopupAutorizarNegacion}"
					onclick="Richfaces.hideModalPanel('modalAutorizarPrestacionNegada');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="N. Autorización Servicios:"
							styleClass="sosCampo" /></td>
					<td><h:inputText style="width:510px;" disabled="true"
							value="#{consultarSolicitudBean.prestacionSeleccionada.codigoCodificacionPrestacion} #{consultarSolicitudBean.prestacionSeleccionada.descripcionCodificacionPrestacion}">
						</h:inputText></td>
				</tr>

			
				<tr>
					<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Causal Modificación:" styleClass="sosCampo" /></td>
					<td><h:selectOneMenu style="width:510px;" disabled="#{consultarSolicitudBean.prestacionSeleccionada.habilitaGestionDatosAutorizacion}"
							value="#{consultarSolicitudBean.causalAutorizacionPrestacion}">
							<f:selectItem itemValue="#{consultarSolicitudBean.causalAutorizacionPrestacion}" itemLabel="Seleccione" />
							<f:selectItems
								value="#{consultarSolicitudBean.lstMotivosCausasPrestacionesPAFPOC}" />
							<a4j:support reRender="modalAutorizarPrestacionNegada, modalPnlPop"
							action="#{consultarSolicitudBean.validaMotivoCausasNumeroAutorizacionIPS}" 
							event="onchange"/>	
						</h:selectOneMenu></td>
				</tr>
				<tr>
					<td>
						<h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="N. Autorización IPS:"	styleClass="sosCampo" /></td>
					<td>
						<h:inputText value="#{consultarSolicitudBean.numeroAutorizacionPrestacionIPS}" disabled="#{consultarSolicitudBean.habilitaGestionNumeroAutorizacionIPS}"
							validatorMessage="El número de autorización IPS no es válido">
							
		
						</h:inputText>
					</td>

				</tr>
				<tr>
					<td>
						<h:selectBooleanCheckbox value="#{consultarSolicitudBean.activarFiltroCiudad}"
												id="checkCiudad">
							<h:outputText value="Ciudad: " styleClass="sosCampo" />
							<a4j:support reRender="panelCiudad, formSolicitud" 
										 event="onchange"
										 action = "#{consultarSolicitudBean.limpiarCiudad}"/>
						</h:selectBooleanCheckbox>
					</td>
					<td>
						<h:panelGroup id="panelCiudad">
							<h:inputText style="width:80px;" id="txtCodigoCiudad"
								disabled = "#{!consultarSolicitudBean.activarFiltroCiudad}"
								value="#{consultarSolicitudBean.ciudad.codigoCiudad}"/> <span />
							<h:inputText style="width:350px;" id="txtDescripcionCiudad"
								disabled = "#{!consultarSolicitudBean.activarFiltroCiudad}"
								value="#{consultarSolicitudBean.ciudad.descripcionCiudad}"  /> <span />
							
							<a4j:commandButton id="btnBuscarCiudad" value="Buscar"
								disabled = "#{!consultarSolicitudBean.activarFiltroCiudad}"
								action="#{consultarSolicitudBean.buscarCiudad}"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2"
								process="txtCodigoCiudad, txtDescripcionCiudad"
								reRender="modalAutorizarPrestacionNegada, modalFacesError, modalPnlPop, ciudadesPopup, panelCiudad "/>
							<span />
							<a4j:commandButton id="btnRecalcular" value="Recalcular"
								disabled = "#{!consultarSolicitudBean.activarFiltroCiudad}"
								action="#{consultarSolicitudBean.recalcularDireccionamientos}"
								process="txtCodigoCiudad, txtDescripcionCiudad"
								reRender="modalAutorizarPrestacionNegada, formSolicitud, modalFacesError, modalPnlPop, panelCiudad"/>
						</h:panelGroup>
					</td>
				</tr>
			</table>
			
			<rich:panel styleClass="sosPanel">
				<fieldset>
					<legend>
						<h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						Prestador a Asignar
					</legend>
					<rich:dataTable id="lstprestadores" rows="15"
						value="#{consultarSolicitudBean.lstPrestadoresDireccionamiento}"
						var="obj" width="98%">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Seleccione" />
							</f:facet>
							<h:selectOneRadio id="myRadio" value="#{obj.nuevoCodigoInterno}" disabled="#{consultarSolicitudBean.prestacionSeleccionada.habilitaGestionDatosAutorizacion}"> 
								<f:selectItem itemValue="1" />
								<a4j:support event="onclick"
									reRender="modalAutorizarPrestacionNegada, modalPnlPop"
									action="#{consultarSolicitudBean.seleccionarPrestadorDir}">
									<f:setPropertyActionListener value="#{obj.codigoInterno}"
										target="#{consultarSolicitudBean.codInternoPrestadorNuevo}" />
								</a4j:support>
							</h:selectOneRadio>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Cód. Interno" />
							</f:facet>
							<h:outputText value="#{obj.codigoInterno}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Identificación" />
							</f:facet>
							<h:outputText
								value="#{obj.tiposIdentificacionPrestadorVO.codigoTipoIdentificacion} #{obj.numeroIdentificacionPrestador}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Sucursal" />
							</f:facet>
							<h:outputText value="#{obj.nombreSucursal}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Razón Social" />
							</f:facet>
							<h:outputText value="#{obj.razonSocial}" />
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="lstprestadores" />
						</f:facet>
					</rich:dataTable>
				</fieldset>
			</rich:panel>
			
			<table>
				<tr>
					<td><h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Observaciones: " styleClass="sosCampo" />
					</td>
					<td rowspan="4" colspan="7"><h:inputTextarea
							value="#{consultarSolicitudBean.obsDireccionamientoAutorizacion}" disabled="#{consultarSolicitudBean.prestacionSeleccionada.habilitaGestionDatosAutorizacion}"
							cols="70" />
					</td>
				</tr>
			</table>
			
			<center>
				<a4j:commandButton value="Guardar" disabled="#{consultarSolicitudBean.prestacionSeleccionada.habilitaGestionDatosAutorizacion}"
					onclick="Richfaces.showModalPanel('confirmationPopupAutorizaPrestacion');"
					reRender="modalAutorizarPrestacionNegada modalPnlPop"
					styleClass="sosbotonguardar" />

				<span />
				<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
					action="#{consultarSolicitudBean.cerrarPopupAutorizarNegacion}"
					onclick="Richfaces.hideModalPanel('modalAutorizarPrestacionNegada');" />

			</center>						
			
		</a4j:region>
	</rich:modalPanel>
	
	<rich:modalPanel id="confirmationPopupAutorizaPrestacion" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupAutorizaPrestacion');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">

			<tr>
				<td style="text-align:center" colspan="2"><h:outputText
						value="¿Esta seguro que desea guardar los cambios?"
						style="font-weight: bold;" /></td>
			</tr>
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Si"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{consultarSolicitudBean.guardarGestionAutorizacionPrestacionNegada}"
						oncomplete="Richfaces.hideModalPanel('confirmationPopupAutorizaPrestacion');"
						reRender="modalAutorizarPrestacionNegada,  modalPnlPop, panelSolicitud" /></td>
				<td style="text-align:center"><a4j:commandButton value="No"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('confirmationPopupAutorizaPrestacion');" /></td>

			</tr>
		</table>
	</rich:modalPanel>
</h:form>
