<h:form id="formPopupCiudad" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="ciudadesPopup" autosized="true" minWidth = "400"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupCiudades}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Ciudad" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarSolicitudBean.cerrarPopupCiudades}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalCiudad');" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="98%" id="dataTableCiudades"
			value="#{consultarSolicitudBean.listaCiudadesDireccionamiento}"
			var="ciudad" rows="15">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink
					action="#{consultarSolicitudBean.cerrarPopupCiudades}"
					reRender="modalCambiarDirSinOPS, modalCambiarDirOPS, modalAutorizarPrestacionNegada"
					oncomplete="Richfaces.hideModalPanel('ciudadesPopup');">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener
						target="#{consultarSolicitudBean.ciudad}"
						value="#{ciudad}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código" />
				</f:facet>
				<h:outputText value="#{ciudad.codigoCiudad}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Ciudad" />
				</f:facet>
				<h:outputText value="#{ciudad.descripcionCiudad}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableCiudades" />
			</f:facet>
		</rich:dataTable>

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{consultarSolicitudBean.cerrarPopupCiudades}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('ciudadesPopup');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>