<h:form id="formSoportesSolicitud" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDocumentosSoporte" autosized="true"
		width="700"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupDocumentosSoporte}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Documentos Soporte" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('modalDocumentosSoporte');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
					<f:setPropertyActionListener
						target="#{consultarSolicitudBean.mostrarPopupDocumentosSoporte}"
						value="#{false}" />
				</a4j:commandButton>
			</h:panelGroup>
		</f:facet>

		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
			<rich:dataTable id="dataArchivos" rows="15"
				value="#{consultarSolicitudBean.listaDocumentoSoporteVO}"
				var="soporte" width="98%">
				<rich:column>
					<h:commandLink value="Descargar"
						action="#{consultarSolicitudBean.descargarSoporte}">
						<f:setPropertyActionListener
							target="#{consultarSolicitudBean.documentoSoporteVOSeleccionado}"
							value="#{soporte}" />
					</h:commandLink>
				</rich:column>
				<rich:column style="vertical-align: middle;"
					sortBy="#{soporte.descripcionTipoDocumentoSoporte}">
					<f:facet name="header">
						<h:outputText value="Tipo de Soporte" />
					</f:facet>
					<h:outputText value="#{soporte.descripcionTipoDocumentoSoporte}" />
				</rich:column>

				<rich:column style="vertical-align: middle;">
					<f:facet name="header">
						<h:outputText value="Archivo Cargado" />
					</f:facet>
					<h:outputText id="nombreSoporte" value="#{soporte.nombreDocumento}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataArchivos" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<center>
			<a4j:commandButton value="Cancelar"
				onclick="Richfaces.hideModalPanel('modalDocumentosSoporte');"
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<f:setPropertyActionListener
					target="#{consultarSolicitudBean.mostrarPopupDocumentosSoporte}"
					value="#{false}" />
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>