<a4j:form id="formPopupHospitalizacion"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalHospitalizacion" autosized="true" width="300"
		domElementAttachment="form"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupHospitalizacion}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Datos Hospitalización" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:region>
					<a4j:commandButton value="X"
						onclick="Richfaces.hideModalPanel('modalHospitalizacion');"
						reRender="modalHospitalizacion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<f:setPropertyActionListener
							target="#{consultarSolicitudBean.mostrarPopupHospitalizacion}"
							value="#{false}" />
					</a4j:commandButton>
				</a4j:region>
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="Fecha Ingreso: "
							style="font-weight: bold;" /></td>
					<td><h:inputText
							value="#{consultarSolicitudBean.detalleSolicitudVO.hospitalizacionVO.fechaIngreso}"
							disabled="true">
							<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="Fecha Egreso: "
							style="font-weight: bold;" /></td>
					<td><h:inputText
							value="#{consultarSolicitudBean.detalleSolicitudVO.hospitalizacionVO.fechaEgreso}"
							disabled="true">
							<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
						</h:inputText></td>
				</tr>
				<tr>
					<td><h:outputText value="Corte Cuenta: "
							style="font-weight: bold;" /></td>
					<td><h:inputText onchange="formatoMiles(this)"
							value="#{consultarSolicitudBean.detalleSolicitudVO.hospitalizacionVO.corteCuenta}"
							disabled="true" /></td>
				</tr>
			</table>

			<br />

			<center>
				<a4j:region>
					<a4j:commandButton value="Cancelar" process="@this"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('modalHospitalizacion');"
						reRender="modalHospitalizacion">
						<f:setPropertyActionListener
							target="#{consultarSolicitudBean.mostrarPopupHospitalizacion}"
							value="#{false}" />
					</a4j:commandButton>
				</a4j:region>
				<br />
			</center>
		</a4j:region>
	</rich:modalPanel>
</a4j:form>