<h:form id="formPopupPrestacionPis" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalPrestacionPis" autosized="true" width="550"
		showWhenRendered="#{consultarSolicitudBean.mostrarPopupPis}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Buscar Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultarSolicitudBean.cerrarPopupPis}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalPrestacionPis');" />
			</h:panelGroup>
		</f:facet>

		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
			<rich:dataTable width="100%" id="dataTablePis"
				value="#{consultarSolicitudBean.listaPisEncontrados}" var="pis"
				rows="10">
				<rich:column>
					<f:facet name="header">
						<h:outputLabel value="" />
					</f:facet>
					<a4j:commandLink
						action="#{consultarSolicitudBean.seleccionPopupPis}"
						reRender=":formConsultarSolicitud:panelPrestacion, modalPrestacionPis"
						oncomplete="Richfaces.hideModalPanel('modalPrestacionPis');">
						<h:outputText value="Seleccionar" />
						<f:setPropertyActionListener
							target="#{consultarSolicitudBean.pisVOSeleccionado}"
							value="#{pis}" />
					</a4j:commandLink>
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Código" />
					</f:facet>
					<h:outputText value="#{pis.codigoPrestacionPis}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Descripción" />
					</f:facet>
					<h:outputText value="#{pis.descripcionPrestacionPis}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataTablePis" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<br />

		<center>
			<a4j:commandButton value="Cancelar"
				action="#{consultarSolicitudBean.cerrarPopupPis}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalPrestacionPis');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>