<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<a4j:region>
	 <h:outputText value="*Ciudad: " styleClass="sosCampo" />
								<h:inputText style="width:80px;" id="txtCodigoCiudadNormal#{id}"
									value="#{consultaBodegaPoliBean.ciudadVO.codigoCiudad}" />
								<h:inputText style="width:350px;"
									id="txtDescripcionCiudadNormal#{id}"
									value="#{consultaBodegaPoliBean.ciudadVO.descripcionCiudad}" />
								<a4j:commandButton id="btnBuscarCiudadNormal#{id}" value="Buscar"
									process="txtCodigoCiudadNormal#{id}, txtDescripcionCiudadNormal#{id}"
									action="#{consultaBodegaPoliBean.buscarCiudad}"
									reRender=":formConsultarSolicitud:txtCodigoCiudadNormal#{id}, :formConsultarSolicitud:txtDescripcionCiudadNormal#{id}, modalFacesError, modalPnlPop, modalCiudad"
									style="margin-left: 20px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
	</a4j:region>
</ui:composition>