<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="panelDatosBasicos">
		<rich:panel>
			<h:panelGrid columns="4" id="panelGridContentUno"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
				<h:outputText value="Inicio Vigencia" styleClass="sosCampo" />
				<h:inputText id="txtInicioVig" style="width:160px;" disabled="true"
					value="#{consultaBodegaPoliBean.datosDTO.inicioVigencia}" />

				<h:outputText value="Fin Vigencia" styleClass="sosCampo" />
				<h:inputText id="txtFinVig" style="width:160px;" disabled="true"
					value="#{consultaBodegaPoliBean.datosDTO.finVigencia}" />



				<h:outputText value="Sexo" styleClass="sosCampo" />
				<h:inputText id="txtSex" style="width:160px;" disabled="true"
					value="#{consultaBodegaPoliBean.datosDTO.genero}" />

				<h:outputText value="Nivel" styleClass="sosCampo" />
				<h:inputText id="txtNivel" style="width:160px;" disabled="true"
					value="#{consultaBodegaPoliBean.datosDTO.nivel}" />
			</h:panelGrid>
			<h:panelGrid id="pnlRadio" columns="8"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">

				<h:selectOneRadio id="txtAut" disabled="true"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					value="#{consultaBodegaPoliBean.datosDTO.tipoCobertura}">
					<f:selectItem itemValue="1" itemLabel="POS" />
					<f:selectItem itemValue="2" itemLabel="NO POS" />
					<f:selectItem itemValue="3" itemLabel="POS CONDICIONADO" />
					<f:selectItem itemValue="4" itemLabel="AUTORIZACIÓN CENTRAL" />
				</h:selectOneRadio>
			</h:panelGrid>
		</rich:panel>
		<rich:panel id="panelAtributosPrestacion"
		header="Atributos de la Prestación">
		<rich:dataTable id="tableAtributosPrestacion" rows="6" width="100%"
				value="#{consultaBodegaPoliBean.atributosPrestacion}"
				var="atributoPrestacion">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Descripción" />
						</rich:column>
						<rich:column>
							<h:outputText value="Inicio Vigencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Fin Vigencia" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{atributoPrestacion.descripcion}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{atributoPrestacion.inicioVigencia}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{atributoPrestacion.finVigencia}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="tableAtributosPrestacion" />
				</f:facet>
			</rich:dataTable>
		</rich:panel>
		<rich:panel id="panelPrestacionPorPlanes"
			header="Prestación Por Planes">
			<rich:dataTable id="tablePrestacionPorPlan" rows="15" width="100%"
				value="#{consultaBodegaPoliBean.prestacionPlanes}"
				var="prestacionPorPlan">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Plan" />
						</rich:column>
						<rich:column>
							<h:outputText value="Cobertura Por Plan" />
						</rich:column>
						<rich:column>
							<h:outputText value="Semanas de Carencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Cant. Máxima Permitida Vida/Año" />
						</rich:column>
						<rich:column>
							<h:outputText value="Frecuencia Entrega" />
						</rich:column>
						<rich:column>
							<h:outputText value="Tope Máximo por Orden" />
						</rich:column>
						<rich:column>
							<h:outputText value="Vigencia OPS" />
						</rich:column>
						<rich:column>
							<h:outputText value="Edad Mínima" />
						</rich:column>
						<rich:column>
							<h:outputText value="Edad Máxima" />
						</rich:column>
						<rich:column>
							<h:outputText value="Inicio Vigencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Fin Vigencia" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{prestacionPorPlan.plan}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{prestacionPorPlan.coberturaPorPlan}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{prestacionPorPlan.semanasDeCarencia}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{prestacionPorPlan.cantidadMaximaPermitida}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{prestacionPorPlan.frecuenciaEntrega}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{prestacionPorPlan.topeMaximoporOrden}" />
				</rich:column>
				<rich:column>
					<h:outputText
						value="#{prestacionPorPlan.vigenciaAutorizacionMedica}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{prestacionPorPlan.edadMinima}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{prestacionPorPlan.edadMaxima}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{prestacionPorPlan.inicioVigencia}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{prestacionPorPlan.finVigencia}" />
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="tablePrestacionPorPlan" />
				</f:facet>
			</rich:dataTable>

		</rich:panel>
		<rich:panel id="pnltiempoEntrega" header="Tiempos de Entrega">
			<rich:dataTable id="tableTiemposEntrega" rows="15" width="100%"
				value="#{consultaBodegaPoliBean.tiempoEntreList}"
				var="tiemposEntrega">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Plan (Descripcion)" />
						</rich:column>
						<rich:column>
							<h:outputText value="Cód. Grupo" />
						</rich:column>
						<rich:column>
							<h:outputText value="Desc. Grupo" />
						</rich:column>
						<rich:column>
							<h:outputText value="Tiempo Entrega (Días)" />
						</rich:column>

					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{tiemposEntrega.plan}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{tiemposEntrega.codigoGrupo}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{tiemposEntrega.descripcionGrupo}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{tiemposEntrega.tiempodeEntrega}" />
				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="tableTiemposEntrega" />
				</f:facet>
			</rich:dataTable>
		</rich:panel>

		<rich:panel id="pnlPoliticaAuth"
			header="Políticas de Autorización de la Prestación.">
			<rich:dataTable id="tablePoliticaAuth" rows="15" width="100%"
				value="#{consultaBodegaPoliBean.politicasAuthList}"
				var="politicaAuth">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Tipo de Política" />
						</rich:column>
						<rich:column>
							<h:outputText value="Política" />
						</rich:column>
						<rich:column>
							<h:outputText value="Descripción" />
						</rich:column>


					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{politicaAuth.tipoPolitica}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{politicaAuth.agrupadorPolitica}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{politicaAuth.shortDescripcionPolitica}" />
					<rich:toolTip showEvent="onclick" direction="bottom-left"
						mode="ajax" styleClass="tooltip" layout="block">
						<f:facet name="defaultContent">
							<strong>Cargando Descripción...</strong>
						</f:facet>

						<h:outputText value="#{politicaAuth.descripcionPolitica}" />

					</rich:toolTip>

				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="tablePoliticaAuth" />
				</f:facet>
			</rich:dataTable>
		</rich:panel>

		<rich:panel id="panelMarcas"
			header="Agrupadores y Marcaciones de la Prestación">
			<rich:dataTable id="tableMarcas" rows="15" width="100%"
				value="#{consultaBodegaPoliBean.marcasList}" var="marcas">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Descripción" />
						</rich:column>
						<rich:column>
							<h:outputText value="Valor" />
						</rich:column>
						<rich:column>
							<h:outputText value="Inicio Vigencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Fin Vigencia" />
						</rich:column>


					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{marcas.descripcionMarca}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{marcas.valor}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{marcas.inicioVigencia}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{marcas.finVigencia}" />
				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="tableMarcas" />
				</f:facet>
			</rich:dataTable>
		</rich:panel>
	</rich:panel>
</ui:composition>
