<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<rich:panel id="pnlCUMS">
		<h:panelGrid id="pnlPpalCums" columns="2"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
			<h:outputText value="Presentación" />
			<h:panelGrid id="pnlFrmCums" columns="6"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">

				<h:inputText disabled="true" id="txtcdgPrstcn" style="width:100px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cdgoPrsntcn}" />
				<h:inputText disabled="true" id="txtdscrpcnPrsntcn"
					style="width:350px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.dscrpcnPrsntcn}" />
				<h:outputText value="Cantidad" />
				<h:inputText disabled="true" id="txtcntddPrsntcn" style="width:100px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cntddPrsntcn}" />
				<h:outputText value="Forma Entrega" />
				<h:inputText disabled="true" id="txtdscrpcnFrmaEntrga"
					style="width:350px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.dscrpcnFrmaEntrga}" />
			</h:panelGrid>

			<h:outputText value="Observaciones Prestación" />
			<h:inputTextarea disabled="true" id="txtobsrvcnsPrsntcn" rows="3" style="width: 100%"
				value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.obsrvcnsPrsntcn}" />

			<h:outputText value="Forma Farmacéutica" />
			<h:panelGrid id="pnlFmraFarma" columns="4"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
				<h:inputText disabled="true" id="txtcdgoFrmaFrmctca"
					style="width:100px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cdgoFrmaFrmctca}" />
				<h:inputText disabled="true" id="txtdscrpcnFrmaFrmctca"
					style="width:350px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.dscrpcnFrmaFrmctca}" />
				<h:outputText value="Fracción" />
				<h:inputText disabled="true" id="txtcntddFrccnda" style="width:300px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cntddFrccnda}" />
			</h:panelGrid>

			<h:outputText value="Indicaciones" />
			<h:inputTextarea disabled="true" id="txtindccnsInvma" rows="3" style="width: 100%"
				value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.indccnsInvma}" />


			<h:outputText value="Contraindicaciones" />
			<h:inputTextarea disabled="true" id="txtcntrndccnsInvma" rows="3" style="width: 100%"
				value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cntrndccnsInvma}" />

			<h:outputText value="Vía Administración" />
			<h:panelGrid id="pnlViaAdmin" columns="2"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
				<h:inputText disabled="true" id="txtcdgoVaAdmnstrcn"
					style="width:100px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cdgoVaAdmnstrcn}" />
				<h:inputText disabled="true" id="txtdscrpcnVaAdmnstrcn"
					style="width:500px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.dscrpcnVaAdmnstrcn}" />
			</h:panelGrid>

			<h:outputText value="Modelo Liquidación" />
			<h:panelGrid id="pnlModelLiqu" columns="2"
				style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
				<h:inputText disabled="true" id="txtcdgoMdloLqdcnCncpto"
					style="width:100px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.cdgoMdloLqdcnCncpto}" />
				<h:inputText disabled="true" id="txtdscrpcnMdloLqdcnCncpto"
					style="width:500px"
					value="#{consultaBodegaPoliBean.datosAdicionalesCUMS.dscrpcnMdloLqdcnCncpto}" />
			</h:panelGrid>
		</h:panelGrid>

	</rich:panel>

</ui:composition>
