<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:simpleTogglePanel switchType="client" opened="false"
		id="panelDireccionamientoXRiesgo" label="Direccionamiento por Riesgo">

		<rich:panel id="pnlDireccionamientoXRiesgo">
			<rich:dataTable id="direccionamientoXRiesgoTablaLista" rows="15"
				width="100%"
				value="#{consultaBodegaPoliBean.direccionamientoXRiesgoList}"
				var="DireccionamientoXRiesgo">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="IPS (Cod. Interno/Nombre)" />
						</rich:column>
						<rich:column>
							<h:outputText value="Ciudad " />
						</rich:column>
						<rich:column>
							<h:outputText value="Plan" />
						</rich:column>
						<rich:column>
							<h:outputText value="Riesgo (Cod./Desc)" />
						</rich:column>
						<rich:column>
							<h:outputText value="Edad Mínima" />
						</rich:column>
						<rich:column>
							<h:outputText value="Edad Máxima" />
						</rich:column>
						<rich:column>
							<h:outputText value="Suficiencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Prioridad" />
						</rich:column>

						<rich:column>
							<h:outputText value="Inicio Vigencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Fin Vigencia" />
						</rich:column>

					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText
						value="#{DireccionamientoXRiesgo.cdgoIntrnoRiesgo}/#{DireccionamientoXRiesgo.nmbreScrslRiesgo}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.dscrpcnSdeRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.dscrpcnPlnRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText
						value="#{DireccionamientoXRiesgo.cdgoRsgoDgnstcoRiesgo}/#{DireccionamientoXRiesgo.dscrpcnRsgoDgnstcoRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.eddMnmaRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.eddMxmaRiesgo}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.sfcncaIpsRiesgo}" />
				</rich:column>

				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.nvlPrrddRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.incoVgncaRiesgo}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{DireccionamientoXRiesgo.fnVgncaRiesgo}" />
				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="direccionamientoXRiesgoTablaLista" />
				</f:facet>
			</rich:dataTable>

		</rich:panel>
	</rich:simpleTogglePanel>
</ui:composition>
