<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:simpleTogglePanel switchType="ajax" opened="false"
		id="panelpagosfijos" reRender="pnlpagosfijos" label="Pagos Fijos">

		<rich:panel id="pnlpagosfijos">
			<rich:dataTable id="pagosfijosTablaLista" rows="15" width="100%"
				value="#{consultaBodegaPoliBean.listaPagosFijos}" var="pagofijo">
				<f:facet name="header">
					<rich:columnGroup>
						<rich:column>
							<h:outputText value="Pagos Fijos (Tipo / Descripción)" />
						</rich:column>
						<rich:column>
							<h:outputText value="Ciudad" />
						</rich:column>
						<rich:column>
							<h:outputText value="Diagnostico (Cod. / Descripcion )" />
						</rich:column>
						<rich:column>
							<h:outputText value="Inicio Vigencia" />
						</rich:column>
						<rich:column>
							<h:outputText value="Fin Vigencia" />
						</rich:column>
					</rich:columnGroup>
				</f:facet>

				<rich:column>
					<h:outputText value="#{pagofijo.codigoTipoPago}/#{pagofijo.descrTipoPago}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{pagofijo.descrCiudad}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{pagofijo.codigoDiagnostico}/#{pagofijo.descrDiagnostico}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{pagofijo.inicioVigencia}" />
				</rich:column>
				<rich:column>
					<h:outputText value="#{pagofijo.finVigencia}" />
				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="pagosfijosTablaLista" />
				</f:facet>
			</rich:dataTable>

		</rich:panel>
	</rich:simpleTogglePanel>
</ui:composition>
