<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<a4j:region ajaxRendered="true">
		<rich:panel styleClass="sosPanel">
			<table width="100%" border="0" align="left" cellpadding="0"
				cellspacing="1">
				<tbody>
					<tr>
						<td bgcolor="#FFFFFF" class="sosTituloSeccion">*Prestador</td>
						<td width="80%"><hr /></td>
					</tr>
				</tbody>
			</table>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				<tr>
					<td><h:outputText value="Identificación:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu styleClass="sosSelectCorto"
							value="#{prestadorFiltroBean.ipsVO.consecCodigoTipoId}">
							<f:selectItem itemValue="-1" itemLabel="Seleccione" />
							<f:selectItems
								value="#{prestadorFiltroBean.listaTiposIdentificacion}" />
						</h:selectOneMenu> <span /> <h:inputText style="width:150px;"
							onkeypress="validateNumeric(event)"
							value="#{prestadorFiltroBean.ipsVO.numeroIdentificacion}"
							validatorMessage="El número de identificación ingresado no es un dato numérico">
							<f:validateLongRange minimum="1" />
						</h:inputText></td>
					<td><h:outputText value="Código Interno:"
							style="font-weight: bold;" /></td>
					<td colspan="2"><h:inputText style="width:245px;"
							value="#{prestadorFiltroBean.ipsVO.codigoInterno}" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Sucursal:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;"
							value="#{prestadorFiltroBean.ipsVO.sucursal}" /></td>
					<td />
					<td><a4j:commandButton
							action="#{prestadorFiltroBean.buscarIPS}"
							onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
							oncomplete="#{rich:component('waitPanel')}.hide()"
							reRender="panelPrestadorFiltroIps,panelPrestador,modalPrestador, modalFacesError,modalPnlPop"
							type="image" title="Buscar Prestador"
							image="${request.contextPath}/css/images/ico/icon-search.png"
							styleClass="sosbotonsearch2">
						</a4j:commandButton> <span /> <h:outputText value="Buscar Prestador"
							style="font-weight: bold;" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Razón Social:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;" disabled="true"
							value="#{prestadorFiltroBean.ipsVO.razonSocial}" /></td>
				</tr>
				<tr>
					<td><h:outputText value="Ciudad:" style="font-weight: bold;" /></td>
					<td><h:inputText style="width:340px;" disabled="true"
							value="#{prestadorFiltroBean.ipsVO.descripcionCiudad}" /></td>
					<td />

				</tr>
			</table>
		</rich:panel>
	</a4j:region>
</ui:composition>