<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formInformeGeneralRecibosCaja">
			<rich:panel id="panelFiltosInformeCaja" header="Filtros de Busqueda"
				style="width:85%">
				<h:panelGrid columns="7"
					style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%">
					<h:panelGroup>
						<h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText id="lblRangoFechasInforCaja" value="Fecha:"
							style="font-weight: bold;"></h:outputText>
					</h:panelGroup>
					<rich:calendar datePattern="yyyy/MM/dd" id="fchaInicialInforCaja"
						value="#{informeGeneralReciboCajaBean.fechaInicial}"
						isDayEnabled="disablementFunctionFechaConsulta"
						boundaryDatesMode="scroll" />
					<h:outputText value="Sede: "
						style="font-weight: bold; text-align:center;" />
					<h:selectOneMenu
						value="#{informeGeneralReciboCajaBean.consecutivoSede}"
						styleClass="sosSelect">
						<f:selectItem itemValue="-1" itemLabel="Seleccione" />
						<f:selectItems value="#{informeGeneralReciboCajaBean.listaSedes}" />
					</h:selectOneMenu>
					<h:outputText id="labelOficinaInforCaja" value="Oficina:"
						style="font-weight: bold; text-align:left;" />
					<h:inputText id="textCodigoOficinaInforCaja"
						value="#{aperturaCajaBean.codigoOficina}" size="3"></h:inputText>
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="textDescOficinaInforCaja"
								value="#{aperturaCajaBean.descripcionOficina}">
							</h:inputText>
							<a4j:commandButton
								action="#{informeGeneralReciboCajaBean.consultarOficina}"
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja"
								type="image" title="Buscar Oficina" id="btnBuscarOficinaCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>
					<h:outputText id="lblLoginInforCaja" value="Login: "
						style="font-weight: bold; text-align:left;" />
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="txtLoginInforCaja"
								value="#{informeGeneralReciboCajaBean.login}" />
							<a4j:commandButton
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								actionListener="#{informeGeneralReciboCajaBean.consultarUsuario}"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja,modalUsuarios"
								type="image" title="Buscar Login" id="btnBuscarLoginCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>

					<h:outputText id="lblUsuarioInforCaja" value="Usuario: "
						style="font-weight: bold; text-align:left;" />
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="txtUsuarioInforCaja"
								value="#{informeGeneralReciboCajaBean.usuario}" />
							<a4j:commandButton
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								actionListener="#{informeGeneralReciboCajaBean.consultarUsuario}"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja,modalUsuarios"
								type="image" title="Buscar Usuario" id="btnBuscarUsuarioCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>
					<h:outputText id="labelAfiliadoInforCaja" value="Afiliado:"
						style="font-weight: bold; text-align:left;" />
					<h:selectOneMenu
						value="#{informeGeneralReciboCajaBean.consecutivoTipoIdentificacion}"
						styleClass="sosSelectCorto" style="width: 60px;">
						<f:selectItem itemValue="" itemLabel="T. Id" />
						<f:selectItems
							value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />
					</h:selectOneMenu>
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="textDescIdAfiliadoInforCaja"
								value="#{informeGeneralReciboCajaBean.numeroIdentificacionAfiliado}">
							</h:inputText>
							<a4j:commandButton
								action="#{informeGeneralReciboCajaBean.consultarAfiliado}"
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja"
								type="image" title="Buscar Oficina"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>
					<h:outputText value="Nro. Recibo: " style="font-weight: bold;" />
					<h:inputText value="#{informeGeneralReciboCajaBean.numeroRecibo}"
						id="textnorreciboInforCaja" onkeypress="validateNumeric(event)"></h:inputText>
					<h:outputText value="Nro. OPS: " style="font-weight: bold;" />
					<h:inputText value="#{informeGeneralReciboCajaBean.numeroOPS}"
						id="textnoopsInforCaja" onkeypress="validateNumeric(event)"></h:inputText>
					<h:outputText value="Nombre Afiliado: " style="font-weight: bold;" />
					<h:outputText />
					<h:outputText
						value="#{informeGeneralReciboCajaBean.nombreCompleto}" />
					<h:outputText value="" />
				</h:panelGrid>
				<br />
				<a4j:commandButton value="Consultar"
					reRender="modalPnlPop,panelResultadosInformeCaja,btnDescargaInforCaja,dtbResultadoInoformeCaja"
					action="#{informeGeneralReciboCajaBean.consultarInformeDetalle}"
					styleClass="aceptar"></a4j:commandButton>
				<span />
				<h:commandButton value="Exportar" id="btnDescargaInforCaja"
					action="#{informeGeneralReciboCajaBean.exportarInformeDetallado}"
					disabled="#{informeGeneralReciboCajaBean.habilitarDescargaDetallado}"
					styleClass="aceptar"></h:commandButton>
				<span />
				<a4j:commandButton value="Limpiar"
					reRender="panelFiltosInformeCaja,modalOficinas,modalPnlPop,panelResultadosInformeCaja"
					action="#{informeGeneralReciboCajaBean.limpiarDatos}"
					styleClass="aceptar"></a4j:commandButton>
			</rich:panel>
			<br />
			<rich:panel id="panelResultadosInformeCaja" styleClass="sosPanel"
				header="Resultados de la busqueda" style="width:85%">
				<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
					<rich:dataTable id="dtbResultadoInoformeCaja" rows="20"
						value="#{informeGeneralReciboCajaBean.reporteCajaDetallado}"
						var="info">
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Sede" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.descripcionSede}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Oficina" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.descripcionOficina}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Fecha Generacion" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.fechaGeneracion}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:MM" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Numero Recibo" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.numeroRecibo}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Numero OPS" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.numeroOPS}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Total Recibo" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.valorTotalRecibo}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Afiliado" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.afiliado}" />
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="dtbResultadoInoformeCaja" />
						</f:facet>
					</rich:dataTable>
				</h:panelGroup>
			</rich:panel>
		</h:form>
		<ui:include src="/view/caja/popup/oficinasPopup.xhtml" />
		<ui:include src="/view/caja/popup/infoCausalesPopup.xhtml" />
		<ui:include src="/view/caja/popup/usuarioLoginPopUp.xhtml" />
	</ui:define>
</ui:composition>
