<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formInformeGeneralRecibosCaja">
			<rich:panel id="panelFiltosInformeCaja" header="Filtros de Busqueda"
				style="width:85%">
				<h:panelGrid columns="7"
					style="font-size: 10px; font-family: Arial, Helvetica, sans-serif;">
					<h:outputText id="lblRangoFechasInforCaja"
						style="font-weight: bold;" value="Rango:"></h:outputText>
					<h:panelGroup>
						<h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Desde:"
							style="font-weight: bold; text-align:center;" />
					</h:panelGroup>
					<rich:calendar datePattern="yyyy/MM/dd" id="fchaInicialInforCaja"
						value="#{informeGeneralReciboCajaBean.fechaInicial}"
						isDayEnabled="disablementFunctionFechaConsulta"
						boundaryDatesMode="scroll" />
					<h:panelGroup>
						<h:outputText value="*" styleClass="sosCampo-primeraLetra" />
						<h:outputText value="Hasta:"
							style="font-weight: bold; text-align:center;" />
					</h:panelGroup>
					<rich:calendar datePattern="yyyy/MM/dd" id="fchaFinalInforCaja"
						value="#{informeGeneralReciboCajaBean.fechaFinal}"
						isDayEnabled="disablementFunctionFechaConsulta"
						boundaryDatesMode="scroll" />
					<h:outputText value="Sede: "
						style="font-weight: bold; text-align:center;" />
					<h:selectOneMenu
						value="#{informeGeneralReciboCajaBean.consecutivoSede}"
						styleClass="sosSelect">
						<f:selectItem itemValue="-1" itemLabel="Seleccione" />
						<f:selectItems value="#{informeGeneralReciboCajaBean.listaSedes}" />
					</h:selectOneMenu>

					<h:outputText id="labelOficinaInforCaja" value="Oficina:"
						style="font-weight: bold; text-align:left;" />
					<h:inputText id="textCodigoOficinaInforCaja"
						value="#{aperturaCajaBean.codigoOficina}" size="3">
					</h:inputText>
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="textDescOficinaInforCaja"
								value="#{aperturaCajaBean.descripcionOficina}">
							</h:inputText>
							<a4j:commandButton
								action="#{informeGeneralReciboCajaBean.consultarOficina}"
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja"
								type="image" title="Buscar Oficina" id="btnBuscarOficinaCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>

					<h:outputText id="lblLoginInforCaja" value="Login: "
						style="font-weight: bold; text-align:left;" />
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="txtLoginInforCaja"
								value="#{informeGeneralReciboCajaBean.login}" />
							<a4j:commandButton
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja,modalUsuarios"
								actionListener="#{informeGeneralReciboCajaBean.consultarUsuario}"
								type="image" title="Buscar Login" id="btnBuscarLoginCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>

					<h:outputText id="lblUsuarioInforCaja" value="Usuario: "
						style="font-weight: bold; text-align:left;" />
					<h:panelGroup>
						<h:panelGrid columns="2">
							<h:inputText id="txtUsuarioInforCaja"
								value="#{informeGeneralReciboCajaBean.usuario}" />
							<a4j:commandButton
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide()"
								reRender="modalOficinas,modalPnlPop,panelFiltosInformeCaja,modalUsuarios"
								actionListener="#{informeGeneralReciboCajaBean.consultarUsuario}"
								type="image" title="Buscar Usuario" id="btnBuscarUsuarioCaja"
								image="${request.contextPath}/css/images/ico/icon-search.png"
								styleClass="sosbotonsearch2" />
						</h:panelGrid>
					</h:panelGroup>

				</h:panelGrid>

				<br />
				<a4j:commandButton value="Consultar"
					reRender="modalPnlPop,panelResultadosInformeCaja,btnDescargaInforCaja,dtbResultadoInoformeCaja"
					action="#{informeGeneralReciboCajaBean.consultarInforme}"
					styleClass="aceptar"></a4j:commandButton>
				<span />
				<h:commandButton value="Exportar" id="btnDescargaInforCaja"
					action="#{informeGeneralReciboCajaBean.exportarInforme}"
					disabled="#{informeGeneralReciboCajaBean.habilitarDescarga}"
					styleClass="aceptar"></h:commandButton>
				<span />
				<a4j:commandButton value="Limpiar"
					reRender="panelFiltosInformeCaja,modalOficinas,modalPnlPop,panelResultadosInformeCaja,dtbResultadoInoformeCaja"
					action="#{informeGeneralReciboCajaBean.limpiarDatos}"
					styleClass="aceptar"></a4j:commandButton>
			</rich:panel>
			<rich:panel id="panelResultadosInformeCaja" styleClass="sosPanel"
				header="Resultados de la busqueda" style="width:90%">
				<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
					<rich:dataTable id="dtbResultadoInoformeCaja" rows="20"
						value="#{informeGeneralReciboCajaBean.informe}" var="info">
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Oficina" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.descripcionOficina}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Nombre ASI" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.nombreAsi}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Fecha Apertura" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.fechaApertura}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Fecha Cierre" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.fechaCierre}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Base Apertura" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.base}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Total Recaudado" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.totalCaja}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Total en Caja" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.totalEfectivo}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Sobrante" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.sobranteCierre}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Faltante" style="color:white" />
							</f:facet>
							<h:outputLabel value="#{info.faltanteCierre}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputLabel>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputLabel value="Causales" style="color:white" />
							</f:facet>
							<a4j:commandLink value="Ver Detalle"
								onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
								oncomplete="#{rich:component('waitPanel')}.hide();"
								reRender="modalCausalesPopup,modalPnlPop"
								action="#{informeGeneralReciboCajaBean.verDetalleCausales}">
								<f:setPropertyActionListener
									value="#{info.consecutivoMovimientoCaja}"
									target="#{informeGeneralReciboCajaBean.consecutivoMovimientoCaja}"></f:setPropertyActionListener>
								<f:setPropertyActionListener
									value="#{info}"
									target="#{informeGeneralReciboCajaBean.filaSeleccionada}"></f:setPropertyActionListener>	
							</a4j:commandLink>
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="dtbResultadoInoformeCaja" />
						</f:facet>
					</rich:dataTable>
				</h:panelGroup>
			</rich:panel>
		</h:form>
		<ui:include src="/view/caja/popup/oficinasPopup.xhtml" />
		<ui:include src="/view/caja/popup/infoCausalesPopup.xhtml" />
		<ui:include src="/view/caja/popup/usuarioLoginPopUp.xhtml" />
	</ui:define>
</ui:composition>
