<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formConsultarAfiliado">

			<rich:panel id="panelConsulta" styleClass="sosPanel">
				<fieldset>
					<legend>Consultar Afiliado</legend>
					<a4j:region>
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Fecha Consulta: " styleClass="sosCampo" /></td>
								<td><rich:calendar required="true" datePattern="yyyy/MM/dd"
										requiredMessage="Por favor diligencie los campos obligatorios para la búsqueda: Fecha consulta"
										value="#{consultaAfiliadoBean.fechaConsulta}"
										isDayEnabled="disablementFunctionFechaConsulta"
										boundaryDatesMode="scroll" locale="es" /></td>
								<td><h:outputText value="*"
										styleClass="sosCampo-primeraLetra" /> <h:outputText
										value="Plan: " styleClass="sosCampo" /></td>
								<td colspan="2"><h:selectOneMenu required="true"
										requiredMessage="Por favor diligencie los campos obligatorios para la búsqueda: Plan"
										value="#{consultaAfiliadoBean.consecutivoPlan}"
										styleClass="sosSelect">
										<f:selectItem itemValue="" itemLabel="Seleccione" />
										<f:selectItems value="#{consultaAfiliadoBean.listaPlanes}" />
									</h:selectOneMenu></td>
							</tr>
							<tr>
								<td><h:outputText value="Identificación: "
										styleClass="sosCampo" /></td>
								<td colspan="6"><h:selectOneMenu
										value="#{consultaAfiliadoBean.consecutivoTipoIdentificacion}"
										styleClass="sosSelectCorto">
										<f:selectItem itemValue="" itemLabel="Seleccione" />
										<f:selectItems
											value="#{ingresoSolicitudBean.listaTiposIdentificacion}" />
									</h:selectOneMenu> <span /> <h:inputText id="numeroIdentificacion"
										value="#{consultaAfiliadoBean.numeroIdentificacion}"
										onkeypress="validateNumeric(event)"
										validatorMessage="El número de identificación debe ser un dato numérico">
										<f:validateLongRange minimum="1" />
									</h:inputText></td>
								<td><a4j:region>
										<a4j:commandButton value="Grupo Familiar"
											styleClass="sosboton" reRender="modalGrupoFamiliar"
											oncomplete="Richfaces.showModalPanel('modalGrupoFamiliar');" />
									</a4j:region></td>
							</tr>
							<tr>
								<td><h:outputText value="Primer Nombre:"
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:150px;"
										validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Primer nombre mínimo 2 caracteres"
										value="#{consultaAfiliadoBean.primerNombre}">
										<f:validateLength minimum="2" />
									</h:inputText></td>
								<td><h:outputText value="Segundo Nombre:"
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:150px;"
										validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Segundo nombre mínimo 2 caracteres"
										value="#{consultaAfiliadoBean.segundoNombre}">
										<f:validateLength minimum="2" />
									</h:inputText></td>
								<td><h:outputText value="Primer Apellido:"
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:150px;"
										validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Primer apellido mínimo 2 caracteres"
										value="#{consultaAfiliadoBean.primerApellido}">
										<f:validateLength minimum="2" />
									</h:inputText></td>
								<td><h:outputText value="Segundo Apellido:"
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:150px;"
										validatorMessage="Por favor diligencie la cantidad mínima de caracteres para al menos un nombre o un apellido: Segundo apellido mínimo 2 caracteres"
										value="#{consultaAfiliadoBean.segundoApellido}">
										<f:validateLength minimum="2" />
									</h:inputText></td>
							</tr>
						</table>

						<a4j:commandButton value="Consultar"
							onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
							oncomplete="#{rich:component('waitPanel')}.hide()"
							reRender="panelDatosAfiliado, modalPnlPop, modalAfiliados, grid, modalRiesgos, modalTutelas, modalDetallesAfiliado, modalFacesError"
							action="#{consultaAfiliadoBean.consultarAfiliado}"
							styleClass="sosbotonconsultar" />
					</a4j:region>
					<span />
					<a4j:region>
						<a4j:commandButton value="Cancelar" process="@this"
							reRender="formConsultarAfiliado, grid" ajaxSingle="true"
							action="#{consultaAfiliadoBean.cancelarAfiliado}"
							styleClass="sosbotonanular" />
					</a4j:region>
				</fieldset>

				<br />

			</rich:panel>

			<rich:panel id="panelDatosAfiliado" styleClass="sosPanel">
				<fieldset>
					<legend>Resultado Consulta</legend>
					<!-- Inicio Datos Basicos -->
					<rich:panel styleClass="sosPanel">
						<table width="100%" border="0" align="left" cellpadding="0"
							cellspacing="1">
							<tbody>
								<tr>
									<td bgcolor="#FFFFFF" class="sosTituloSeccion">Datos
										Básicos</td>
									<td width="80%"><hr /></td>
								</tr>
							</tbody>
						</table>
						<table
							style="font-size: 100%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="Edad: " styleClass="sosCampo" /></td>
								<td>
								<td style="text-align: center;">#{consultaAfiliadoBean.afiliadoVO.edadAnos}</td>
								<td style="text-align: center;">#{consultaAfiliadoBean.afiliadoVO.edadMeses}</td>
								<td style="text-align: center;">#{consultaAfiliadoBean.afiliadoVO.edadDias}</td>
								</td>
								<td><h:outputText value="Fecha de Nacimiento: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaNacimiento}">
										<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
									</h:outputText></td>
								<td><h:outputText value="Género: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.genero.codigoGenero}" /></td>
								<td></td>
							</tr>
							<tr>
								<td />
								<td>Años</td>
								<td>Meses</td>
								<td>Días</td>
								<td colspan="5" />
								<td />
							</tr>
							<tr>
								<td><h:outputText value="Dir. Residencia: "
										styleClass="sosCampo" /></td>
								<td colspan="6"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.direccionResidencia}" /></td>
								<td><h:outputText value="TLF. Residencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.telefono}" /></td>
								<td />
							</tr>
							<tr>
								<td><h:outputText value="Ciudad: " styleClass="sosCampo" /></td>
								<td colspan="6"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.ciudadResidencia.descripcionCiudad}" /></td>
								<td><h:outputText value="Departamento: "
										styleClass="sosCampo" /></td>
								<td colspan="3"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionDepartamento}" /></td>
								<td />
							</tr>
							<tr>
								<td><h:outputText value="Correo: " styleClass="sosCampo" /></td>
								<td colspan="6"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.email}" /></td>
								<td><h:outputText value="Estado Civil: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoCivil}" /></td>
								<td colspan="2" style="text-align: right;"><a4j:commandButton
										value="Ver Datos Adicionales" reRender="modalDatosAfiliado"
										styleClass="sosbotonconsultar"
										oncomplete="Richfaces.showModalPanel('modalDatosAfiliado');" /></td>
							</tr>
						</table>
					</rich:panel>


					<!-- Fin Datos Basicos -->

					<rich:panel id="panelResultado" styleClass="sosPanel">

						<table width="100%" border="0" align="left" cellpadding="0"
							cellspacing="1">
							<tbody>
								<tr>
									<td bgcolor="#FFFFFF" class="sosTituloSeccion">Resultado
										Plan&#160;<h:outputText
											value="#{consultaAfiliadoBean.afiliadoVO.plan.descripcionPlan}" />
									</td>
									<td width="80%"><hr /></td>
								</tr>
							</tbody>
						</table>

						<table
							style="font-size: 100%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="Tipo Afiliado: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionTipoAfiliado}" /></td>
								<td><h:outputText value="Estado: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoAfiliado}" /></td>
								<td><h:outputText value="Derecho: " styleClass="sosCampo" /></td>
								<td colspan="3"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoDerecho}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="Plan Complementario: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.planComplementario.descripcionPlan}" /></td>
								<td><h:outputText value="Rango Salarial: "
										styleClass="sosCampo"/></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionRangoSalarial}" /></td>
								<td><h:outputText value="Parentesco: "
										styleClass="sosCampo" /></td>
								<td colspan="3"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionParentesco}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="IPS Primaria: "
										styleClass="sosCampo" /></td>
								<td colspan="7"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionIPSPrimaria}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="Inicio Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaInicioVigencia}">
										<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
									</h:outputText></td>
								<td><h:outputText value="Fin Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaFinVigencia}">
										<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
									</h:outputText></td>
								<td><h:outputText value="Semanas POS SOS:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPOSSOS}" /></td>
								<td><h:outputText value="Semanas POS Ant.: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPOSAnt}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="Semanas PAC SOS:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPACSOS}" /></td>
								<td><h:outputText value="Semanas PAC Ant.: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPACAnt}" /></td>
								<td><h:outputText value="Encontrado en: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.origen}" /></td>
								<td><h:outputText value="NUI: " styleClass="sosCampo" /></td>
								<td colspan="3"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.numeroUnicoIdentificacion}" /></td>
							</tr>
							<tr rendered="#{consultaAfiliadoBean.verIps}">
								<a4j:region>
									<td><h:outputText value="N. Validación: "
											styleClass="sosCampo" rendered="#{consultaAfiliadoBean.verIps}" /></td>
									<td><h:inputText id="noValidacion" style="width:140px;"
											onkeypress="validateNumeric(event)"
											disabled="#{!consultaAfiliadoBean.deshabilitadoPorPermisos}"
											value="#{consultaAfiliadoBean.numeroValidacion}" rendered="#{consultaAfiliadoBean.verIps}">
										</h:inputText></td>

									<td><h:outputText value="Oficina Validación: "
											styleClass="sosCampo" rendered="#{consultaAfiliadoBean.verIps}"/></td>
									<td colspan="5"><h:inputText style="width:80px;"
											disabled="#{!consultaAfiliadoBean.deshabilitadoPorPermisos}"
											value="#{consultaAfiliadoBean.oficinasVO.codigoOficina}" rendered="#{consultaAfiliadoBean.verIps}"/>
										<span /> <h:inputText style="width:250px;"
											disabled="#{!consultaAfiliadoBean.deshabilitadoPorPermisos}"
											value="#{consultaAfiliadoBean.oficinasVO.descripcionOficina}" rendered="#{consultaAfiliadoBean.verIps}"/>
										<span /> <a4j:commandButton value="Consultar"
											disabled="#{!consultaAfiliadoBean.deshabilitadoPorPermisos}"
											action="#{consultaAfiliadoBean.consultarOficina}"
											styleClass="sosbotonconsultar"
											reRender="modalOficinas, modalPnlPop, panelResultado" rendered="#{consultaAfiliadoBean.verIps}"/> <span />
										<a4j:commandButton value="Validar"
											reRender="modalPnlPop, panelDatosAfiliado, grid"
											disabled="#{!consultaAfiliadoBean.deshabilitadoPorPermisos}"
											action="#{consultaAfiliadoBean.validacionEspecial}"
											styleClass="sosboton" rendered="#{consultaAfiliadoBean.verIps}">
										</a4j:commandButton></td>
								</a4j:region>
							</tr>
						</table>
					</rich:panel>


					<rich:panel header="Datos Plan Obligatorio de Salud (POS)"
						rendered="false">
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="Tipo Afiliado: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionTipoAfiliado}" /></td>
								<td><h:outputText value="Estado: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoAfiliado} " /></td>
								<td><h:outputText value="Derecho: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoDerecho}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="Rango Salarial: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionRangoSalarial}" /></td>
								<td><h:outputText value="Inicio Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaInicioVigencia}">
										<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
									</h:outputText></td>
								<td><h:outputText value="Fin Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaFinVigencia}">
										<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="Semanas POS Ant.:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPOSAnt}" /></td>
								<td><h:outputText value="Semanas POS SOS:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPOSSOS}" /></td>
							</tr>
						</table>
					</rich:panel>


					<rich:panel header="Datos Plan Atención Complementario (PAC)"
						rendered="false">
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="Tipo Afiliado: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionTipoAfiliado}" /></td>
								<td><h:outputText value="Estado: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoAfiliado} " /></td>
								<td><h:outputText value="Derecho: " styleClass="sosCampo" /></td>
								<td colspan="3"><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoDerecho}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="Tipo: " styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.planComplementario.descripcionPlan}" /></td>
								<td><h:outputText value="Rango Salarial: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.descripcionRangoSalarial}" /></td>
								<td><h:outputText value="Inicio Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaInicioVigencia}">
										<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
									</h:outputText></td>
								<td><h:outputText value="Fin Vigencia: "
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.fechaFinVigencia}">
										<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="Semanas PAC Ant.:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPACAnt}" /></td>
								<td><h:outputText value="Semanas PAC SOS:"
										styleClass="sosCampo" /></td>
								<td><h:outputText
										value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPACSOS}" /></td>
							</tr>
						</table>
					</rich:panel>

					<h:panelGrid columns="2" style="width:100%;" rendered="#{consultaAfiliadoBean.verIps}">
						<rich:panel styleClass="sosPanel">
							<fieldset>
								<legend>Empleadores</legend>
								<rich:dataTable width="100%" id="dataTableEmpleadores"
									value="#{consultaAfiliadoBean.listaEmpleadores}"
									var="empleador" rows="10">
									<rich:column>
										<f:facet name="header">
											<h:outputText value="T. Identificación" />
										</f:facet>
										<h:outputText
											value="#{empleador.tiposIdentificacionVO.codigoTipoIdentificacion}" />
									</rich:column>
									<rich:column>
										<f:facet name="header">
											<h:outputText value="N. Identificación" />
										</f:facet>
										<h:outputText
											value="#{empleador.numeroIdentificacionEmpleador}" />
									</rich:column>
									<rich:column>
										<f:facet name="header">
											<h:outputText value="Razón Social" />
										</f:facet>
										<a4j:region>
											<a4j:commandLink reRender="modalInfEmpleador"
												oncomplete="Richfaces.showModalPanel('modalInfEmpleador');">
												<h:outputText value="#{empleador.razonSocialEmpleador}" />
												<f:setPropertyActionListener
													target="#{consultaAfiliadoBean.empleadorVOSeleccionado}"
													value="#{empleador}" />
											</a4j:commandLink>
										</a4j:region>
									</rich:column>
									<f:facet name="footer">
										<rich:datascroller for="dataTableEmpleadores" />
									</f:facet>
								</rich:dataTable>
							</fieldset>
						</rich:panel>
						<rich:panel styleClass="sosPanel">
							<fieldset>
								<legend>Información de los Convenios de Capitación</legend>
								<rich:dataTable width="100%" id="dataTableConvenios"
									value="#{consultaAfiliadoBean.listaConveniosCapacitacion}"
									var="convenio" rows="10">
									<rich:column>
										<f:facet name="header">
											<h:outputText value="Convenio" />
										</f:facet>
										<a4j:region>
											<a4j:commandLink reRender="modalDetConveniosCapacit"
												oncomplete="Richfaces.showModalPanel('modalDetConveniosCapacit');">
												<h:outputText value="#{convenio.descripcionConvenio}" />
												<f:setPropertyActionListener
													target="#{consultaAfiliadoBean.convenioCapacitacionSeleccionado}"
													value="#{convenio}" />
											</a4j:commandLink>
										</a4j:region>
									</rich:column>
									<rich:column>
										<f:facet name="header">
											<h:outputText value="Estado" />
										</f:facet>
										<h:outputText
											rendered="#{convenio != null and convenio.capita != null}"
											value="#{convenio.capita eq 'S' ? 'CAPITA' : 'NO CAPITA'}" />
									</rich:column>
									<f:facet name="footer">
										<rich:datascroller for="dataTableConvenios" />
									</f:facet>
								</rich:dataTable>
							</fieldset>
						</rich:panel>
					</h:panelGrid>
				</fieldset>
			</rich:panel>

			<br />

		</h:form>

		<ui:include src="popup/afiliadosPopup.xhtml" />
		<ui:include src="popup/grupoFamiliarPopup.xhtml" />
		<ui:include src="popup/datosAdicionalesPopup.xhtml" />
		<ui:include src="popup/infEmpleadorPopup.xhtml" />
		<ui:include src="popup/detConveniosCapacitPopup.xhtml" />
		<ui:include src="popup/oficinasPopup.xhtml" />

	</ui:define>
</ui:composition>
