<h:form id="formPopupAfiliados" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalAfiliados" autosized="true" width="800"
		showWhenRendered="#{consultaAfiliadoBean.mostrarPopupAfiliados}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Resultado Búsqueda" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{consultaAfiliadoBean.cerrarPopupAfiliados}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalAfiliados');" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableAfiliados"
			value="#{consultaAfiliadoBean.listaAfiliadoVO}" var="afiliado"
			rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink
					action="#{consultaAfiliadoBean.seleccionarAfiliado}"
					reRender=":formConsultarAfiliado, modalAfiliados, modalGrupoFamiliar, grid, modalRiesgos, modalTutelas, modalDetallesAfiliado">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener
						target="#{consultaAfiliadoBean.afiliadoVO}" value="#{afiliado}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Plan" />
				</f:facet>
				<h:outputText value="#{afiliado.plan.descripcionPlan}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Tipo Id" />
				</f:facet>
				<h:outputText
					value="#{afiliado.tipoIdentificacionAfiliado.codigoTipoIdentificacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Número Id" />
				</f:facet>
				<h:outputText value="#{afiliado.numeroIdentificacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Nombre" />
				</f:facet>
				<h:outputText value="#{afiliado.nombreCompleto}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableAfiliados" />
			</f:facet>
		</rich:dataTable>

		<!-- 		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Origen: " style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
				<td><h:outputText value="Inicio Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
				<td><h:outputText value="Estado Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
			</tr>
			<tr>
				<td><h:outputText value="Número: " style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
				<td><h:outputText value="Fin Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
				<td><h:outputText value="Parentesco: "
						style="font-weight: bold;" /></td>
				<td><h:inputText /></td>
			</tr>
		</table> -->

		<center>
			<!-- <a4j:commandButton value="Aceptar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
			<span /> -->
			<a4j:commandButton value="Cancelar"
				action="#{consultaAfiliadoBean.cerrarPopupAfiliados}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalAfiliados');" />
		</center>

	</rich:modalPanel>
</h:form>