<h:form id="formDatosAfiliado" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDatosAfiliado" autosized="true" width="800">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Datos Adicionales" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('modalDatosAfiliado');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Afiliado: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.codigoTipoIdentificacion}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.numeroIdentificacion}" /></td>
				<td colspan="4"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.nombreCompleto}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Estado Civil: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.consecutivoEstadoCivil}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoCivil}" /></td>
				<td><h:outputText value="Semanas de Cotización: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.semanasCotizadas}" /></td>
				<td><h:outputText value="Cotiza: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.datosAfiliadoVO.cotiza}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Ciudad: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.ciudadResidencia.codigoCiudad}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.ciudadResidencia.descripcionCiudad}" /></td>
				<td><h:outputText value="Departamento: "
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.descripcionDepartamento}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Dirección: "
						style="font-weight: bold;" /></td>
				<td colspan="4"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.direccionResidencia}" /></td>
				<td><h:outputText value="Barrio: " style="font-weight: bold;" /></td>
				<td colspan="2"><h:outputText
						value="#{consultaAfiliadoBean.datosAfiliadoVO.barrio}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Teléfono: " style="font-weight: bold;" /></td>
				<td colspan="6"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.telefono}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="AFP: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.datosAfiliadoVO.codigoAfp}" /></td>
				<td colspan="5"><h:outputText
						value="#{consultaAfiliadoBean.datosAfiliadoVO.descripcionAfp}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="IPS Capitación: "
						style="font-weight: bold;" /></td>
				<td colspan="6"><h:outputText
						value="#{consultaAfiliadoBean.datosAfiliadoVO.IPSCapitacion}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Email: " style="font-weight: bold;" /></td>
				<td colspan="6"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.email}" /></td>
			</tr>
		</table>

		<br />

		<h:outputText value="Información de grupos poblacionales " />

		<rich:dataTable width="100%" id="dataTableGruposPoblacionales"
			value="#{consultaAfiliadoBean.listaGrupoPoblacionalVOs}" var="grupo" rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Código" />
				</f:facet>
				<h:outputText value="#{grupo.codigoGrupoPoblacional}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Descripción" />
				</f:facet>
				<h:outputText value="#{grupo.descripcionGrupoPoblacional}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Inicio Vigencia" />
				</f:facet>
				<h:outputText value="#{grupo.inicioVigencia}">
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
				</h:outputText>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Fin Vigencia" />
				</f:facet>
				<h:outputText value="#{grupo.finVigencia}">
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
				</h:outputText>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableGruposPoblacionales" />
			</f:facet>
		</rich:dataTable>

		<center>
			<a4j:commandButton value="Aceptar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalDatosAfiliado');" />
		</center>

	</rich:modalPanel>
</h:form>