<h:form id="formPopupGrupoFamiliar" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalGrupoFamiliar" autosized="true" width="800">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Grupo Familiar" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalGrupoFamiliar');" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableGrupoFamiliar"
			value="#{consultaAfiliadoBean.listaGrupoFamiliarVOs}"
			var="grupoFamiliar" rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="" />
				</f:facet>
				<a4j:commandLink
					oncomplete="Richfaces.showModalPanel('modalGrupoFamiliar');"
					reRender="modalGrupoFamiliar">
					<h:outputText value="Seleccionar" />
					<f:setPropertyActionListener
						target="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado}"
						value="#{grupoFamiliar}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Plan" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.plan.descripcionPlan}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Tipo Id" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.tipoIdentificacionAfiliado.codigoTipoIdentificacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Número Id" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.numeroIdentificacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Nombre" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.nombreCompleto}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Tipo Afiliado" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.descripcionTipoAfiliado}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="NUI" />
				</f:facet>
				<h:outputText
					value="#{grupoFamiliar.afiliadoGrupoFamiliar.numeroUnicoIdentificacion}" />
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableGrupoFamiliar" />
			</f:facet>
		</rich:dataTable>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Origen: " style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.origen}" /></td>
				<td><h:outputText value="Inicio Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.afiliadoGrupoFamiliar.fechaInicioVigencia}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:inputText></td>
				<td><h:outputText value="Estado Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.afiliadoGrupoFamiliar.descripcionEstadoAfiliado}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Número: " style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.afiliadoGrupoFamiliar.numeroContrato}" /></td>
				<td><h:outputText value="Fin Vigencia Benef.: "
						style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.afiliadoGrupoFamiliar.fechaFinVigencia}">
						<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
					</h:inputText></td>
				<td><h:outputText value="Parentesco: "
						style="font-weight: bold;" /></td>
				<td><h:inputText disabled="true"
						value="#{consultaAfiliadoBean.grupoFamiliarVOSeleccionado.afiliadoGrupoFamiliar.descripcionParentesco}" /></td>
			</tr>
		</table>

		<center>
			<a4j:commandButton value="Aceptar"
				action="#{consultaAfiliadoBean.seleccionarGrupoFamiliar}"
				reRender=":formConsultarAfiliado, modalGrupoFamiliar, modalAfiliados, grid, modalRiesgos, modalTutelas, modalDetallesAfiliado, modalPnlPop, modalFacesError"
				oncomplete="Richfaces.hideModalPanel('modalGrupoFamiliar');"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
			<span />
			<a4j:commandButton value="Cancelar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalGrupoFamiliar');" />
		</center>

	</rich:modalPanel>
</h:form>