<h:form id="formInfEmpleador" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalInfEmpleador" autosized="true" width="800">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Información del Empleador" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('modalInfEmpleador');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Afiliado: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.codigoTipoIdentificacion}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.numeroIdentificacion}" /></td>
				<td colspan="4"><h:outputText
						value="#{consultaAfiliadoBean.afiliadoVO.nombreCompleto}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Identificación Empleador: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.tiposIdentificacionVO.codigoTipoIdentificacion}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.numeroIdentificacionEmpleador}" /></td>
				<td><h:outputText value="Razón Social: "
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.razonSocialEmpleador}" /></td>
				<td><h:outputText value="Sucursal: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.consecutivoSucursalAportante}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Actividad Económica: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.actividadEconomicaVO.codigoEntidad}" /></td>
				<td colspan="5"><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.actividadEconomicaVO.descripcionEntidad}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Cargo: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.cargoVO.codigoCargoEmpleado}" /></td>
				<td colspan="5"><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.cargoVO.descripcionCargoEmpleado}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="ARP: " style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.entidadVO.codigoEntidad}" /></td>
				<td colspan="5"><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.entidadVO.descripcionEntidad}" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Tipo Cotizante: "
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.tipoCotizanteVO.consecutivoCodigoTipoCotizante}" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.tipoCotizanteVO.descripcionTipoCotizante}" /></td>
				<td><h:outputText value="Inicio Vig. Cobranza:"
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.inicioVigenciaCobranza}">
						<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
					</h:outputText></td>
				<td><h:outputText value="Fin Vig. Cobranza:"
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.finVigenciaCobranza}">
						<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
					</h:outputText></td>
			</tr>
			<tr>
				<td rowspan="2"><h:outputText value="Información Cuota"
						style="font-weight: bold;" /> <br /> <h:outputText
						value="Moderadora y Copago" style="font-weight: bold;" /></td>
				<td rowspan="2" colspan="6"><h:outputText
						value="#{consultaAfiliadoBean.empleadorVOSeleccionado.textoCopagoTextoCuotaModeradora}" /></td>
			</tr>
			<tr />
		</table>

		<br />

		<center>
			<a4j:commandButton value="Aceptar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalInfEmpleador');" />
		</center>

	</rich:modalPanel>
</h:form>