<h:form id="formPopupRiesgos" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalRiesgos" autosized="true"
		showWhenRendered="#{consultaAfiliadoBean.mostrarPopupRiesgos}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Riesgos" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('modalRiesgos');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					action="#{consultaAfiliadoBean.cerrarPopupRiesgos}" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableRiesgos"
			value="#{consultaAfiliadoBean.listaRiesgosPaciente}" var="riesgo"
			rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="Descripción" style="color:white;"/>
				</f:facet>
				<a4j:commandLink
					oncomplete="Richfaces.showModalPanel('modalRiesgos');"
					reRender="modalRiesgos">
					<h:outputText value="#{riesgo.descripcionRiesgo}" />
					<f:setPropertyActionListener
						target="#{consultaAfiliadoBean.riesgoPacienteSeleccionado}"
						value="#{riesgo}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Fecha Marcación" />
				</f:facet>
				<h:outputText value="#{riesgo.fechaMarcacion}">
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
				</h:outputText>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Fuente Marcación" />
				</f:facet>
				<h:outputText value="#{riesgo.fuenteMarcacion}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="No. Notificación" />
				</f:facet>
				<h:outputText value="#{riesgo.consecutivoNotificacionAsociado}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Oficina" />
				</f:facet>
				<h:outputText value="#{riesgo.consecutivoOficinaAsociado}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Fecha Expiración" />
				</f:facet>
				<h:outputText value="#{riesgo.fechaFinMarcacion}">
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
				</h:outputText>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableRiesgos" />
			</f:facet>
		</rich:dataTable>

		<br/>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; padding-left:20px;">
			<tr>
				<td><h:outputText value="Libreto: " style="font-weight: bold;" /></td>
				<td><h:inputTextarea cols="80"
						value="#{consultaAfiliadoBean.riesgoPacienteSeleccionado.descripcionLibreto}"
						disabled="true" /></td>
			</tr>
		</table>

		<center>
			<a4j:commandButton value="Aceptar"
				action="#{consultaAfiliadoBean.cerrarPopupRiesgos}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalRiesgos');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>