<h:form id="formPopupTutelas" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalTutelas" autosized="true"
		showWhenRendered="#{consultaAfiliadoBean.mostrarPopupTutelas}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Tutelas" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X" action="#{consultaAfiliadoBean.cerrarPopupTutelas}"
					onclick="Richfaces.hideModalPanel('modalTutelas');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<rich:dataTable width="100%" id="dataTableTutelas"
			value="#{consultaAfiliadoBean.listaTutelasAfiliado}" var="tutela"
			rows="10">
			<rich:column>
				<f:facet name="header">
					<h:outputLabel value="Número" style="color:white;"/>
				</f:facet>
				<a4j:commandLink oncomplete="Richfaces.showModalPanel('modalTutelas');" reRender="modalTutelas">
					<h:outputText value="#{tutela.consecutivoNotificacion}" />
					<f:setPropertyActionListener
						target="#{consultaAfiliadoBean.tutelaSeleccionada}"
						value="#{tutela}" />
				</a4j:commandLink>
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Diagnóstico" />
				</f:facet>
				<h:outputText value="#{tutela.diagnosticoVO.descripcionDiagnostico}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Estado" />
				</f:facet>
				<h:outputText value="#{tutela.descripcionEstadoTutela}" />
			</rich:column>
			<rich:column>
				<f:facet name="header">
					<h:outputText value="Fecha Creación" />
				</f:facet>
				<h:outputText value="#{tutela.fechaNotificacion}">
					<f:convertDateTime type="date" pattern="dd/MM/yyyy" />
				</h:outputText>
			</rich:column>
			<f:facet name="footer">
				<rich:datascroller for="dataTableTutelas" />
			</f:facet>
		</rich:dataTable>
		
		<br/>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; padding-left:20px;">
			<tr>
				<td><h:outputText value="Descripción: "
						style="font-weight: bold;" /></td>
				<td><h:inputTextarea cols="80" disabled="true"
						value="#{consultaAfiliadoBean.tutelaSeleccionada.descripcionTutela}" /></td>
			</tr>
		</table>

		<center>
			<a4j:commandButton value="Aceptar" action="#{consultaAfiliadoBean.cerrarPopupTutelas}"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				onclick="Richfaces.hideModalPanel('modalTutelas');">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</h:form>