<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

    
	 <a4j:form>
		<div class="header"	style="vertical-align: top; width: 100%; text-align: right; color: white; font-size: 10pt; margin-top: 10" id="cabecera">
			
			<div align="right">
				<h:panelGrid columns="3">
					<h:panelGroup>
						<h:outputText value="#{usuarioBean.userName} |"
							style="color: white;" />
						<h:commandLink style="color: white;" value="Cerrar Sesion"
							action="#{usuarioBean.logout}" />
					</h:panelGroup>
				</h:panelGrid>
			</div>
			<div align="right" style="font-size: 7pt;" >
				<h:outputText value="Servidor: #{versionAppBB.hostName}" style="color: white;" />
			</div>
			
			<h1 align="center" style="margin-right: 35%">
				<ui:insert name="pageName" />
			</h1>
		</div>		
	</a4j:form>

</div>
