<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jstl/core">
<f:loadBundle var="label" basename="properties.etiquetas" />

<head>
<script type="text/javascript">
function validateAlphaNumeric(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /^[0-9a-zA-Z]+$/;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
function validateDecimalNumericSlash(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9/]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
function validateDecimalNumeric(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  key = String.fromCharCode( key );
  var regex = /[0-9]|\./;
  if( !regex.test(key) ) {
    theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
function validateNumeric(evt) {
  var theEvent = evt || window.event;
  var key = theEvent.keyCode || theEvent.which;
  if ( isNaN( String.fromCharCode(evt.keyCode) )){
  	theEvent.returnValue = false;
    if(theEvent.preventDefault) theEvent.preventDefault();
  }
}
</script>
<script type="text/javascript">        
        function disablementFunctionFechaConsulta(day){
	        var curDt = new Date();
	        var minDt = new Date();
        	var re;
        	var diasMenos = ${minimaFechaConsulta};
        	minDt = new Date();
        	minDt.setTime( minDt.getTime() - (diasMenos * 86400000));
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) re= true; else return false; 
            if (minDt.getTime() - day.date.getTime() &lt;0) re= true; else re= false;  
            return re;
        }
    </script>
<script type="text/javascript">
       function disablementFunctionFechaSolicitud(day){
       		var curDt = new Date();
        	var minDt = new Date();
        	var re;
        	var diasMenos = ${minimaFechaSolicitud};
        	minDt = new Date();
        	minDt.setTime( minDt.getTime() - (diasMenos * 86400000));
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) re= true; else return false; 
            if (minDt.getTime() - day.date.getTime() &lt;0) re= true; else re= false;  
            return re;
        }
    </script>
<script type="text/javascript">
       function disablementFunctionFecha(day){
        	var re;
        	var curDt = new Date();
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) return true; else return false; 
        }
    </script>
<!-- page title param passed in by param -->
<title><h:outputText value="#{label['titulo.pagina']}" />
	#{pageTitle}</title>
<meta http-equiv="keywords" content="enter,your,keywords,here" />
<meta http-equiv="description"
	content="A short description of this page." />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/estilo_sos-v2.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/estilosNuevos.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/sos-richfaces-3.1.5.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/sos.css" />
<script type="text/javascript" src="${request.contextPath}/resources/js/validaciones.js"></script>
</head>
<body>

	<div class="page">
		<ui:include src="./cabeceraBPM.xhtml" />

		<h:panelGrid id="grid" columns="2">

			
			<rich:column
				style="text-align: center; width: 80%; border: none; vertical-align: top;">
				<div class="content">
					<ui:insert name="content" />
				</div>
			</rich:column>
		</h:panelGrid>
		<div class="footer">
			<ui:include src="./messagesPopup.xhtml" />
			<ui:include src="./messagesFacesPopup.xhtml" />
			<ui:include src="./ventanaProcesando.xhtml" />
			<a4j:status id="ajaxStatus"
				onstart="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
				onstop="#{rich:component('waitPanel')}.hide()" />
		</div>
	</div>

</body>
</html>