<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jstl/core">
<f:loadBundle var="label" basename="properties.etiquetas" />

<head>
<script type="text/javascript">
		function disablementFunctionFechaConsulta(day){
	        var curDt = new Date();
	        var minDt = new Date();
        	var re;
        	var diasMenos = ${minimaFechaConsulta};
        	minDt = new Date();
        	minDt.setTime( minDt.getTime() - (diasMenos * 86400000));
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) re= true; else return false; 
            if (minDt.getTime() - day.date.getTime() &lt;0) re= true; else re= false;  
            return re;
        }
</script>
<script type="text/javascript">
		function disablementFunctionFechaSolicitud(day){
       		var curDt = new Date();
        	var minDt = new Date();
        	var re;
        	var diasMenos = ${minimaFechaSolicitud};
        	minDt = new Date();
        	minDt.setTime( minDt.getTime() - (diasMenos * 86400000));
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) re= true; else return false; 
            if (minDt.getTime() - day.date.getTime() &lt;0) re= true; else re= false;  
            return re;
        }
</script>
<script type="text/javascript">
        function disablementFunctionFechaConsultaSolicitud(day){
       		var curDt = new Date();
        	var minDt = new Date();
        	var re;
        	var diasMenos = ${minimaFechaConsultaSolicitud};
        	minDt = new Date();
        	minDt.setTime(diasMenos);
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) re= true; else return false; 
            if (minDt.getTime() - day.date.getTime() &lt;0) re= true; else re= false;  
            return re;
        }
</script>
<script type="text/javascript">
		function disablementFunctionFecha(day){
        	var re;
        	var curDt = new Date();
            if (curDt==undefined){
                curDt = day.date.getDate;
            }
            if (curDt.getTime() - day.date.getTime() &gt;0) return true; else return false; 
        }
</script>
<ui:insert name="js" />
<!-- page title param passed in by param -->
<title><h:outputText value="#{label['titulo.pagina']}" />
	#{pageTitle}</title>
<meta http-equiv="keywords" content="enter,your,keywords,here" />
<meta http-equiv="description"
	content="A short description of this page." />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/estilo_sos-v2.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/estilosNuevos.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/sos-richfaces-3.1.5.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/sos.css" />
<link rel="stylesheet" type="text/css"
	href="${request.contextPath}/css/select2.min.css" />
<script type="text/javascript"
	src="${request.contextPath}/resources/js/validaciones.js"></script>
</head>
<body>

	<div class="page">
		<ui:include src="./cabecera.xhtml" />

		<h:panelGrid id="grid" columns="2">

			<rich:column
				style="text-align: center; border: none; vertical-align: top;">
				<h:panelGrid columns="1" style="text-align: center">
					<rich:panelMenu style="width:200px" itemMode="ajax"
						groupMode="ajax" groupExpandedLeftIcon="triangleUp"
						groupCollapsedLeftIcon="triangleDown"
						topGroupExpandedRightIcon="chevronUp"
						topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc">
						<rich:panelMenuGroup label="Consulta Afiliado" expanded="true"
							rendered="#{!consultaAfiliadoBean.deshabilitarPorNoAfiliado}">
							<rich:panel
								header="#{consultaAfiliadoBean.afiliadoVO.nombreCompleto}  #{consultaAfiliadoBean.codigoTipoIdentificacion} #{consultaAfiliadoBean.numeroIdentificacion}"
								style="width:100%; border:0;">
								<table
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
									<tr>
										<td><h:outputText value="Edad: "
												styleClass="sosCampo" /> <h:outputText
												value="#{consultaAfiliadoBean.afiliadoVO.edadAnos}" /></td>
									</tr>
									<tr>
										<td><h:outputText value="Plan: "
												styleClass="sosCampo" /> <h:outputText
												value="#{consultaAfiliadoBean.afiliadoVO.plan.descripcionPlan}" /></td>
									</tr>
									<tr>
										<td><h:outputText value="Estado: "
												styleClass="sosCampo" /> <h:outputText
												value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoAfiliado}" /></td>
									</tr>
									<tr>
										<td><h:outputText value="Derecho: "
												styleClass="sosCampo" /> <h:outputText
												value="#{consultaAfiliadoBean.afiliadoVO.descripcionEstadoDerecho}" /></td>
									</tr>
									<tr>
										<td><h:outputText value="Semanas: "
												styleClass="sosCampo" /> <h:outputText
												value="#{consultaAfiliadoBean.afiliadoVO.semanasAfiliacionPOSSOS}" /></td>
									</tr>
								</table>
								
								<table style="width:100%; text-align:center;">
									<tbody>
										<tr>
											<td><hr /></td>
										</tr>
										<tr>
											<td>
												<a4j:commandLink
													styleClass="sosVinculoMenu" 
													rendered="#{consultaAfiliadoBean.verIps}"
													value="Ver Detalles..."
													reReder="modalDetallesAfiliado"
													oncomplete="Richfaces.showModalPanel('modalDetallesAfiliado');"
													disabled="#{consultaAfiliadoBean.deshabilitadoPorPermisos}" />
											</td>
										</tr>
									</tbody>
								</table>
							</rich:panel>							
						</rich:panelMenuGroup>
					</rich:panelMenu>
					<rich:panelMenu style="width:200px"
						rendered="#{consultaAfiliadoBean.verIps}"
						groupExpandedLeftIcon="triangleUp" submitMode="none"
						groupCollapsedLeftIcon="triangleDown"
						topGroupExpandedRightIcon="chevronUp"
						topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc">
						<rich:panelMenuGroup label="Otros datos Afiliado" expanded="true"
							rendered="#{!consultaAfiliadoBean.deshabilitarPorNoAfiliado}">
							<h:panelGrid columns="1"
								style="width:100%; text-align:left; border:1;">
								<a4j:commandLink value="Riesgos"
									onclick="Richfaces.showModalPanel('modalRiesgos');"
									style="font-size: 70%; font-family: Arial, Helvetica, sans-serif; text-decoration: blink; color: black;"
									disabled="#{consultaAfiliadoBean.deshabilitadoPorPermisos}" />
								<rich:separator height="1" />
								<a4j:commandLink value="Tutelas"
									onclick="Richfaces.showModalPanel('modalTutelas');"
									style="font-size: 70%; font-family: Arial, Helvetica, sans-serif; text-decoration: blink; color: black;"
									disabled="#{consultaAfiliadoBean.deshabilitadoPorPermisos}" />
							</h:panelGrid>
						</rich:panelMenuGroup>
					</rich:panelMenu>
					<rich:panelMenu style="width:200px" itemMode="ajax"
						groupMode="ajax" groupExpandedLeftIcon="triangleUp"
						groupCollapsedLeftIcon="triangleDown"
						topGroupExpandedRightIcon="chevronUp"
						topGroupCollapsedRightIcon="chevronDown" itemLeftIcon="disc">
						<c:forEach xmlns:c="http://java.sun.com/jstl/core" var="modulo"
							items="#{menuBean.modulos}">
							<rich:panelMenuGroup label="#{modulo.nombre}" expanded="true">
								<c:forEach xmlns:c="http://java.sun.com/jstl/core"
									var="servicio" items="#{modulo.servicios}">
									<rich:panelMenuItem label="#{servicio.label}"
										name="#{servicio.name}" action="#{menuBean.navegar}"
										disabled="#{servicio.deshabilitado}">
										<f:setPropertyActionListener value="#{servicio.action}"
											target="#{menuBean.opcion}" />
									</rich:panelMenuItem>
								</c:forEach>
							</rich:panelMenuGroup>
						</c:forEach>
					</rich:panelMenu>
				</h:panelGrid>
			</rich:column>
			<rich:column
				style="text-align: center; width: 88%; border: none; vertical-align: top;">
				<div class="content">
					<ui:insert name="content" />
				</div>
			</rich:column>
		</h:panelGrid>
		<div class="footer">
			<ui:include src="./messagesPopup.xhtml" />
			<ui:include src="./messagesFacesPopup.xhtml" />
			<ui:include src="./ventanaProcesando.xhtml" />
			<a4j:status id="ajaxStatus"
				onstart="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
				onstop="#{rich:component('waitPanel')}.hide()" />
		</div>
	</div>

	<ui:include src="../view/consultarAfiliado/popup/tutelasPopup.xhtml" />
	<ui:include
		src="../view/consultarAfiliado/popup/detallesAfiliadoPopup.xhtml" />
	<ui:include src="../view/consultarAfiliado/popup/riesgosPopup.xhtml" />
</body>
</html>