<h:form id="formPopupFacesMessages" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalFacesError" autosized="true" width="450"
		showWhenRendered="#{facesContext.maximumSeverity != null}">
		<div class="box-cont-ppal-home" align="center">
			<f:facet name="header">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Mensaje" />
					</h:panelGroup>
				</f:facet>
			</f:facet>
			<h:panelGrid columns="0" width="100%" style="align: center;"
				styleClass="box-mrgBottom" border="0">
				<h:panelGroup>
					<div align="left">
						<rich:messages layout="list" errorLabelClass="mensajeAdvertencia"
							fatalLabelClass="mensajeAdvertencia"
							infoLabelClass="mensajeInformativo"
							warnLabelClass="mensajeAdvertencia">
							<f:facet name="errorMarker">
								<h:graphicImage value="/css/images/ico/anular.gif" />
							</f:facet>
						</rich:messages>
					</div>
					<p />
					<div align="center">
						<a4j:commandButton style="text-align: center;" value="Aceptar"
							styleClass="aceptar"
							onclick="Richfaces.hideModalPanel('modalFacesError');">
						</a4j:commandButton>
					</div>
				</h:panelGroup>
			</h:panelGrid>
		</div>
	</rich:modalPanel>
</h:form>