<rich:modalPanel id="waitPanel" style="text-align:center"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:panelGrid columns="1" id="ajaxLoadingM"
		style="text-align: center; background-color: transparent; width: 100%;">
		<h:graphicImage id="imgLoadin" url="/imagenes/connect_active.gif"></h:graphicImage>
		<h:outputText id="txtProcesand" style="font-size: 7pt"
			value="Procesando..." />
	</h:panelGrid>
</rich:modalPanel>
