<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:sos-comp="http://components.sos.com.co/faces/core">
	<head>
		<title>SOS | Salida</title>
		<meta http-equiv="keywords" content="enter,your,keywords,here" />
		<meta http-equiv="description"
			content="A short description of this page." />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css"
			href="${request.contextPath}/css/estilo_sos-v2.css" />
		<link rel="stylesheet" type="text/css"
			href="${request.contextPath}/css/sos-richfaces-3.1.5.css" />
		<link rel="stylesheet" type="text/css"
			href="${request.contextPath}/css/sos.css" />
		<script src="${request.contextPath}/js/utilities.js"
			type="text/javascript" language="javascript"></script>
		<f:loadBundle var="label"
			basename="properties.etiquetas" />  
	</head>
	<body>
		<form method="post" action="ibm_security_logout" name="logout">
			<div class="header"></div>
			<center>
				<p>
					<br />
					<br />
					<font size="2"><strong>Cierre de sesión exitoso</strong><br />
					</font>
					<input type="submit" name="logout" value="OK" class="aceptar"></input>
					<input type="hidden" name="logoutExitPage"
						value="/Logueo/login.jsp"></input>
				</p>
			</center>
		</form>

	</body>
</html>
