<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalAntecedentes" autosized="true" 
	showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupVerAntecedentes}" width="600">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Antecedentes de Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X" 
					action="#{gestionAuditoriaIntegralBean.cerrarVerAntecedentes}"
					reRender="modalAntecedentes"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>

		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><rich:dataTable id="tableAntecedentes"
					value="#{gestionAuditoriaIntegralBean.lstAntecedentesPrestacion}"
					var="obj" rows="15" width="650px" >
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Fecha" />
						</f:facet>
						<h:outputText
							value="#{obj.fecha}">
								<f:convertDateTime pattern="d/M/yyyy" /> 
							</h:outputText>
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Estado" />
						</f:facet>
						<h:outputText
							value="#{obj.descEstado}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Prestador" />
						</f:facet>
						<h:outputText
							value="#{obj.descPrestador}" />
					</rich:column>
					<rich:column>
						<f:facet name="header">
							<h:outputText value="Cantidad" />
						</f:facet>
						<h:outputText
							value="#{obj.cantidad}" />
					</rich:column>
					<f:facet name="footer">
						<rich:datascroller for="tableAntecedentes" maxPages="20" />
					</f:facet>
				</rich:dataTable></td>
			</tr>
			
		</table>
		<center>
			<a4j:commandButton value="Cerrar"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
				action="#{gestionAuditoriaIntegralBean.cerrarVerAntecedentes}"
				reRender="modalAntecedentes" />
		</center>

	</rich:modalPanel>
</h:form>