<a4j:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalCambiarDireccionamiento" autosized="true" 
		showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupCambiarDireccionamiento}"
		domElementAttachment="form" width="850">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Cambiar Direccionamiento" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionAuditoriaIntegralBean.cerrarPopupCambiarDireccionamiento}"
					reRender="modalCambiarDireccionamiento"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		
		<rich:panel id="panelCambiarDireccionamiento" header="">
			<a4j:region>
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
				
				<tr>
					<td><h:outputText value="Motivo*:" style="font-weight: bold;" /></td>
					<td>
						<h:panelGroup layout="block" styleClass="multiCheck">
							<h:selectManyCheckbox layout="pageDirection" style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
									value="#{gestionAuditoriaIntegralBean.cambioDireccionamiento.motivos}">
									<f:selectItems value="#{gestionAuditoriaIntegralBean.lstMotivos}"
										var="obj" itemValue="#{obj.value}" itemLabel="#{obj.label}" />
								</h:selectManyCheckbox>
						</h:panelGroup>
					</td>
				</tr>
				<tr>										
					<td>
						<h:selectBooleanCheckbox value="#{gestionAuditoriaIntegralBean.activarFiltroCiudad}">
							<h:outputText value="Ciudad: " style="font-weight: bold;" />
							<a4j:support reRender="txtCodigoCiudad, txtDescripcionCiudad, btnBuscarCiudad, btnRecalcular" 
										 event="onchange"
										 action = "#{gestionAuditoriaIntegralBean.limpiarCiudad}"/>
						</h:selectBooleanCheckbox>
					</td>
					<td>
						<h:inputText style="width:80px;" id="txtCodigoCiudad"
							disabled = "#{!gestionAuditoriaIntegralBean.activarFiltroCiudad}"
							value="#{gestionAuditoriaIntegralBean.ciudad.codigoCiudad}"/> <span />
						<h:inputText style="width:350px;" id="txtDescripcionCiudad"
							disabled = "#{!gestionAuditoriaIntegralBean.activarFiltroCiudad}"
							value="#{gestionAuditoriaIntegralBean.ciudad.descripcionCiudad}"  /> <span />
						<a4j:commandButton id="btnBuscarCiudad" value="Buscar"
							disabled = "#{!gestionAuditoriaIntegralBean.activarFiltroCiudad}"
							action="#{gestionAuditoriaIntegralBean.buscarCiudad}"
							image="${request.contextPath}/css/images/ico/icon-search.png"
							styleClass="sosbotonsearch2"
							process="txtCodigoCiudad, txtDescripcionCiudad"
							reRender="txtCodigoCiudad, txtDescripcionCiudad, modalFacesError, modalPnlPop, ciudadesPopup"/>
						<span />
						<a4j:commandButton id="btnRecalcular" value="Recalcular"
							disabled = "#{!gestionAuditoriaIntegralBean.activarFiltroCiudad}"
							action="#{gestionAuditoriaIntegralBean.recalcularDireccionamientos}"
							process="txtCodigoCiudad, txtDescripcionCiudad"
							reRender="modalCambiarDireccionamiento, modalFacesError, modalPnlPop"/>
					</td>					
				</tr>
				<tr>
					<td><h:outputText value="Prestador*:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu id="selectDireccionamientos"
							value="#{gestionAuditoriaIntegralBean.cambioDireccionamiento.consecutivoPrestador}"
							style="width:691px; margin-bottom: 5px">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems value="#{gestionAuditoriaIntegralBean.lstPrestadoresDireccionamiento}"/>
						</h:selectOneMenu></td>
				</tr>
				<tr>
					<td><h:outputText value="Justificacion*: "
							style="font-weight: bold;" /></td>
					<td colspan="9"><h:inputTextarea
							value="#{gestionAuditoriaIntegralBean.cambioDireccionamiento.justificacion}"
							cols="96" /></td>
				</tr>				
			</table>
			</a4j:region>
			<center>
			
				<a4j:commandButton value="Cancelar"
					style="width: 60px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					action="#{gestionAuditoriaIntegralBean.cerrarPopupCambiarDireccionamiento}"
					reRender="modalCambiarDireccionamiento"/>
					<span />
				<a4j:commandButton value="Cambiar"
					action="#{gestionAuditoriaIntegralBean.cambiarDireccionamiento}"
					reRender="modalCambiarDireccionamiento,tabsDomiciliaria,datosDireccionamientoCUMSPanel,panelTab,modalPnlPop"
					style="width: 60px; font-size: 92%; font-family: Arial, Helvetica, sans-serif;">
				</a4j:commandButton>
			
			</center>
		</rich:panel>
		
	</rich:modalPanel>
</a4j:form>
