<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">


	<rich:panel id="datosGestionAuditorCUMSPanel" header="Gestión Auditor">
		<h:panelGroup id="panelCumsGestionAuditor"
			rendered="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp.tipoPrestacion == gestionAuditoriaIntegralBean.MEDICAMENTOS}">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:83%;">
				<tr>
					<td><h:outputText value="Código Asignado: "
							style="font-weight: bold;" /></td>
					<td colspan="5"><h:inputText style="width:80px;"
							readonly="true"
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.codigoPrestacion}" />
						<h:outputText value=" " style="font-weight: bold;" /> <h:inputText
							style="width:580px;" readonly="true"
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.descripcion}" />
					</td>
					<a4j:region>
					<td><a4j:commandButton value="Asociar Programación"
							styleClass="btnAccion" reRender="modalPnlPop"
							action="#{gestionAuditoriaIntegralBean.asociarprogramacion}"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;" /></td>
					</a4j:region>
				</tr>

				<tr>
					<td><h:outputText value="Cantidad: "
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:160px;"
							onkeypress="validarTecla(event, 'NUM')"
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.cantidad}">
							<f:validateLongRange minimum="1" />
						</h:inputText></td>
					<td><h:outputText value="Posología: "
							style="font-weight: bold;" /></td>
					<td><h:outputText value="Dosis: " style="font-weight: bold;" />
						<h:inputText style="width:30px;" 
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.consPosologiaCUMS}" />
					<h:outputText value=" "  /><h:selectOneMenu style="width:150px;" 
								value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.consecutivoCodigoDosis}">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems
									value="#{gestionAuditoriaIntegralBean.listaDosisMedicamentos}" />
						</h:selectOneMenu>
					</td>

					<td><h:outputText value="Cada: " style="font-weight: bold;" /></td>
					<td><h:inputText style="width:30px;" value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.cada}" />
						<h:outputText value=" "  /><h:selectOneMenu style="width:150px;" 
								value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.consecutivoFrecuencia}">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems
									value="#{gestionAuditoriaIntegralBean.listaFrecuenciaMedicamentos}" />
							</h:selectOneMenu></td>

				</tr>
				<tr>
					<td><h:outputText value="Requiere Cotización: "
							style="font-weight: bold;" /></td><td> <h:selectOneMenu
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.requiereCotizacion}"
							style="width:50px;">
							<f:selectItem itemValue="SI" itemLabel="Si" />
							<f:selectItem itemValue="NO" itemLabel="No" />
						</h:selectOneMenu></td>
				</tr>
				<tr>
					<td colspan="7"><rich:dataTable id="tableProgramacion"
							value="#{gestionAuditoriaIntegralBean.lstProgramacionEntrega}"
							var="obj" rows="15" width="100%">
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Nro." />
								</f:facet>
								<h:outputText value="1" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Fecha Entrega" />
								</f:facet>
								<h:outputText value="#{obj.fechaEntrega}">
									<f:convertDateTime pattern="MM/dd/yyyy" />
								</h:outputText>
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Cantidad" />
								</f:facet>
								<h:outputText value="#{obj.cantidad}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Proveedor" />
								</f:facet>
								<h:outputText value="#{obj.proveedor}" />
							</rich:column>
							<rich:column>
								<f:facet name="header">
									<h:outputText value="Prestación" />
								</f:facet>
								<h:outputText value="#{obj.prestacion}" />
							</rich:column>
							<f:facet name="footer">
								<rich:datascroller for="tableProgramacion" maxPages="20" />
							</f:facet>
						</rich:dataTable></td>
				</tr>
			</table>
		</h:panelGroup>
		<h:panelGroup id="panelCupsGestionAuditor"
			rendered="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp.tipoPrestacion == gestionAuditoriaIntegralBean.CUPS}">
			<table
				style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:83%;">
				<tr>
					<td><h:outputText value="Cantidad SOS:"
							style="font-weight: bold;" /></td>
					<td><h:inputText style="width:160px;" id="cantidadMedicamentoai"
							onkeypress="validarTecla(event, 'NUM')"
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.cantidad}">
							<f:validateLongRange minimum="1" />
						</h:inputText></td>
					<td><h:outputText value="Lateralidad:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu
							value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.consLateralidad}">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{gestionAuditoriaIntegralBean.listaLateralidades}" />
						</h:selectOneMenu></td>
					<td><h:outputText value="Vía Acceso:"
							style="font-weight: bold;" /></td>
					<td><h:selectOneMenu
							value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.viaAcceso}">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{gestionAuditoriaIntegralBean.listaViasAccesoMedicamento}" />
						</h:selectOneMenu></td>
					<td><h:outputText value="Recobro:" style="font-weight: bold;" /></td>
					<td><h:selectOneMenu
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.consecutivoRecobro}">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{gestionAuditoriaIntegralBean.lstRecobros}" />
						</h:selectOneMenu></td>
				</tr>
			</table>
		</h:panelGroup>
		
		<table 
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:83%;">
			<tr>
				<td><h:outputText value="Estado:" style="font-weight: bold;" /></td>
				<td>			
					<a4j:region>		
						<h:selectOneMenu
							value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.consecutivoEstadoPrestacion}"
							style="width:200px;">
							<f:selectItems
								value="#{gestionAuditoriaIntegralBean.listaEstadosCUMS}" />
								<a4j:support reRender="datosGestionAuditorCUMSPanel1,datosDireccionamientoCUMSPanel,formGestionDomiciliaria:selectCheckCausas,datosGestionAuditorCUMS3Panel" action="#{gestionAuditoriaIntegralBean.cambiarCausas}"
								event="onchange" />
						</h:selectOneMenu>		
					</a4j:region>			
				</td>
				<td>
					<a4j:region>
						<h:selectBooleanCheckbox  value="#{gestionAuditoriaIntegralBean.noCobraCuotaRecuperacion}">	
							<a4j:support reRender="selectCausalNoCobroCuota" event="onchange"/>				
						</h:selectBooleanCheckbox>					
						<h:outputText value="No Cobro Cuota:" style="font-weight: bold;"/>
					</a4j:region>
				</td>
				<td>
					<h:selectOneMenu id="selectCausalNoCobroCuota" disabled="#{!gestionAuditoriaIntegralBean.noCobraCuotaRecuperacion}"
							value="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOCUMS.consecutivoCausaNoCobroCuota}">
							<f:selectItem itemValue="" itemLabel="Seleccione" />
							<f:selectItems
								value="#{gestionAuditoriaIntegralBean.lstCausalesNoCobroCuota}" />
					</h:selectOneMenu>					
				</td>
			</tr>

			<tr>
				<td>
				<rich:panel id="datosGestionAuditorCUMSPanel1" style="border: none;">
				<h:outputText id="labelCausas1" 
					rendered="#{!gestionAuditoriaIntegralBean.causaRequerida}"
					value="" style="font-weight: bold;" /> 
				<h:outputText id="labelCausas2"
					rendered="#{gestionAuditoriaIntegralBean.causaRequerida}"
					value="Causa*:" style="font-size=2;font-weight: bold;color:#7D6666" />
					</rich:panel>
				</td>
					
				<td colspan="4"><h:selectManyCheckbox layout="pageDirection" id="selectCheckCausas"
						style="font-size: 120%; font-family: Arial, Helvetica, sans-serif"
						value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.lstCausas}"
						required="#{gestionAuditoriaIntegralBean.causaRequerida}"
						requiredMessage="La Causa debe ser seleccionada para este Estado" >
						<f:selectItems
							value="#{gestionAuditoriaIntegralBean.listaCausasCUMS}" var="obj"
							itemValue="#{obj.value}" itemLabel="#{obj.label}" />
					</h:selectManyCheckbox></td>
				
			</tr>
			<tr>
				<td><h:outputText value="Justificación: " style="font-weight: bold;" /></td>
				<td colspan="6"><h:inputTextarea value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.justificacion}" cols="110" rows="4" /></td>

			</tr>
			<tr>
				<td>
				  <h:outputText rendered="#{!gestionAuditoriaIntegralBean.observacionOPSRequerida}" value="Observación OPS: " style="font-weight: bold;" /> 
				  <h:outputText rendered="#{gestionAuditoriaIntegralBean.observacionOPSRequerida}"  value="Observación OPS: " style="font-weight: bold;" />
				</td>
				<td colspan="6"><h:inputTextarea
					value="#{gestionAuditoriaIntegralBean.gestionAuditorDTO.observacion}"
					disabled="#{!gestionAuditoriaIntegralBean.observacionOPSRequerida}"
					cols="110" rows="4" >
					</h:inputTextarea>
					</td>
			</tr>
			<tr>
				<td colspan="3"><h:outputText value="*Recuerde: La observación será visible para el afiliado" />
				</td>
				<td>
				<a4j:region>
					<a4j:commandButton value="Ver Antecedentes" styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						action="#{gestionAuditoriaIntegralBean.verAntecedentes}"
						reRender="modalAntecedentes" />
					<a4j:commandButton value="Ver Gestiones" styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						action="#{gestionAuditoriaIntegralBean.verGestiones}"
						reRender="modalGestiones" />
					<a4j:commandButton value="Ver Concepto Gasto" styleClass="btnAccion"
						rendered="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp.tipoPrestacion == gestionAuditoriaIntegralBean.CUPS}"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:150px;"
						onclick="Richfaces.showModalPanel('modalConceptoGastos');" />
					</a4j:region>
				</td>
			</tr>		
		</table>
		
	</rich:panel>


</ui:composition>