<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel id="datosDireccionamientoCUMSPanel"
		header="Direccionamiento">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:83%;">
			
			<tr>
			<a4j:region>
				<td><h:outputText value="Identificación: "
					rendered="#{!gestionAuditoriaIntegralBean.identificacionDirRequerido}"
						style="font-weight: bold;" />
						<h:outputText
					rendered="#{gestionAuditoriaIntegralBean.identificacionDirRequerido}"
					value="Identificación*:" style="font-weight: bold;" />
						</td>
				<td colspan="4"><h:inputText style="width:30px;"
						readonly="true"
						value="#{gestionAuditoriaIntegralBean.direccionamientoDTOCUMS.codigoTipoIdentificacion}" />
					<h:outputText value=" " /> <h:inputText style="width:150px;"
						readonly="true"
						value="#{gestionAuditoriaIntegralBean.direccionamientoDTOCUMS.numeroIdentificacion}" /></td>
				<td><h:outputText value="Código Interno: " rendered="#{!gestionAuditoriaIntegralBean.codigoInternoRequerido}"
						style="font-weight: bold;" />
						<h:outputText
					rendered="#{gestionAuditoriaIntegralBean.codigoInternoRequerido}"
					value="Código Interno*:" style="font-weight: bold;" />
						</td>
				<td><h:inputText style="width:80px;" readonly="true"
						value="#{gestionAuditoriaIntegralBean.direccionamientoDTOCUMS.codigoInterno}" />
				</td>
				<td><h:outputText value="Sucursal: " 
				rendered="#{!gestionAuditoriaIntegralBean.sucursalRequerido}"
						style="font-weight: bold;" />
				<h:outputText
					rendered="#{gestionAuditoriaIntegralBean.sucursalRequerido}"
					value="Sucursal*:" style="font-weight: bold;" />
				</td>
				<td><h:inputText style="width:300px;" readonly="true"
						value="#{gestionAuditoriaIntegralBean.direccionamientoDTOCUMS.sucursal}" />
				</td>
				</a4j:region>
			</tr>
			
				
			<tr>
			
				
				<td><h:outputText rendered="#{!gestionAuditoriaIntegralBean.fechaEsperadosRequerido}"
						value="Fecha Esperados: "
						style="font-weight: bold;" />
					<h:outputText
					rendered="#{gestionAuditoriaIntegralBean.fechaEsperadosRequerido}"
					value="Fecha Esperados*:" style="font-weight: bold;" />
						</td>
				<td><h:inputText style="width:80px;" readonly="true"
						value="#{gestionAuditoriaIntegralBean.direccionamientoDTOCUMS.fechaEsperado}">
						<f:convertDateTime pattern="yyyy/MM/dd" />
					</h:inputText></td>
				<a4j:region>
				<td><a4j:commandButton value="Direccionamiento"
						styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:140px;"
						action="#{gestionAuditoriaIntegralBean.abrirPopupCambiarDireccionamiento}"
						reRender="modalCambiarDireccionamiento, modalPnlPop" /></td>
				<td><a4j:commandButton value="Fecha Entrega"
						styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:140px;"
						action="#{gestionAuditoriaIntegralBean.abrirPopupCambiarFechaDireccionamiento}"
						reRender="modalCambiarFecha" /></td>
				</a4j:region>
			
			</tr>
		</table>

	</rich:panel>

</ui:composition>