<a4j:form id="formPopupDocumentoSop"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalDocumentoSop" autosized="true" width="800"
		domElementAttachment="form"
		showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupDocumentosSoporteGestion}">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Cargar Documentos Soporte" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionAuditoriaIntegralBean.ocultarPopupDocumentosSoporteAuditor}"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
					onclick="Richfaces.hideModalPanel('modalDocumentoSop');" />
			</h:panelGroup>
		</f:facet>
		<h:panelGroup layout="block" styleClass="scrolls-data-modal-panel ">
			<rich:dataTable id="dataArchivos" rows="15"
				value="#{gestionAuditoriaIntegralBean.listaSoporteGestionVOs}" var="soporte"
				width="100%">
				<rich:column style="vertical-align: middle;">
					<f:facet name="header">
						<h:outputText value="Tipo Soportes" />
					</f:facet>
					<h:outputText value="#{soporte.descripcionDocumentoSoporte}" />
				</rich:column>
				<rich:column style="vertical-align: middle;">
					<a4j:commandButton styleClass="btnAccion" value="+"
						reRender="dataArchivos, :formPopupMessages" immediate="false"
						action="#{gestionAuditoriaIntegralBean.addicionarSoporteGestion}">
						<f:setPropertyActionListener value="#{soporte.documentoSoporteVO}"
							target="#{gestionAuditoriaIntegralBean.documentoSoporteSeleccionadoGestion}" />
					</a4j:commandButton>
				</rich:column>
				<rich:column style="vertical-align: middle;">
					<rich:fileUpload id="upload" noDuplicate="true"
						maxFilesQuantity="#{soporte.documentoSoporteVO.tempCantidadMaximaSoportes}"
						addControlLabel="Examinar" autoClear="true"
						listHeight="0px" listWidth="100px" immediateUpload="true"
						acceptedTypes="#{soporte.documentoSoporteVO.formatosPermitidos}"
						fileUploadListener="#{gestionAuditoriaIntegralBean.listenerUpload}"
						validatorMessage="Formato invalido">
						<a4j:support event="onupload">
							<f:setPropertyActionListener
								value="#{soporte.documentoSoporteVO}"
								target="#{gestionAuditoriaIntegralBean.documentoSoporteSeleccionadoGestion}" />
							<f:setPropertyActionListener value="#{soporte}"
								target="#{gestionAuditoriaIntegralBean.soporteSeleccionadoGestion}" />
						</a4j:support>
						<a4j:support event="onuploadcomplete" reRender="dataArchivos" />
					</rich:fileUpload>
				</rich:column>
				<rich:column style="vertical-align: middle;">
					<f:facet name="header">
						<h:outputText value="Formatos Perm." />
					</f:facet>
					<h:outputText value="#{soporte.documentoSoporteVO.formatosPermitidos}" />
				</rich:column>
				<rich:column style="vertical-align: middle;">
					<f:facet name="header">
						<h:outputText value="Archivo Cargado" />
					</f:facet>
					<h:outputText id="nombreSoporte" value="#{soporte.nombreSoporte}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="" />
					</f:facet>

					<a4j:commandLink ajaxSingle="true" value="Eliminar"
						action="#{gestionAuditoriaIntegralBean.preBorrarArchivoCargado}"
						reRender="modalAdvertenciaDocumentos, modalDeletePanel, modalPnlPop, modalDocumentoSop, modalFacesError">
						<f:setPropertyActionListener value="#{soporte}"
							target="#{gestionAuditoriaIntegralBean.soporteSeleccionadoGestion}" />
					</a4j:commandLink>
				</rich:column>
				<f:facet name="footer">
					<rich:datascroller for="dataArchivos" />
				</f:facet>
			</rich:dataTable>
		</h:panelGroup>

		<br />

		<center>
			<a4j:commandButton value="Aceptar"
				action="#{gestionAuditoriaIntegralBean.aceptarDocumentosSoporte}"
				reRender="modalPnlPop, modalAdvertenciaDocumentos, modalDocumentoSop, modalFacesError"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>

			<span />

			<a4j:commandButton value="Cancelar"
				action="#{gestionAuditoriaIntegralBean.ocultarPopupDocumentosSoporteAuditor}"
				onclick="Richfaces.hideModalPanel('modalDocumentoSop');"
				style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
		</center>

	</rich:modalPanel>
</a4j:form>