<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="/templates/inicioBpm.xhtml">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formGestionDomiciliaria">

			<rich:panel header="Gestión de Auditoria Integral de Riesgos">

				<rich:simpleTogglePanel switchType="client" label="AFILIADO - #{gestionAuditoriaIntegralBean.afiliadoVO.nombreCompleto} / #{gestionAuditoriaIntegralBean.afiliadoVO.tipoIdentificacionAfiliado.descripcionTipoIdentificacion} #{gestionAuditoriaIntegralBean.afiliadoVO.numeroIdentificacion} / #{gestionAuditoriaIntegralBean.afiliadoVO.descripcionEstadoAfiliado} - #{gestionAuditoriaIntegralBean.afiliadoVO.plan.descripcionPlan} / #{gestionAuditoriaIntegralBean.altoRiesgo}">
					<ui:include src="datosAfiliadoDomiciliariaPanel.xhtml" />
				</rich:simpleTogglePanel>

				<rich:simpleTogglePanel switchType="client" label="SOLICITUD - Fecha Solicitud: #{gestionAuditoriaIntegralBean.fechaSolicitud} - Nro Solicitud: #{gestionAuditoriaIntegralBean.solicitudVO.numeroSolicitudProovedor} - Prioridad: #{gestionAuditoriaIntegralBean.solicitudVO.prioridad}">
					<ui:include src="datosSolicitudDomiciliariaPanel.xhtml" />
				</rich:simpleTogglePanel>

				<ui:include src="datosPrestacionesDomiciliariaPanel.xhtml" />

				<h:panelGroup id="panelTab">
					<rich:tabPanel id="tabsDomiciliaria" switchType="ajax"
						rendered="#{gestionAuditoriaIntegralBean.verPestañaCums}">
						<rich:tab
							name="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp.tipoPrestacion}"
							label="#{gestionAuditoriaIntegralBean.prestacionesAprobadasDTOTemp.tipoPrestacion}">
							<ui:include src="datosCUMSDomiciliariaPrestacionPanel.xhtml" />
							<ui:include
								src="datosCUMSDomiciliariaDireccionamientoPanel.xhtml" />
							<ui:include src="datosCUMSGestionAuditorPanel.xhtml" />
							<ui:include src="datosNegacionPanel.xhtml" />
						</rich:tab>
					</rich:tabPanel>
				</h:panelGroup>
				<div align="center">
				<a4j:region>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td align="center"><h:outputText
									value="Requiere otra Gestión: " style="font-weight: bold;" />
								<h:selectOneMenu
									value="#{gestionAuditoriaIntegralBean.descGrupoAuditor}"
									style="width:300px;">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{gestionAuditoriaIntegralBean.lstGruposAuditores}" />
								</h:selectOneMenu></td>
								
							<td><a4j:commandButton value="Reasignar"
									onclick="Richfaces.showModalPanel('confirmationPopupReasignar');"
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
									styleClass="btnAccion" /></td>
							
						</tr>
					</table>
					</a4j:region>
					<a4j:region>
					<a4j:commandButton value="Historico Prestaciones"
						styleClass="btnAccion"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:120px;"
						action="#{gestionAuditoriaIntegralBean.verHistoricoPrestaciones}"
						reRender="modalHistoricos"/>
					</a4j:region>
					<a4j:commandButton value="Guardar"
						reRender="modalFacesError,confirmationPopupGuardar"
						action="#{gestionAuditoriaIntegralBean.verConfirmacionGuardar}"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
					<a4j:commandButton value="Enviar"
						onclick="Richfaces.showModalPanel('confirmationPopupTerminar');"
						reRender="modalFacesError"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
					<a4j:commandButton value="Liberar"
						onclick="Richfaces.showModalPanel('confirmationPopLiberar');"
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100px;"
						styleClass="btnAccion" />
				</div>
			</rich:panel>

			<rich:modalPanel id="confirmationPopEliminar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopEliminar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea eliminar el diagnóstico seleccionado?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionAuditoriaIntegralBean.elimiarDiagnosticoSeleccionado}"
								reRender="tableDiagnosticos"
								oncomplete="Richfaces.hideModalPanel('confirmationPopEliminar');" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopEliminar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopLiberar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopLiberar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea liberar la tarea?"
								style="font-weight: bold;" /></td>

					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionAuditoriaIntegralBean.liberarTarea}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopLiberar');"
								 /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopLiberar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupTerminar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea enviar la tarea?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionAuditoriaIntegralBean.terminarTarea}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupTerminar');"
								 /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupTerminar');" /></td>
						
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupGuardar" autosized="true"
				showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarConfirmacionGuardar}" width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupGuardar');"
							reRender="confirmationPopupGuardar"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" >
							<f:setPropertyActionListener
						       target="#{gestionAuditoriaIntegralBean.mostrarConfirmacionGuardar}"
						       value="#{false}" />
						 </a4j:commandButton>
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea guardar los cambios?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionAuditoriaIntegralBean.guardar}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupGuardar');"
								reRender="formGestionDomiciliaria:panelTab, formGestionDomiciliaria:tablePrestacionesAprobadas, modalPnlPop" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								reRender="confirmationPopupGuardar"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupGuardar');" >
								<f:setPropertyActionListener
							       target="#{gestionAuditoriaIntegralBean.mostrarConfirmacionGuardar}"
							       value="#{false}" />
								</a4j:commandButton>
						</td>
					</tr>
				</table>
			</rich:modalPanel>

			<rich:modalPanel id="confirmationPopupReasignar" autosized="true"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">
					
					<tr>
						<td style="text-align:center" colspan="2"><h:outputText
								value="¿Esta seguro que desea reasignar la tarea?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
					<a4j:region>
						<td style="text-align:center"><a4j:commandButton value="Si"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{gestionAuditoriaIntegralBean.abrirPopupReasignarSolicitud}"
								onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');"
								reRender="modalPnlPop, modalReasignarPrestacion" /></td>
						<td style="text-align:center"><a4j:commandButton value="No"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								onclick="Richfaces.hideModalPanel('confirmationPopupReasignar');" /></td>
					</a4j:region>
					</tr>
				</table>
				
				<a4j:region>
					<rich:modalPanel id="modalDeletePanel" autosized="true" width="350"
						showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupConfirmacionBorrarArchivoGestion}">
						<div class="box-cont-ppal-home" align="center">
							<f:facet name="header">
								<h2 class="titAlert">Borrar Archivo</h2>
							</f:facet>
							<h:panelGrid columns="0" width="100%" style="align: center;"
								styleClass="box-mrgBottom" border="0">
								<h:panelGroup>
									<div align="center">
										<h:outputText value="Está seguro de borrar el archivo?"
											styleClass="txt-alerta" />
									</div>
									<br />
								</h:panelGroup>
							</h:panelGrid>
							<div align="center">
								<a4j:commandButton value="Aceptar" styleClass="btnAccion"
									action="#{gestionAuditoriaIntegralBean.borrarArchivoCargadoGestion}"
									reRender="dataArchivos, upload, nombreSoporte, modalPnlPop, modalFacesError"
									oncomplete="Richfaces.hideModalPanel('modalDeletePanel');" />
								<a4j:commandButton value="Cancelar" styleClass="btnAccion"
									action="#{gestionAuditoriaIntegralBean.cancelarBorrarArchivoCargado}"
									reRender="modalDeletePanel"
									onclick="Richfaces.hideModalPanel('modalDeletePanel');" />
							</div>
						</div>
					</rich:modalPanel>
				</a4j:region>	
				
				<a4j:region>
				<rich:modalPanel id="modalAdvertenciaDocumentos" autosized="true"
					width="350"
					showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupConfirmacionDocumentosGestion}">
					<div class="box-cont-ppal-home" align="center">
						<f:facet name="header">
							<h2 class="titAlert">Mensaje</h2>
						</f:facet>
						<h:panelGrid columns="0" width="100%" style="align: center;"
							styleClass="box-mrgBottom" border="0">
							<h:panelGroup>
								<div align="center">
									<h:outputText
										value="Aún no se han cargado todos los documentos soporte. ¿Está seguro de no querer continuar con la carga de documentos?."
										styleClass="txt-alerta" />
								</div>
								<br />
							</h:panelGroup>
						</h:panelGrid>
						<div align="center">
							<a4j:commandButton value="Aceptar" styleClass="btnAccion"
								action="#{gestionAuditoriaIntegralBean.aceptarDocumentosFaltantesGestion}"
								reRender="modalDocumentoSop, modalPnlPop, modalFacesError"
								oncomplete="Richfaces.hideModalPanel('modalAdvertenciaDocumentos');" />
							<a4j:commandButton value="Cancelar" styleClass="btnAccion"
								action="#{gestionAuditoriaIntegralBean.cancelarDocumentosFaltantes}"
								onclick="Richfaces.hideModalPanel('modalAdvertenciaDocumentos');" />
						</div>
					</div>
				</rich:modalPanel>
			</a4j:region>
				
			</rich:modalPanel>

		</h:form>
		<ui:include src="historicosPrestacionPopup.xhtml" />
		<ui:include src="gestionesPrestacionPopup.xhtml" />
		<ui:include src="antecedentesPrestacionPopup.xhtml" />

		<ui:include src="datosAdicionarPrestacionPopup.xhtml" />

		<ui:include src="cambiarFechaEsperadosPopup.xhtml" />
		<ui:include src="cambiarDireccionamientoPopup.xhtml" />
		<ui:include src="conceptoGastosPopup.xhtml" />
		<ui:include src="detalleAfiliadoPopup.xhtml" />
		<ui:include src="hospitalizacionPopup.xhtml" />
		<ui:include src="detalleSolicitudPopup.xhtml" />
		<ui:include src="diagnosticoPopup.xhtml" />
		<ui:include src="prestacionMedicamentosPopup.xhtml" />
		<ui:include src="prestacionCUPSPopup.xhtml" />
		<ui:include src="documentosSoportePopup.xhtml" />
		<ui:include src="detConveniosCapacitPopup.xhtml" />
		<ui:include src="documentoSoportePopup.xhtml" />
		<ui:include src="reasignarPrestacionPopup.xhtml" />
		<ui:include src="ciudadesPopup.xhtml" />
	</ui:define>
</ui:composition>
</html>