<h:form xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:modalPanel id="modalReasignarPrestacion" autosized="true"
		showWhenRendered="#{gestionAuditoriaIntegralBean.mostrarPopupReliquidar}"
		domElementAttachment="form" width="500">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Reasignar Prestación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					action="#{gestionAuditoriaIntegralBean.cerrarPopupReasignarSolicitud}"
					onclick="Richfaces.hideModalPanel('modalReasignarPrestacion');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<a4j:region>
			<rich:panel id="panelFechaEntrega" styleClass="sosPanel">
				<fieldset>
					<legend>Reasignar Prestación</legend>

					<rich:spacer width="1" height="10" />
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Prestación a Reasignar:" styleClass="sosCampo" /></td>
							<td><h:selectOneMenu style="width:510px;"
									value="#{gestionAuditoriaIntegralBean.prestacionesReasignar}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{gestionAuditoriaIntegralBean.lstPrestacionesReasignar}" />
								</h:selectOneMenu></td>
						</tr>
						<rich:spacer width="1" height="10" />
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Observaciones: " styleClass="sosCampo" /></td>
							<td rowspan="4" colspan="7"><h:inputTextarea
									value="#{gestionAuditoriaIntegralBean.observacionesReasignar}"
									cols="70" /></td>
						</tr>

					</table>
				</fieldset>				
			</rich:panel>
			<center>
				<a4j:commandButton value="Guardar"
					onclick="Richfaces.showModalPanel('confirmationPopupReliquidar');"
					reRender="modalReasignarPrestacion, modalPnlPop"
					styleClass="sosbotonguardar" />
					

				<span />
				<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
					action="#{gestionAuditoriaIntegralBean.cerrarPopupReasignarSolicitud}"
					onclick="Richfaces.hideModalPanel('modalReasignarPrestacion');" />

			</center>		
		</a4j:region>
	</rich:modalPanel>
	<rich:modalPanel id="confirmationPopupReliquidar" autosized="true"
		width="250">
		<f:facet name="header">
			<h:panelGroup>
				<h:outputText value="Confirmación" />
			</h:panelGroup>
		</f:facet>
		<f:facet name="controls">
			<h:panelGroup>
				<a4j:commandButton value="X"
					onclick="Richfaces.hideModalPanel('confirmationPopupReliquidar');"
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
			</h:panelGroup>
		</f:facet>
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width:100%;">

			<tr>
				<td style="text-align:center" colspan="2"><h:outputText
						value="¿Está seguro que desea reasignar la solicitud?"
						style="font-weight: bold;" /></td>
			</tr>
			<tr>
				<td style="text-align:center"><a4j:commandButton value="Si"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						action="#{gestionAuditoriaIntegralBean.guardarProcesoReasignacionPrestacion}"
						onclick="Richfaces.hideModalPanel('confirmationPopupReliquidar');"
						reRender="modalReasignarPrestacion, modalPnlPop"
						/></td>
				<td style="text-align:center"><a4j:commandButton value="No"
						style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
						onclick="Richfaces.hideModalPanel('confirmationPopupReliquidar');" /></td>

			</tr>
		</table>
	</rich:modalPanel>		
</h:form>
