<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />
	<ui:param name="lblTooltipDevuelta" value="#{label.lblTooltipDevuelta}" />
	<ui:param name="lblTooltipAuditoria"
		value="#{label.lblTooltipAuditoria}" />
	<ui:param name="valorDevuelta" value="#{label.valorDevuelta}" />
	<ui:param name="valorAuditoria" value="#{label.valorAuditoria}" />
	<ui:param name="valorAprobada" value="#{label.valorAprobada}" />
	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>
	<!-- definicion de archivos javascript adicionales. -->
	<ui:define name="js">
		<script type="text/javascript"
			src="${request.contextPath}/resources/js/jquery-3.1.1.min.js"></script>
		<script>
			$.noConflict();
		</script>
	</ui:define>
	<ui:define name="content">
		<h:form id="formDireccionamiento">
			<rich:panel id="panelSolicitudDireccionamiento"
				header="Solicitud N. Radicado: #{consultarSolicitudBean.solicitudSeleccionada.numeroRadicado}">
				<rich:panel header="Información Afiliado">
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="Identificación: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.numeroIdentificacion}"
									disabled="true" /></td>
							<td><h:outputText value="Nombre: "
									style="font-weight: bold; text-align:left;" /></td>
							<td colspan="6"><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.nombreCompleto}"
									disabled="true" style="width:425px;" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Plan: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.descripcionPlan}"
									disabled="true" /></td>
							<td><h:outputText value="Edad: "
									style="font-weight: bold; text-align:left;" /></td>
							<td>
								<table
									style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
									<tr>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadAnos}"
												disabled="true" /></td>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadMeses}"
												disabled="true" /></td>
										<td><h:inputText style="width:25px;"
												value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.edadDias}"
												disabled="true" /></td>
									</tr>
									<tr>
										<td>Años</td>
										<td>Meses</td>
										<td>Días</td>
									</tr>
								</table>
							</td>
							<td><h:outputText value="Email: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.email}"
									disabled="true" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Presolicitud: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText
									value="#{consultarSolicitudBean.detalleSolicitudVO.afiliadoVO.consecutivoPresolicitud}"
									disabled="true" /></td>
						</tr>
					</table>
				</rich:panel>
				<rich:panel header="Información Prestador Solicitante">
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>

							<td><h:outputText value="Identificación: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText style="width:400px;"
									value="#{consultarSolicitudBean.detalleSolicitudVO.prestadorSolicitante.numeroIdentificacionPrestador}"
									disabled="true" /></td>
							<td><h:outputText value="Código Interno: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText style="width:200px;"
									value="#{consultarSolicitudBean.detalleSolicitudVO.prestadorSolicitante.codigoInterno}"
									disabled="true" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Sucursal: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText style="width:400px;"
									value="#{consultarSolicitudBean.detalleSolicitudVO.prestadorSolicitante.nombreSucursal}"
									disabled="true" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Razón Social:  "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText style="width:400px;"
									value="#{consultarSolicitudBean.detalleSolicitudVO.prestadorSolicitante.razonSocial}"
									disabled="true" /></td>
						</tr>
						<tr>
							<td><h:outputText value="Ciudad: "
									style="font-weight: bold; text-align:left;" /></td>
							<td><h:inputText style="width:400px;"
									value="#{consultarSolicitudBean.detalleSolicitudVO.prestadorSolicitante.ciudadVO.descripcionCiudad}"
									disabled="true" /></td>
						</tr>
					</table>
				</rich:panel>
				<rich:panel header="Prestaciones">
					<rich:dataTable id="tablePrestaciones" rows="15"
						style="margin:auto;"
						value="#{consultarSolicitudBean.listaPrestacionDTO}"
						var="prestacion">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="" />
							</f:facet>
							<a4j:commandLink rendered="#{prestacion.cambiarDireccionamiento}"
									action="#{consultarSolicitudBean.abrirPopupCambiarDireccionamientoPrestacion}"
									reRender="formDireccionamiento, panelSolicitudDireccionamiento, panelDireccionamientoPrestaciones, modalPnlPop">
									<h:outputText value="Direccionar" />
									<f:setPropertyActionListener value="#{prestacion}"
										target="#{consultarSolicitudBean.prestacionSeleccionada}" />
							</a4j:commandLink>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo" />
							</f:facet>
							<h:outputText
								value="#{prestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código" />
							</f:facet>
							<h:outputText value="#{prestacion.codigoCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Descripción" />
							</f:facet>
							<h:outputText
								value="#{prestacion.descripcionCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Cant." />
							</f:facet>
							<h:outputText value="#{prestacion.cantidad}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Pos" />
							</f:facet>
							<h:outputText value="#{prestacion.indicadorNoPOS}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Lateralidad" />
							</f:facet>
							<h:outputText
								value="#{prestacion.lateralidadesVO.descripcionLateralidad}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Vía Acceso" />
							</f:facet>
							<h:outputText
								value="#{prestacion.viaAccesoVO.descripcionViaAcceso}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Posología" />
							</f:facet>
							<h:outputText value="#{prestacion.dosisVO.descripcionDosis}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Concentración" />
							</f:facet>
							<h:outputText
								value="#{prestacion.concentracionVO.descripcionConcentracion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Presentación" />
							</f:facet>
							<h:outputText
								value="#{prestacion.presentacionVO.descripcionPresentacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="F. Entrega" />
							</f:facet>
							<h:outputText value="#{prestacion.fechaEstimadaEntrega}">
								<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Recobro" />
							</f:facet>
							<h:outputText value="#{prestacion.descripcionRecobro}">
								<f:convertDateTime type="date" pattern="yyyy/MM/dd" />
							</h:outputText>
						</rich:column>
						<f:facet name="footer">
							<rich:datascroller for="tablePrestaciones" />
						</f:facet>
					</rich:dataTable>
				</rich:panel>
				<rich:panel header="Información Adicional Prestaciones">
					<rich:dataTable id="tableDatosAdicionalesPrestaciones" rows="15"
						style="margin:auto;"
						value="#{consultarSolicitudBean.listaInformacionAdicionalPrestacionDTO}"
						var="adicionalPrestacion">
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Tipo" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.tipoCodificacionVO.descripcionTipoCodificacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.codigoCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Descripción" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.descripcionCodificacionPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Estado Servicio" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.descripcionEstadoPrestacion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Radicador" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.nombreUsuarioAutoriza}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Auditor" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.nombreUsuarioAudita}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Bandeja" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.requiereOtraGestionAuditor}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Código Interno" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.codigoInternoDireccionamiento}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Nombre Prestador" />
							</f:facet>
							<h:outputText
								value="#{adicionalPrestacion.prestadorDireccionamiento}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Nivel Atención" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.nivelAtencion}" />
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Justificación Auditor" />
							</f:facet>
							<h:outputText value="#{adicionalPrestacion.justificacionAuditor}" />
						</rich:column>
					</rich:dataTable>
				</rich:panel>
			</rich:panel>
			<rich:panel id="panelDireccionamientoPrestaciones"
				rendered="#{consultarSolicitudBean.cambiarDireccionamientoSinOPS}"
				header="Modificar direccionamiento de prestación">
				<a4j:region>
					<rich:panel styleClass="sosPanel" header="Prestador Actual">
						<table
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
							<tr>
								<td><h:outputText value="Identificación: "
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:280px;" disabled="true"
										value="#{consultarSolicitudBean.prestadorOPS.tiposIdentificacionPrestadorVO.codigoTipoIdentificacion}  #{consultarSolicitudBean.prestadorOPS.numeroIdentificacionPrestador}">
									</h:inputText></td>
								<td><h:outputText value="Código Interno: "
										styleClass="sosCampo" /></td>
								<td><h:inputText style="width:280px;" disabled="true"
										value="#{consultarSolicitudBean.prestadorOPS.codigoInterno}">
									</h:inputText></td>
							</tr>
							<tr>
								<td><h:outputText value="Sucursal: " styleClass="sosCampo" /></td>
								<td colspan="3"><h:inputText style="width:652px;"
										disabled="true"
										value="#{consultarSolicitudBean.prestadorOPS.nombreSucursal}">
									</h:inputText></td>
							</tr>
							<tr>
								<td><h:outputText value="Razón Social: "
										styleClass="sosCampo" /></td>
								<td colspan="3"><h:inputText style="width:652px;"
										disabled="true"
										value="#{consultarSolicitudBean.prestadorOPS.razonSocial}">
									</h:inputText></td>
							</tr>
							<tr>
								<td><h:outputText value="Ciudad: " styleClass="sosCampo" /></td>
								<td colspan="3"><h:inputText style="width:652px;"
										disabled="true"
										value="#{consultarSolicitudBean.prestadorOPS.ciudadVO.descripcionCiudad}">
									</h:inputText></td>
							</tr>
						</table>
					</rich:panel>
					<rich:panel styleClass="sosPanel" header="Prestador a Direccionar">
						<table>
							<tr>
								<td><h:selectBooleanCheckbox
										value="#{consultarSolicitudBean.activarFiltroCiudad}">
										<h:outputText value="Ciudad: " styleClass="sosCampo" />
										<a4j:support
											reRender="txtCodigoCiudad, txtDescripcionCiudad, btnBuscarCiudad, btnRecalcular"
											event="onchange"
											action="#{consultarSolicitudBean.limpiarCiudad}" />
									</h:selectBooleanCheckbox></td>
								<td><h:inputText style="width:80px;" id="txtCodigoCiudad"
										disabled="#{!consultarSolicitudBean.activarFiltroCiudad}"
										value="#{consultarSolicitudBean.ciudad.codigoCiudad}" /> <span />
									<h:inputText style="width:350px;" id="txtDescripcionCiudad"
										disabled="#{!consultarSolicitudBean.activarFiltroCiudad}"
										value="#{consultarSolicitudBean.ciudad.descripcionCiudad}" />
									<span /> <a4j:commandButton id="btnBuscarCiudad"
										value="Buscar"
										disabled="#{!consultarSolicitudBean.activarFiltroCiudad}"
										action="#{consultarSolicitudBean.buscarCiudad}"
										image="${request.contextPath}/css/images/ico/icon-search.png"
										styleClass="sosbotonsearch2"
										process="txtCodigoCiudad, txtDescripcionCiudad"
										reRender="formDireccionamiento, panelSolicitudDireccionamiento, modalFacesError, ciudadesPopup, modalPnlPop" />
									<span /> <a4j:commandButton id="btnRecalcular"
										value="Recalcular"
										disabled="#{!consultarSolicitudBean.activarFiltroCiudad}"
										action="#{consultarSolicitudBean.recalcularDireccionamientos}"
										process="txtCodigoCiudad, txtDescripcionCiudad"
										reRender="formDireccionamiento, panelSolicitudDireccionamiento, modalFacesError, modalPnlPop" />
								</td>
							</tr>
						</table>
						<h:panelGroup layout="block"
							styleClass="scrolls-data-modal-panel ">
							<rich:dataTable id="lstprestadores" rows="15"
								value="#{consultarSolicitudBean.lstPrestadoresDireccionamiento}"
								var="obj" width="98%">
								<rich:column>
									<f:facet name="header">
										<h:outputText value="Seleccione" />
									</f:facet>
									<h:selectOneRadio id="myRadio"
										value="#{obj.nuevoCodigoInterno}">
										<f:selectItem itemValue="1" />
										<a4j:support event="onclick"
											reRender="formDireccionamiento, panelSolicitudDireccionamiento, modalFacesError, modalPnlPop"
											action="#{consultarSolicitudBean.seleccionarPrestadorDir}">
											<f:setPropertyActionListener value="#{obj.codigoInterno}"
												target="#{consultarSolicitudBean.codInternoPrestadorNuevo}" />
										</a4j:support>
									</h:selectOneRadio>
								</rich:column>
								<rich:column>
									<f:facet name="header">
										<h:outputText value="Cód. Interno" />
									</f:facet>
									<h:outputText value="#{obj.codigoInterno}" />
								</rich:column>
								<rich:column>
									<f:facet name="header">
										<h:outputText value="Identificación" />
									</f:facet>
									<h:outputText
										value="#{obj.tiposIdentificacionPrestadorVO.codigoTipoIdentificacion} #{obj.numeroIdentificacionPrestador}" />
								</rich:column>
								<rich:column>
									<f:facet name="header">
										<h:outputText value="Sucursal" />
									</f:facet>
									<h:outputText value="#{obj.nombreSucursal}" />
								</rich:column>
								<rich:column>
									<f:facet name="header">
										<h:outputText value="Razón Social" />
									</f:facet>
									<h:outputText value="#{obj.razonSocial}" />
								</rich:column>
								<f:facet name="footer">
									<rich:datascroller for="lstprestadores" />
								</f:facet>
							</rich:dataTable>
						</h:panelGroup>
					</rich:panel>
					<table
						style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Causal Modificación:" styleClass="sosCampo" /></td>
							<td><h:selectOneMenu style="width:510px;"
									value="#{consultarSolicitudBean.causalDireccionamientoOPS}">
									<f:selectItem itemValue="" itemLabel="Seleccione" />
									<f:selectItems
										value="#{consultarSolicitudBean.lstMotivosCausasDireccionamientoOPS}" />
								</h:selectOneMenu></td>
						</tr>
						<tr>
							<td><h:outputText value="*"
									styleClass="sosCampo-primeraLetra" /> <h:outputText
									value="Observaciones: " styleClass="sosCampo" /></td>
							<td rowspan="4" colspan="7"><h:inputTextarea
									value="#{consultarSolicitudBean.obsDireccionamientoOPS}"
									cols="70" /></td>
						</tr>
					</table>
					<center>
						<a4j:commandButton value="Guardar"
							action="#{consultarSolicitudBean.mostrarConfirmarCambioDireccionamientoConcepto}"
							reRender="formDireccionamiento, panelSolicitudDireccionamiento, modalFacesError, modalPnlPop, confirmationPopupModOPS"
							styleClass="sosbotonguardar" />
						<span />
						<a4j:commandButton value="Cancelar" styleClass="sosbotonanular"
							action="#{consultarSolicitudBean.cerrarPopupCambiarDirSinOPS}"
							reRender="formDireccionamiento, panelSolicitudDireccionamiento, panelDireccionamientoPrestaciones, modalPnlPop" />

					</center>
				</a4j:region>
			</rich:panel>
			<rich:modalPanel id="confirmationPopupConfDir" autosized="true"
				showWhenRendered="#{consultarSolicitudBean.mostrarConfirmarCambiarDireccionamientoConcepto}"
				width="250">
				<f:facet name="header">
					<h:panelGroup>
						<h:outputText value="Confirmación" />
					</h:panelGroup>
				</f:facet>
				<f:facet name="controls">
					<h:panelGroup>
						<a4j:commandButton value="X"
							action="#{consultarSolicitudBean.ocultarConfirmarCambioDireccionamientoConcepto}"
							onclick="Richfaces.hideModalPanel('confirmationPopupConfDir');"
							style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;" />
					</h:panelGroup>
				</f:facet>
				<table
					style="font-size: 90%; font-family: Arial, Helvetica, sans-serif; width: 100%;">
					<tr>
						<td style="text-align: center" colspan="2"><h:outputText
								value="¿Esta seguro que desea guardar los cambios?"
								style="font-weight: bold;" /></td>
					</tr>
					<tr>
						<td style="text-align: center"><a4j:commandButton value="Si"
								id="siSinOps"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								action="#{consultarSolicitudBean.guardarCambioDireccionamientoPrestacionesSinOps}"
								oncomplete="Richfaces.hideModalPanel('confirmationPopupModOPS');"
								reRender="formDireccionamiento, panelSolicitudDireccionamiento, panelDireccionamientoPrestaciones, modalPnlPop" />
						</td>
						<td style="text-align: center"><a4j:commandButton value="No"
								action="#{consultarSolicitudBean.ocultarConfirmarCambioDireccionamientoConcepto}"
								style="width: 100px; font-size: 90%; font-family: Arial, Helvetica, sans-serif;"
								reRender="panelSolicitudDireccionamiento, modalPnlPop, confirmationPopupModOPS" /></td>
					</tr>
				</table>
			</rich:modalPanel>
		</h:form>
		<ui:include src="ciudadesPopup.xhtml" />
	</ui:define>
</ui:composition>
