<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<rich:panel id="panelComprobantes" header="Generar Comprobantes">
		<h:panelGrid columns="1" id="grdGenerarComprobante"
			style="font-size: 10px; font-family: Arial, Helvetica, sans-serif; width:100%; text-align: center;">
			<h:panelGroup>
				<h:commandLink id="linkGenraComprbtnCaja"
					disabled="#{generarReciboBean.desabilitarDescargaReciboCaja}"
					action="#{generarReciboBean.generarComprobanteReciboCaja}"
					value="Generar Comprobante PDF" styleClass="aceptar"
					oncomplete="Richfaces.showModalPanel('modalReciboCaja');">
				</h:commandLink>
				<h:commandLink style="padding-left:20px;"
					id="linkGeneraComprobanteNotaCred"
					disabled="#{generarReciboBean.desabilitarNotaCredito}"
					action="#{generarNotaCreditoBean.generarComprobanteNotaCredito}"
					value="Generar Nota Credito PDF" styleClass="aceptar"
					rerender="modalReciboCaja"
					onclick="Richfaces.hideModalPanel('modalReciboCaja');">
				</h:commandLink>
				<h:commandLink style="padding-left:20px;" id="linkGenerarOPS"
					disabled="#{generarReciboBean.desabilitarDescargaReciboCaja}"
					action="#{generarReciboBean.generarComprobantes}" value="Descargar OPS"
					styleClass="aceptar">
					<f:setPropertyActionListener
						target="#{generarReciboBean.mostrarModalReciboCaja}"
						value="#{false}" />
				</h:commandLink>
			</h:panelGroup>
		</h:panelGrid>
	</rich:panel>
</ui:composition>