<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup>
		<rich:panel
			style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"
			header="Seleccione las OPS a cancelar">
			<rich:dataTable width="98%" id="dataTableNotas" styleClass="sosPanel"
				value="#{generarReciboBean.listaNotasCredito}" var="notasCredito"
				rows="15">
				<rich:column>
					<f:facet name="header">
						<h:outputLabel style="color:white" value="Seleccione" />
					</f:facet>
					<h:selectBooleanCheckbox disabled="true"
						value="#{notasCredito.selected}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText style="color:white" value="Numero nota credito" />
					</f:facet>
					<h:outputText value="#{notasCredito.numNotaCredito}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText style="color:white" value="Fecha de generacion" />
					</f:facet>
					<h:outputText value="#{notasCredito.fechaGeneracion}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText style="color:white" value="Identificacion afiliado" />
					</f:facet>
					<h:outputText value="#{notasCredito.identificacionAfiliado}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">
						<h:outputText style="color:white" value="Nombres afiliado" />
					</f:facet>
					<h:outputText value="#{notasCredito.nombreAfiliado}" />
				</rich:column>

				<rich:column>
					<f:facet name="header">
						<h:outputText style="color:white" value="Valor" />
					</f:facet>
					<h:outputText value="#{notasCredito.valorAfiliad}">
						<f:convertNumber type="currency" currencySymbol="$"
							maxFractionDigits="0" />
					</h:outputText>
				</rich:column>

				<f:facet name="footer">
					<rich:datascroller for="dataTableNotas" />
				</f:facet>
			</rich:dataTable>
			<div style="float:right;">
				<h:panelGrid columns="2">
					<h:outputText value="Total a cruzar:" />
					<h:outputText id="otSumNotaCreditoTabTtl"
						value="#{generarReciboBean.recibo.sumatoriaNotasCredito}">
						<f:convertNumber type="currency" currencySymbol="$"
							maxFractionDigits="0" />
					</h:outputText>
				</h:panelGrid>
				
			</div>
			<br/>
		</rich:panel>

		<center>
			<a4j:commandButton value="Regresar" reRender="generarReciboPanel"
				action="#{generarReciboBean.cerrarTab}" ajaxSingle="true"
				style="width: 100px; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
			</a4j:commandButton>
		</center>
	</h:panelGroup>
</ui:composition>