
/*
 Estilo SOS apartir de  2014-11-07
 ------ Campos de texto ------> */
 

/* Estilos del Header */
.header {
	height: 90px;
	background: #00418c url(images/logo_header_1.jpg) no-repeat;

	width: 100%;
}


/* CSS Document  Estilos Generales */
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: #fff;
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}

.header h1 {
	font-size: 180%;
	color: #fff;
	padding: 20px 0 0 250px;
	line-height: 20px;
	font-weight: bold;
}

.header h2 {
	font-size: 110%;
	color: #fff;
	padding: 0 0 0 270px;
	line-height: 10px;
	font-weight: bold;
}


/* Estilos Generales Etiquetas Basicas */
.sostitulos {
	font-weight: bold;
	color: #00418c;
	margin: 10px 0 0 0;
	font-weight: bold;
    color: #00AECB;
    font-family: 'Conv_DINOffc',Sans-Serif;
    font-size: 18px;
    height: 24px;
    padding: 5px 0 0 10px;
    width: auto;

}

.sostitulosModulos{
	font-size: 110%;
	font-weight: bold;
	color: #00418c;
	margin: 10px 0 0 0;
	padding: 0;
	text-align: center; 
	font-size: 20px;
}

.sossubtitulosModulos{
	font-size: 100%;
	font-weight: bold;
	color: #00418c;
	margin: 10px 0 0 0;
	padding: 0;
}
 
label {
	color: #00418c;
	font-weight: bold;
	margin: 0 5px 0 15px;
}

/* panel richfaces */
.rich-panel-header {
	color: #fff;
	background: #02418e  repeat scroll 0 0;
	text-align: left;
	}
	



/* columnas tabla richfaces */ 
.rich-table-subheadercell {
	background-color: #02418e;
	color: #FFF;
	font-size: 11px;
	background-image: none;
}


/*consulta boton */
.sosbotonconsultar {
	font-size: 100%;
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 5px 1px 30px;
	background: url(images/ico/icon-search.png) no-repeat 0%;
	background-color: #fff;
}

.sosbotonsearch {
	cursor: pointer;
	border-width: 1px;
	border-color: #a9a9a9;
	border-style: solid;
	background: url(images/ico/icon-search.png) no-repeat 0%;
	background-image: -moz-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.sosbotonsearch:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
}

.sosbotonsearch:active {
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
}

.sosbotonsearch2 {
	cursor: pointer;
	border-width: 1px;
	border-color: #a9a9a9;
	border-style: solid;
	background-image: -moz-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(255,255,255) 100%);
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.sosbotonsearch2:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(204,204,204) 100%);
}

.sosbotonsearch2:active {
	background-image: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
}

.sosbotonconsultar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 5px 1px 30px;
	background: url(images/ico/icon-search.png) no-repeat 0%;
	background-color: #fff;
}

.sosbotonguardar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/guardar.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonmodificar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/modificar.png) no-repeat 5% 50%;
	background-color: #fff;
}


.sosbotoneliminar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/eliminar.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonnuevo {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/nuevo.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonagregar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/nuevo.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonlimpiar {
	font-size: 100%;
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/limpiarNew.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonanular {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/anular.gif) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotonregresar {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/regresar.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotondescargarpdf {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/pdf_boton.png) no-repeat 5% 50%;
	background-color: #fff;
}

.sosbotondescargarxls {
	border: 1px solid #00418c;
	color: #000;
	margin: 5px;
	padding: 1px 1px 1px 20px;
	background: url(images/ico/exportarExcel.png) no-repeat 5% 50%;
	background-color: #fff;
}


.sosboton {
	background-color: #00418d; /*#02418e;*/
	/*border: none;*/
	border-width: 1px;
  	border-color: #777;
  	border-style: solid;
  	border-radius: 6px;
	/*margin-top: 30px;*/
	padding-bottom: 3px;
	/*padding-left: 4px;*/
	color: #FFFFFF; /*#fff;*/
	/*height: 30px;*/ /*20px;*/
	/*padding-right: 4px;*/
	cursor: pointer;
	font-weight: bold; /*bolder;*/
	font-size: 14px;
  	font-family: "Arial";
	/*border-right: solid;*/
	inline-box-align:initial;
  	text-align: center;
  	line-height: 2;
}

.sosboton:hover {
	color: #cbe0ea;
}

input[type="button"]:disabled {
    color: graytext;
    background-color: rgb(221, 221, 221);
    border-color: rgb(221, 221, 221);
}

.sosCampo-primeraLetra{
	font-size: 14px;
  	font-family: "Arial";
  	color: #ff0000;
  	line-height: 1.2;
}

.sosCampo{
	font-size: 11px;
  	font-family: "Arial";
  	font-weight: bold;
  	color: #555;
  	line-height: 1.2;
}

.sosVinculoMenu{
	font-size: 14px;
  	font-family: "Arial";
  	font-weight: bold;
  	color: #555;
  	line-height: 1.2;
}

.sosSelect{
	border: 1px solid #ccc;
	width: 200px;
	height: 21px;
	/*margin: 50px auto 10px;*/
	overflow: hidden;
	background: #fff  url(images/ico/arrowdown-combo.png);
	background-position: 96% center;
	background-repeat: no-repeat ;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

.sosSelectCorto{
	border: 1px solid #ccc;
	width: 95px;
	height: 21px;
	/*margin: 50px auto 10px;*/
	overflow: hidden;
	background: #fff  url(images/ico/arrowdown-combo.png);
	background-position: 96% center;
	background-repeat: no-repeat ;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

.sosSelectLargo{
	border: 1px solid #ccc;
	width: 390px;
	height: 21px;
	/*margin: 50px auto 10px;*/
	overflow: hidden;
	background: #fff  url(images/ico/arrowdown-combo.png);
	background-position: 96% center;
	background-repeat: no-repeat ;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}

.sosTituloSeccion {
	font-family: Arial, "Arial Narrow", "Arial Black";
	font-weight: bold;
	font-size: 14px;
	color: #00418c;
}

.sosPanel{
	border-color: #FFF;
}

fieldset {
  border: 2px solid #00418c;
  border-radius: 6px;
}

legend {
  color: #00418c;
  padding: 0 4px;
  font-size: 14px;
  text-align: left;
  font-family: "Arial";
  font-weight:bold;
}

.column_top
{
	vertical-align: top;
}

.sosSelectPrestaciones{
	border: 1px solid #ccc;
	width: 600px;
	height: 21px;
	/*margin: 50px auto 10px;*/
	overflow: hidden;
	background: #fff  url(images/ico/arrowdown-combo.png);
	background-position: 96% center;
	background-repeat: no-repeat ;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
}