.rich-messages-marker img {padding-right:7px;}
.rich-message-label {color:red;}
.top {vertical-align:top;}

.dr-table  {
	background:#eaeef7;
	border:1px solid gray;
	border-collapse:collapse;
	color:#fff;
}

.dr-table-cell {
	color:#666;
	padding:6px;
	vertical-align: top;
}

.dr-table tr{
	border:1px dotted gray;
}

.dr-table tr:hover {
	background:#d4def0;
	border:1px solid #00418c;
	color:#666;
}



.dr-subtable-cell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	font-size: 11px;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
}

.dr-table-header {
	border:1px solid #00418c;
	background:#ccc;
	color:#00418c;
	font-weight:bold;
	padding:6px 4px 8px 0px;
	text-align:center;
	text-transform:uppercase;
}

.dr-table-header-continue {
	background-color: #D4CFC7;
}

.dr-table-headercell {
	color:#666;
	padding:6px;
	vertical-align: top;
}

.dr-table-subheader {
	background-color: #F1EEE9;
}

.dr-table-subheadercell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	text-align: center;
	font-size: 11px;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
}

.dr-table-footer {
	background-color: #ccc;
}

.dr-table-footer-continue {
	background-color: #ccc;
}

.dr-table-footercell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	color: #000;
	text-align: left;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial, Verdana, sans-serif;
}

.dr-table-subfooter {
	background-color: #f1f1f1;
}

.dr-table-subfootercell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	text-align: left;
	font-size: 11px;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
}

.dr-subtable-header {
	background-color: #F1EEE9;
}

.dr-subtable-headercell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	text-align: center;
	font-size: 11px;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
}

.dr-subtable-footer {
	background-color: #f1f1f1;
}

.dr-subtable-footercell {
	border-right: solid 1px #C4C0C9;
	border-bottom: solid 1px #C4C0C9;
	padding: 4px 4px 4px 4px;
	text-align: left;
}

