.border1 {
	border: 1px solid #FFFFFF;
}

.errorMessage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: red;
}

.opciones {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	line-height: 17px;
}
.border2 {
	border: 1px solid #ACAEC5;
	padding-top: 2px;
}
.tabla1 {
	font-size: 11px;
	text-align: center;
}
.tabla1a {
	text-align: center;
	border: 0px solid #FFFFFF;
	height: 28px;
	vertical-align: middle;
}

.tabla1v {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #CDCFDD;
	vertical-align: middle;
}

.textfield1 {
	font-family: arial;
	font-size: 11px;
	color: #666666;
	padding-left: 4px;
}

.textfield2 {
	font-family: arial;
	font-size: 36px;
	color: #666666;
	padding-left: 4px;
	background-color: #CDCFDD;
	font-weight: bold;
}
.tabla2 {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #F7D4CA;
	border: 1px solid #FFFFFF;
	font-weight: bold;
}
.tabla2a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #FBEAE5;
	border: 1px solid #FFFFFF;
	height: 28px;
	font-weight: bold;
}
.border2a {

	border: 1px solid #ACAEC5;
}
.textfield2 {
	font-family: arial;
	font-size: 11px;
	color: #151C5C;
	padding-left: 4px;

}
.tabla2b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8B1717;
	text-align: center;
	background-color: #FBEAE5;
	border: 1px solid #FFFFFF;
	height: 28px;

}

.tabla2c {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #8B1717;
	text-align: left;
	background-color: #FBEAE5;
	border: 1px solid #FFFFFF;
	height: 28px;
}
.border3 {
	border: 1px solid #151C5C;
	padding-top: 2px;
	background-color: #CDCFDD;
}
.tabla3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	background-color: #5B608D;
	border: 1px solid #FFFFFF;
	height: 18px;
	vertical-align: middle;
	font-weight: bold;
}
.tabla3a {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #CDCFDD;
	border: 1px solid #FFFFFF;
	vertical-align: middle;
}
.tabla3b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #151C5C;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 18px;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}
.tabla3b1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #151C5C;
	text-align: left;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 18px;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}
.tabla3c {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #151C5C;
	text-align: center;
	background-color: #F3F4F7;
	border: 1px solid #FFFFFF;
	height: 18px;
	vertical-align: middle;
	padding-right: 5px;
	padding-left: 5px;
}
.tabla2aLogin {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #CDCFDD;
	border: 1px solid #FFFFFF;
	height: 28px;
}
.tabla2login {


	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #ABADC5;
	border: 1px solid #FFFFFF;
}
.tabla2aLoginA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: center;
	background-color: #CDCFDD;
	border: 1px solid #FFFFFF;
	height: 28px;
	font-weight: bold;
}
.tabla1aIZQ {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #151C5C;
	text-align: left;
	background-color: #CDCFDD;
	border: 1px solid #FFFFFF;
	height: 28px;
	vertical-align: middle;
	padding-left: 6px;
	font-weight: bold;
}
.tabla2IZQ {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #151C5C;
	text-align: left;
	background-color: #F7D4CA;
	border: 1px solid #FFFFFF;
	padding-left: 6px;
}
.NoValidacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #151C5C;
	padding-left: 6px;
	height: 18px;
	text-align: center;
	padding-right: 6px;
}
.NoValidacion1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #151C5C;
	text-align: center;

}

.EstiloTablaMenu{
	background-color: #151C5C
}

.EstiloLetraMenu{
	color: #FFFFFF; 
	font-family: Arial;
	font-style: italic;
	font-weight: bold	
}

.txtFechaOps{
	margin-left: 45px;
}
