<ui:composition template="/templates/menu.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

	<!-- parametro para los titulos de las paginas-->
	<ui:param name="pageTitle" value="#{label.lblTituloApp}" />

	<!-- parametros para los titulos de los formularios -->
	<ui:param name="contentHeader" value="#{label.lblTituloApp}" />

	<!-- Nombre del formulario -->
	<ui:define name="pageName">
		<h:outputText value="#{contentHeader}" style="color: #FFFFF;" />
	</ui:define>

	<ui:define name="content">
		<h:form id="formCierreCaja">
			<a4j:jsFunction name="init"
				actionListener="#{cierreCajaBean.reloadPage}"
				reRender="formCierreCaja" />
			<script>window.onload = init;</script>
			
			<rich:panel id="panelDatosCierre" header="Datos de cierre"
				style="width:65%">
				<h:panelGrid columns="2" id="panelGridContentUno"
					style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:100%">
					<h:panelGrid columns="2" id="panelGridFechaRes"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:100%">
						<h:outputText id="labelFecha" value="Fecha cierre:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelFechaNow"
							value="#{cierreCajaBean.fechaApertura}"
							style="font-weight: bold; float:left;">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<h:outputText id="labelResponsable" value="Responsable:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelResponsableText"
							value="#{cierreCajaBean.usuarioWebVO.prmrNmbreUsro} #{cierreCajaBean.usuarioWebVO.sgndoNmbreUsro} #{cierreCajaBean.usuarioWebVO.prmrAplldoUsro} #{cierreCajaBean.usuarioWebVO.sgndoAplldoUsro}"
							style="font-weight: bold; float:left;">
						</h:outputText>
					</h:panelGrid>
					<h:panelGrid columns="2" id="panelGridUsuOfi"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:100%">
						<h:outputText id="labelUser" value="Usuario:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelLogin" value="#{cierreCajaBean.userLogin}"
							style="font-weight: bold; float:left;" />
						<h:outputText id="labelOficina" value="Oficina:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelOficinaResult"
							value="#{cierreCajaBean.oficinaVO.descripcionOficina}"
							style="font-weight: bold; float:left;" />
					</h:panelGrid>
				</h:panelGrid>
			</rich:panel>
			<rich:panel id="panelCuadreFisico" header="Detalle Cuadre Fisico"
				style="width:65%">
				<h:panelGrid columns="2" id="panelGridBase"
					style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:130px">
					<h:outputText id="labelBse" value="Base:"
						style="font-weight: bold; text-align:left;" />
					<h:outputText id="labelBseText"
						value="#{cierreCajaBean.movimientosCajaVO.bse}"
						style="font-weight: bold; float:left;">
						<f:convertNumber pattern="$#,##0" />
					</h:outputText>
				</h:panelGrid>
				<br />
				<h:panelGrid columns="2" id="panelGridTablas"
					columnClasses="column_top,column_top"
					style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; margin: 0 auto;">
					<rich:dataTable id="tablaBiletes"
						style="font-size: 12px; width:100%;"
						value="#{cierreCajaBean.listBilletes}" var="billete">
						<f:facet name="header">
							<h:outputText value="Billetes" style="font-size: 12px" />
						</f:facet>
						<rich:column style="width:40%;">
							<f:facet name="header">
								<h:outputText value="Denominacion" style="font-size: 12px" />
							</f:facet>
							<h:outputText value="#{billete.denominacion}"
								style="font-size: 12px">
								<f:convertNumber pattern="$#,##0" />
							</h:outputText>
						</rich:column>
						<rich:column style=" width:20%">
							<f:facet name="header">
								<h:outputText value="Cantidad" style="font-size: 12px;" />
							</f:facet>
							<rich:inputNumberSpinner id="spninnerCantidadBilletes"
								inputSize="3" value="#{billete.cantidad}" minValue="0"
								maxValue="10000" style="font-size: 12px">
								<a4j:support event="onchange"
									reRender="valor, labelTotalEfecRecaudoText, labelTotalNotasCreditoText, labelRecaudoText, labelTotalCajaText, labelFaltanteText, labelSobranteText"
									action="#{cierreCajaBean.calcularEfectivoRecaudo}">
									<f:setPropertyActionListener value="#{billete}"
										target="#{cierreCajaBean.denominacionSelecciona}" />
								</a4j:support>
							</rich:inputNumberSpinner>
						</rich:column>
						<rich:column style=" width:40%">
							<f:facet name="header">
								<h:outputText value="Valor" style="font-size: 12px" />
							</f:facet>
							<h:outputText id="valor"
								value="#{billete.denominacion * billete.cantidad}"
								style="font-size: 12px">
								<f:convertNumber pattern="$#,##0" />
							</h:outputText>
						</rich:column>
					</rich:dataTable>
					<rich:dataTable id="tablaMonedas"
						style="vertical-align: top;  margin-left: 50px;"
						value="#{cierreCajaBean.listMonedas}" var="moneda">
						<f:facet name="header">
							<h:outputText value="Monedas" style="font-size: 12px" />
						</f:facet>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Denominacion" style="font-size: 12px" />
							</f:facet>
							<h:outputText value="#{moneda.denominacion}"
								style="font-size: 12px">
								<f:convertNumber pattern="$#,##0" />
							</h:outputText>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Cantidad" style="font-size: 12px" />
							</f:facet>
							<rich:inputNumberSpinner id="spninnerCantidadMonedas"
								style="font-size: 12px" inputSize="3" value="#{moneda.cantidad}"
								minValue="0" maxValue="10000">
								<a4j:support event="onchange"
									reRender="valor, labelTotalEfecRecaudoText, labelTotalNotasCreditoText, labelRecaudoText, labelTotalCajaText, labelFaltanteText, labelSobranteText"
									action="#{cierreCajaBean.calcularEfectivoRecaudo}">
									<f:setPropertyActionListener value="#{moneda}"
										target="#{cierreCajaBean.denominacionSelecciona}" />
								</a4j:support>
							</rich:inputNumberSpinner>
						</rich:column>
						<rich:column>
							<f:facet name="header">
								<h:outputText value="Valor" style="font-size: 12px" />
							</f:facet>
							<h:outputText id="valor" style="font-size: 12px"
								value="#{moneda.denominacion * moneda.cantidad}">
								<f:convertNumber pattern="$#,##0" />
							</h:outputText>
						</rich:column>
					</rich:dataTable>
				</h:panelGrid>
			</rich:panel>
			<rich:panel id="panelRecaudoFisico" header="Recaudo Fisico"
				style="width:65%">
				<h:panelGrid columns="2" id="panelGridValoresRecaudoFisico"
					style="width:200px; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
					<h:panelGrid id="pnlLabelRecaudoFisico"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
						<h:outputText id="labelTotalEfecRecaudo"
							value="Total efectivo recaudo:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelTotalNotasCredito"
							value="Total notas credito:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelRecaudo" value="Total recaudo:"
							style="font-weight: bold; text-align:left;" />
					</h:panelGrid>


					<h:panelGrid id="pnlValuesRecaudoFisico"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
						<h:outputText id="labelTotalEfecRecaudoText"
							value="#{cierreCajaBean.totalEfectivoRecaudo}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>

						<h:outputText id="labelTotalNotasCreditoText"
							value="#{cierreCajaBean.totalNotasCredito}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>

						<h:outputText id="labelRecaudoText"
							value="#{cierreCajaBean.totalRecaudo}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>
					</h:panelGrid>
				</h:panelGrid>

				<h:messages id="mensajesErrorTemp"
					style="color:red; font-size: 12px;" />

				<h:panelGrid columns="1" id="panelGridContentBotones"
					style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:100%;">
					<h:panelGrid columns="2" id="panelGridBotonesGruop"
						style="text-align: right; width:20%; float:right;">
						<a4j:commandButton id="buttonAceptar" value="Cerrar caja"
							onclick="#{rich:component('waitPanel')}.show('',{top:'200px', left:'560px',height:'100px', width:'120px'})"
							styleClass="aceptar"
							oncomplete="#{rich:component('modalConfirmacionCierre')}.show()"
							reRender="modalConfirmacionCierre, panelGridContentReporte"
							ajaxSingle="true" />
						<a4j:commandButton id="btnSalir" value="Salir"
							styleClass="aceptar" action="Consultar Afiliado" />
					</h:panelGrid>
				</h:panelGrid>
			</rich:panel>
			<rich:panel id="panelCuadreCaja" header="Cuadre de caja"
				style="width:65%">
				<h:panelGrid columns="2" id="panelGridValoresCuadreCaja"
					style="width:290px; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">
					<h:panelGrid id="pnlCuadreLabels"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"
						columns="1">
						<h:outputText id="labelTotalCaja" value="Total en caja:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelFaltante" value="Faltante:"
							style="font-weight: bold; text-align:left;" />
						<h:outputText id="labelSobrante" value="Sobrante:"
							style="font-weight: bold; text-align:left;" />
					</h:panelGrid>

					<h:panelGrid id="pnlCuadreValues"
						style="font-size: 12px; font-family: Arial, Helvetica, sans-serif;"
						columns="1">
						<h:outputText id="labelTotalCajaText"
							value="#{cierreCajaBean.totalCaja}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>

						<h:outputText id="labelFaltanteText"
							value="#{cierreCajaBean.totalFaltante}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>

						<h:outputText id="labelSobranteText"
							value="#{cierreCajaBean.totalSobrante}"
							style="font-weight: bold; float:left;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>
					</h:panelGrid>
				</h:panelGrid>
				<rich:dataTable id="tableCausales" width="98%"
					value="#{cierreCajaBean.listCausalesDescuadreConValorReporte}"
					var="causal" rows="15">
					<rich:column visible="#{cierreCajaBean.mostrarTablaCausalesCierre}">
						<f:facet name="header">
							<h:outputText value="Causal descuadre" style="font-size: 12px;" />
						</f:facet>
						<h:outputText value="#{causal.dscrpcnCslDscdre}"
							style="font-size: 12px;" />
					</rich:column>
					<rich:column visible="#{cierreCajaBean.mostrarTablaCausalesCierre}">
						<f:facet name="header">
							<h:outputText value="Valor" style="font-size: 12px;" />
						</f:facet>
						<h:outputText value="#{causal.valorPopup}"
							style="font-size: 12px;">
							<f:convertNumber pattern="$#,##0" />
						</h:outputText>
					</rich:column>
				</rich:dataTable>
				<rich:dataTable id="tableFooter" width="98%">
					<rich:column visible="#{cierreCajaBean.mostrarTablaCausalesCierre}">
						<f:facet name="footer">
							<rich:datascroller for="tableCausales" />
						</f:facet>
					</rich:column>
				</rich:dataTable>
			</rich:panel>
			<br />
			<h:panelGrid columns="1" id="panelGridContentReporte"
				rendered="#{cierreCajaBean.mostrarBotonesCierre}"
				style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; width:65%;">
				<h:panelGrid columns="2" id="panelGridBotonesReporte"
					style="text-align: right; width:20%; float:right;">
					<h:commandButton value="Ver Detalle" id="btnVerDetalle"
						action="#{cierreCajaBean.verDetalle}" styleClass="aceptar" />
					<h:commandButton value="Descargar" styleClass="aceptar"
						id="btnDescargar" action="#{cierreCajaBean.generarInformeCierre}" />
				</h:panelGrid>
			</h:panelGrid>
		</h:form>
		<ui:include src="popup/causalesDescuadrePopup.xhtml" />
		<ui:include src="popup/confirmacionCierrePopup.xhtml" />
	</ui:define>
</ui:composition>