<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<rich:panel header="Información Afiliado">
		<table
			style="font-size: 90%; font-family: Arial, Helvetica, sans-serif;">
			<tr>
				<td><h:outputText value="Identificación:"
						style="font-weight: bold;" /></td>
				<td><h:outputText value="CC" /></td>
				<td><h:outputText value="94523429" /></td>
				<td><h:outputText value="Fecha Radicación"
						style="font-weight: bold;" /></td>
				<td><h:outputText value="2015/04/24" /></td>
				<td><h:outputText value="Número Solicitud"
						style="font-weight: bold;" /></td>
				<td><h:outputText value="1201452" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Nombre Afiliado:"
						style="font-weight: bold;" /></td>
				<td colspan="3"><h:outputText
						value="Diego Fernando Polo Hernández" /></td>
				<td><h:outputText value="Tipo:" style="font-weight: bold;" /></td>
				<td><h:outputText value="Cotizante" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Edad Años:"
						style="font-weight: bold;" /></td>
				<td><h:outputText
						value="36" /></td>
				<td><h:outputText value="Género:" style="font-weight: bold;" /></td>
				<td><h:outputText value="M" /></td>
			</tr>
			<tr>
				<td><h:outputText value="Ciudad:"
						style="font-weight: bold;" /></td>
				<td colspan="2"><h:outputText
						value="Cali" /></td>
				<td><h:outputText value="Dir. Residencia:" style="font-weight: bold;" /></td>
				<td><h:outputText value="Cali" /></td>
				<td><h:outputText value="Plan:" style="font-weight: bold;" /></td>
				<td><h:outputText value="Bienestar" /></td>
			</tr>
		</table>
	</rich:panel>

</ui:composition>